{
  "openapi": "3.1.0",
  "info": {
    "title": "WhatsGW API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.whatsgw.com.br/api",
      "description": "Produção (REST)"
    },
    {
      "url": "https://pooling.whatsgw.com.br/api",
      "description": "Pooling de eventos (GetEvents)"
    }
  ],
  "tags": [
    {
      "name": "Introdução",
      "description": "API Rest para trabalhar com a plataforma WhatsGW\n\nAntes de começar siga o tutorial do sistema, ele vai te ajudar a checar se está tudo devidamente configurado para você fazer o envio da sua primeira mensagem!\n\n**Integração com a API do WhatsGW**\n\nA integração com a API do WhatsGW permite que você envie e receba mensagens do WhatsApp por meio de uma interface programática. Aqui estão algumas informações importantes para usar a API:\n\n**Métodos:**  \nTodos os métodos da API suportam tanto requisições POST quanto GET. No entanto, é importante notar que a via GET possui uma limitação de tamanho. Portanto, ao enviar requisições grandes, é recomendável utilizar o método POST.\n\n**Retorno Assíncrono:**  \nAlguns métodos retornam a mensagem \"wait result on event\". Isso significa que o resultado da operação não será retornado imediatamente. Para obter o resultado, você precisará configurar um webhook e receber a informação no seu endpoint. Dessa forma, o resultado será enviado para você assim que estiver disponível.\n\nCertifique-se de implementar a lógica adequada para lidar com os retornos assíncronos, configurando corretamente o webhook e tratando as respostas recebidas.\n\n**Recomendações de Uso:**\n\n- Utilize o método POST para requisições grandes (medias).\n    \n- Configure um webhook para receber informações de retorno assíncrono.\n    \n\nAo seguir essas recomendações, você poderá realizar integrações eficientes e confiáveis com a API do WhatsGW."
    },
    {
      "name": "Envio e gestão",
      "description": "Métodos para enviar e gerenciar mensagens: envio, envio em lote, cancelar, excluir, limpar conversa e baixar mídia."
    },
    {
      "name": "Templates (Meta Oficial)",
      "description": "Templates de mensagem (HSM) do WhatsApp Oficial — criar, enviar para aprovação na Meta e gerenciar."
    },
    {
      "name": "Grupos",
      "description": "Criação e administração de grupos do WhatsApp."
    },
    {
      "name": "Perfil",
      "description": "Foto, nome e status do perfil conectado.\n\nDados do Número Conectado"
    },
    {
      "name": "Chat",
      "description": "Conversas: listar, obter dados e enviar indicadores (digitando, gravando, pausado)."
    },
    {
      "name": "Instância",
      "description": "Criação e gerenciamento de instâncias — conexão por QR Code ou código de pareamento."
    },
    {
      "name": "Telefone",
      "description": "Telefones conectados: listagem, status e configurações."
    },
    {
      "name": "Base de Conhecimento (IA)",
      "description": "Base de conhecimento que alimenta o bot de IA — sincronização de documentos por referência."
    },
    {
      "name": "IA — Agentes (Prompts, Logs e Playground)",
      "description": "Operação dos bots de IA por agentes/automações: leitura e edição de prompts (com versionamento automático e rollback), logs de execução, métricas e conversa de teste via playground (sem WhatsApp).\n\nToda edição de prompt por estes endpoints cria versão auditada (origem `agente`) — reversível via `IaPromptRestaurarVersao`. Rate limit por empresa: 60 req/min (playground 10/min, melhorar 5/min) — excedeu, HTTP `429`; aguarde alguns segundos."
    },
    {
      "name": "Conta e utilidades",
      "description": "Saldo, relatórios, verificação de números e busca de eventos (pooling)."
    },
    {
      "name": "Envio Texto e Mídia Exemplos",
      "description": "Exemplos prontos de envio — copie o corpo e ajuste seus dados.\n\nNessa sessão você vai encontrar exemplos prontos das requisições por tipo de mensagem, basta alterar o seu apikey, phone_number, e contact_phone_number"
    },
    {
      "name": "Envios Botões",
      "description": "Exemplos prontos de envio — copie o corpo e ajuste seus dados.\n\n##### O envio de mensagens utilizando botões voltou a ser disponibilizado em 15/02/2025, e os dados apresentados sobre o funcionamento dos botões estão baseados nesta data. É importante destacar que as atualizações do WhatsApp podem alterar o comportamento dos botões."
    },
    {
      "name": "Envios (Meta Oficial)",
      "description": "Exemplos de envio de **template oficial** (WhatsApp Cloud API).\n\n## Envio de mensagens template (WhatsApp Cloud API)\n\nEsta coleção contém exemplos de envio de mensagens do tipo template (`type: \"template\"`), usadas quando o negócio inicia ou retoma conversas com o cliente pelo WhatsApp Business.\n\n### Por que usar template?\n\n- Fora da janela de atendimento de 24 horas, só é permitido enviar mensagens que usem modelos aprovados pela Meta (templates).\n    \n- Templates definem nome, idioma, categoria (ex.: marketing, utilidade, autenticação) e componentes (cabeçalho, corpo, rodapé, botões) já validados na Meta.\n    \n- O envio “livre” (texto, mídia, etc. sem template) só é permitido dentro da janela de 24h após a última mensagem do usuário (ver abaixo).\n    \n\n### Janela de 24 horas (customer care window)\n\n- Quando o usuário envia uma mensagem para o seu número, abre-se uma janela de 24 horas em que você pode responder com mensagens normais (sessão), sem precisar de template para cada envio.\n    \n- Depois que essa janela expira (24h sem nova mensagem do usuário), para iniciar ou continuar a conversa do seu lado é preciso usar de novo um template aprovado (ou o usuário precisa mandar outra mensagem para reabrir a janela).\n    \n\n### Boas práticas nestes exemplos\n\n- Use o mesmo nome e idioma do template cadastrado e aprovado no WhatsApp Manager.\n    \n- Preencha parâmetros do cabeçalho/corpo conforme o modelo (variáveis `{{1}}`, `{{2}}`, etc.).\n    \n- Header de documento/imagem/vídeo: envie o parâmetro no componente `header` (tipo `document` / `image` / `video`), não misture componentes `body` dentro do array `parameters` do `header` — cada componente (`header`, `body`, `footer`, `button`) é um item separado no array `template.components`.\n    \n\nReferência: [WhatsApp Cloud API – Message templates](https://developers.facebook.com/docs/whatsapp/cloud-api/guides/send-message-templates)"
    },
    {
      "name": "Eventos de Mensagem",
      "x-displayName": "Mensagem",
      "description": "Mensagens recebidas e status de envio."
    },
    {
      "name": "Eventos de Instância",
      "x-displayName": "Instância",
      "description": "Conexão, QR Code/pareamento, saúde da conta e sincronização de histórico."
    },
    {
      "name": "Eventos de Voz",
      "x-displayName": "Voz",
      "description": "Chamadas de voz/vídeo (recebidas e feitas)."
    },
    {
      "name": "Eventos de Grupos",
      "x-displayName": "Grupos",
      "description": "Retornos de operações de grupo."
    },
    {
      "name": "Eventos de Chat",
      "x-displayName": "Chat",
      "description": "Retornos de operações de chat."
    },
    {
      "name": "Eventos diversos",
      "x-displayName": "Diversos",
      "description": "Presença, verificação de números e telefone."
    },
    {
      "name": "Introdução aos eventos",
      "description": "**Integração com Webhook para Recebimento de Informações**\n\nO WhatsGW oferece a funcionalidade de enviar diversas informações para o seu endpoint, como mensagens recebidas, status de mensagens enviadas, QRCode de instâncias, lista de grupos e muito mais. Para que essas informações sejam enviadas ao seu sistema, é necessário configurar um endpoint na plataforma e desenvolver uma aplicação para lidar com esses eventos.\n\nAqui está uma explicação detalhada de como configurar e utilizar o Webhook:\n\n1. Configurando o Endpoint:  \n    Antes de receber as informações do WhatsGW, você precisa configurar um endpoint na plataforma. Esse endpoint é a URL do seu servidor ou serviço onde deseja receber os dados. Certifique-se de que o seu endpoint esteja configurado corretamente e seja capaz de lidar com as solicitações recebidas.\n2. Criando uma Aplicação:  \n    Após configurar o endpoint, você precisará desenvolver uma aplicação para tratar os eventos recebidos. Essa aplicação será responsável por receber os dados enviados pelo WhatsGW e processá-los de acordo com as necessidades do seu sistema. Você pode utilizar a linguagem de programação de sua preferência para criar essa aplicação.\n3. Lidando com os Eventos:  \n    O WhatsGW enviará os eventos e informações para o seu endpoint configurado. É importante que a sua aplicação seja capaz de receber esses eventos e tratá-los adequadamente. Por exemplo, você pode extrair informações como remetente, conteúdo da mensagem ou status de entrega e armazená-las em seu sistema ou realizar ações específicas com base nesses dados.\n4. Monitorando os Eventos:  \n    Após configurar o Webhook, você poderá monitorar os eventos e seus respectivos status na seção \"Monitoração\" da plataforma do WhatsGW. Acesse a página \"Relatórios\" e clique em \"Webhook\" para visualizar as informações enviadas para o seu endpoint e verificar o status de cada evento.\n    \n\nCertifique-se de que sua aplicação esteja devidamente configurada para receber as informações corretamente e tratar os eventos de acordo com as necessidades do seu sistema. Caso enfrente dificuldades ou precise de suporte adicional, entre em contato com a equipe de suporte do WhatsGW para obter assistência.\n\nEm nosso **GitHub** fornecemos exemplos de webhook em diversas linguagens"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Métodos",
      "tags": [
        "Introdução",
        "Envio e gestão",
        "Envio Texto e Mídia Exemplos",
        "Envios Botões",
        "Envios (Meta Oficial)",
        "Templates (Meta Oficial)",
        "Grupos",
        "Perfil",
        "Chat",
        "Instância",
        "Telefone",
        "Base de Conhecimento (IA)",
        "IA — Agentes (Prompts, Logs e Playground)",
        "Conta e utilidades"
      ]
    },
    {
      "name": "Eventos (webhooks)",
      "tags": [
        "Introdução aos eventos",
        "Eventos de Mensagem",
        "Eventos de Instância",
        "Eventos de Voz",
        "Eventos de Grupos",
        "Eventos de Chat",
        "Eventos diversos"
      ]
    }
  ],
  "paths": {
    "/WhatsGw/Send": {
      "post": {
        "operationId": "Send",
        "tags": [
          "Envio e gestão"
        ],
        "summary": "Send",
        "description": "Envia uma mensagem pelo WhatsApp. O **tipo** é definido no corpo: texto, mídia (imagem, vídeo, áudio, documento), botões, **template** (Meta oficial), enquete, contato (vCard), localização, reação e resposta.\n\n👉 Veja **exemplos prontos por tipo** em **Métodos** → *Envio Texto e Mídia Exemplos*, *Envios Botões* e *Envios (Meta Oficial)* (copie o corpo e ajuste seus dados).\n\n**Formatação de texto:** `\\n` quebra de linha, `_itálico_`, `*negrito*`, `~tachado~`, ```monoespaçado```. Emojis unicode são suportados.\n\n**Validações no envio por template (WhatsApp Oficial / Meta)** — recusadas na hora, com `result: fail` e o motivo em `result_message`:\n- **Quantidade de parâmetros:** o número de itens em `template.components[].parameters` do componente `body` precisa ser igual ao de variáveis (`{{1}}`, `{{2}}`…) do template aprovado. Enviar a mais ou a menos era aceito e falhava depois, na entrega (erro `#132000` da Meta).\n- **Envio para o próprio número:** `contact_phone_number` não pode ser igual ao `phone_number` da instância — a Meta recusa mensagem para o próprio número (erro `#100`).\n\nAtenção também à **ordem** dos parâmetros: eles são posicionais e seguem `{{1}}`, `{{2}}`, … na sequência em que aparecem no texto do template.",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Envio_de_Mensagem_Texto_JSON": {
                  "summary": "Envio de Mensagem (Texto) JSON",
                  "description": "As requisições de envio de mensagem podem ser enviada por form-urlencoded ou raw (JSON), esse é um exemplo de como enviar uma mensagem de texto simples utilizando JSON",
                  "value": {
                    "apikey": "B3CA76C2-07F3-47E6-A2F8-YOWAPIKEY",
                    "phone_number": "5511999999999",
                    "contact_phone_number": "5511988888888",
                    "message_custom_id": "yoursoftwareid",
                    "message_type": "text",
                    "message_body": "Teste de Msg\n_Italico_ \n*negrito*\n~tachado~\n```Monoespaçado```\n😜"
                  }
                },
                "Envio_de_Mensagem_Texto": {
                  "summary": "Envio de Mensagem (Texto)",
                  "description": "Envia uma mensagem do tipo Texto\n\nFormatação: \\\\n = Quebra de linha, *Italico*, *negrito*, \\~tachado\\~, \\`\\`\\`Monoespaçado\\`\\`\\`, você pode adicionar emojis unicode 😜[⏰](https://apps.timwhitlock.info/emoji/tables/unicode#emoji-modal) ([https://apps.timwhitlock.info/emoji/tables/unicode](https://apps.timwhitlock.info/emoji/tables/unicode))\n\n**Campos:**\n- `apikey`: API Key obtido no WhatsGW\n- `phone_number`: Número do Telefone (WhatsGW)\n- `contact_phone_number`: Número do Telefone de Destino ou o Id do Grupo (recuperado pelo método Lista todos os Grupos)\n- `message_custom_id`: Id para uso livre (recomendamos utilizar um id do seu sistema que vc possa identificar a menagem)\n- `message_type`: Tipo da Mensagem (text, image, document, video, audio, ptt)\n- `message_body`: Mensagem a ser Enviada\n- `check_status`: Se igual 0 e o phone_number estiver desconectado o sistema vai aceitar a mensagem e enviar quando o mesmo for conectado (default 1, o valor padrão pode ser configurado na opção Administração->Telefones)\n- `schedule`: Data e Hora em que a menagem deverá ser enviada\n- `message_to_group`: Se igual 1 a API vai considerar o destino como um grupo (default 0)\n- `w_instancia_id`: Informe quando você quiser enviar uma mensagem utilizando o ID da instância, nesse caso você pode enviar branco o phone_number\n- `simule_typing`: Informe 1 quando quiser que o sistema simula digitação antes de enviar a mensagem, ou 0 para não fazer nada, default 1.\n- `message_chat_type`: user, group, lid, newsletter",
                  "value": {
                    "apikey": "B3CA76C2-07F3-47E6-A2F8-YOWAPIKEY",
                    "phone_number": "5511999999999",
                    "contact_phone_number": "5511999999999",
                    "message_custom_id": "mysoftwareid",
                    "message_type": "text",
                    "message_body": "Teste de Msg\\n_Italico_ \\n*negrito*\\n~tachado~\\n```Monoespaçado```\\n😜",
                    "check_status": "1",
                    "schedule": "2021/04/01 21:00:00",
                    "message_to_group": "0",
                    "w_instancia_id": "888",
                    "simule_typing": "1",
                    "message_chat_type": "user"
                  }
                },
                "Envio_de_Mensagem_Media_from_base64": {
                  "summary": "Envio de Mensagem (Media from base64)",
                  "description": "**OBRIGATÓRIO O ENVIO PELO METODO POST**\n\nNós não adequamos o arquivo a ser enviado, ele tem que estar no padrão que o Web WhatsApp suporta. Para fazer um teste, baixe um arquivo do seu Web WhatsApp e tente envia-lo.\n\n**Campos:**\n- `apikey`: API Key obtido no WhatsGW\n- `phone_number`: Número do Telefone Origem\n- `contact_phone_number`: Número do Telefone de Destino ou o Id do Grupo\n- `message_custom_id`: Id para uso livre\n- `message_type`: Tipo da Mensagem (image, document, video, audio, ptt)\n- `message_caption`: Descrição da media enviada\n- `message_body_mimetype`: Tipo do arquivo (obrigatório se utilizar base64) ex: application/pdf, image/jpeg, audio/ogg; codecs=opus, video/mp4\n- `message_body_filename`: Nome do arquivo com Extensão (obrigatório se utilizar base64)\n- `message_body`: URL do arquivo (para enviar a mensagem no formato link) ou arquivo em base64 (para enviar o arquivo como mensagem)",
                  "value": {
                    "apikey": "B3CA76C2-07F3-47E6-A2F8-YOWAPIKEY",
                    "phone_number": "5511999999999",
                    "contact_phone_number": "5511988888888",
                    "message_custom_id": "yowsoftwareid",
                    "message_type": "image",
                    "message_caption": "my caption",
                    "message_body_mimetype": "image/jpeg",
                    "message_body_filename": "file.jpg",
                    "message_body": "/9j/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wAARCAZABdwDASIAAhEBAxEB/8QAHgABAAIBBQEBAAAAAAAAAAAAAAUGBAECAwgJBwr/xAB5EAABAwICBQUMCAMEBgUDACsBAAIDBAUGEQcIEiExE0FRcZEJFBUWIjI1UlRhcoEzNEJTc5KhsSNiwQqC0eUXGiRDRKclWFmi4Rg5Y8LwGXeTpbK1xdImN1VWV3WDhoeztuLxOEVIZHZ4hKO0RkdJZ3SUlpem09T/xAAdAQEAAQQDAQAAAAAAAAAAAAAABgEEBQcCAwgJ/8QAQhEAAgEDAgMFBwIEBQMEAQUAAAECAwQRBQYSITEHE0FRYQgUInGBkaEysUJSwdEVI2Lh8BZy8SQzgpKiFzRDU7L/2gAMAwEAAhEDEQA/APe8nfu4c6gcV5GtiP8AKtfGyryy7zZ2LlggbiUd81P8IxnZAbwKAiEU34rUntTu1PFak9qd2oCEQ8FN+K1J7U7tTxWpPandqAgiSRvG9WWwkC2R5nmWOMKUR/4t29Y8l5ls8htkEDXti3BzhvKAncx0hMx0hQPjXV+xs7E8a6v2NnYgJ7MdITMdIUD411fsbOxPGur9jZ2ICcORaczvyPFVGT6VxHrb1JjFVW7yTSs37t4WQMMUkn8Xvlw2t+SAhEU34rUntTu1PFak9qd2oCERTfitSe1O7U8VqT2p3agIu0H/AKTiP86tAIAGZ5lEyWWC1sNwhmL3ReUGu4FcHjXWZ/U2diAnsx0hMx0hQPjXV+xs7E8a6v2NnYgJ7MdIWhLcvOUF411fsbOxPGur9jZ2IDJxST3pGT94oQHNSsFS7Eju9KmMRtZ5QLFzeKtGBuqndqAhEU34rUntTu1PFak9qd2oCEURikslntlvk3snuIEjTzhrHuy7Q1XLxWpPandqw7xo6tN7jjbU107HQv24pIZNlzTllmCgMG2d/XC6mz0lydTNjg5VzmMBLjtZAb+bip20WIWyqluFTXvqJ5mNYZHtDQGgkgADrKg4qC36Oqh9V3/JUOmYA6aumB2QDuAO5R15xRTYlxFQULoKWqgbFI98YIe3PcASM/eq5yynRF+2mng4dq1zHSFQ8MXp1rxHdqOgt8UcDOR2YmDyQSzM5BT3jXV+xs7FQqT2Y6QgILhkedQPjXV+xs7EGLatvld5s3e5AYl59KzZdIWODzZqajs1PdmeEZZi10u8tHALcMK0Y4VTu1AQiKb8VqT2p3anitSe1O7UBCIPOb8QU34rUntTu1DhekY3lBVOJaM8ulAScZAjbmfsD9luzHSFAnFVU07DaNmTdw3dCeNdX7GzsQE9mOkJmOkKB8a6v2NnYnjXV+xs7EBOlwHOsW9Z+CpsxzKM8a6v2NnYt0V7qLxILZPA1jZTkXDiEBFt4DqRTfirSN3d9u3e9PFak9qd2oCERTfitSe1O7U8VqT2p3agIM557vmpPCv16T4Fk+K1J7U7tXHUQNwy0VdMeVMnkkO5kBMAjIb1rmOkKB8a6v2NnYnjXV+xs7EBPZjpCZjpCgfGur9jZ2J411fsbOxATrnDLcoHFGXhJuX3YWvjXV+xs7Fy09IzEje/ql/JlvkgN4ICIRTfitSe1O7U8VqT2p3agIRFN+K1J7U7tTxWpPandqAg3cCrRasvB0WZ+ysPxVpDuNU5cEt9mtkht0MDXti3Bx4lATe0Ola5jpCgfGur9jZ2J411fsbOxAT2Y6QmY6QoHxrq/Y2dieNdX7GzsQELp7mywdFC0+dVgnqDHf4hdfDNFC9hmbtMfUMY4dIc8N/qvsenbFNTLZaKB1KwB9SQch7l818WKORmT6gkO3lpGeaAlNI9dPB3pQU9VLEXbT3cjIWk5bhw61VJp3Z8rWVj3nLIPnlJOXRmVKtwtbaby43FpJy8hm8+7cpDC+GaWoxBAXMke2MOc8SwkDLLLnHvXJtyZToitMkZINqN4cOkHNXLQjFt4tlkI8yjdl1lzf8AxUTeMM0ZxbdZYncnGZomtYxuQGULM9w95V20E4VpZL7WPNS4bNMP/alRrDKn0GzelIus/srKeHz4KJltENnjNyhlL3RcGk7jmuDxsrDv7yYPkqAnQQOJWuY6QoHxrq/Y2dieNdX7GzsQE9mOkJmOkKB8a6v2NnYgxXV89GzsQHPir6CP4j+yhlLQzHExMFQ0RCMZgt51y+K1J7W7tQEIim/Fak9qd2p4rUntTu1AQh4cM1tIyIBOe9TvitSe1O7UOFaQ/wDFO9yA34ZIFAfjKksx0hQk9a/Dru8adglB8rNw3rZ411fsbOxAT2Y6QmY6QoHxrq/Y2dieNdX7GzsQE9mOkLad2/L5qD8a6v2NnYhxZVD/AINg+SAw7l6Rm+NcKmY7FT3Fgr5J3NdMNotHALd4rUntTu1AQiKb8VqT2p3anitSe1O7UBCIz6eM5faU34rUntTu1aOwzTRDlm1LiWb8kBKMPkgHoC3ZjpCgRiuqy3UbN27gnjXV+xs7EBPZjpCZjpCgfGur9jZ2J411fsbOxAT2Y6QsDEPomXrWB411fsbOxbortNe3i2TwtY2T7TRvQES1oBzB61uU34q0g/4p3v3p4rUntTu1AQiLTENpuUlzZaMM1bTNDAaio5QZgtByDPcXb+xZ1opLNdrb4RZXOjDMxO2Q5GJw4g9GSAwjwW3Dd3udyulTasORR5xeTVVswJjhPqgDLbd7swBzlbq2osFRYa+vs91Mr6WFxyAIOeW4jPiPet9yeNGOAmSWjKSVzY2CWQZ5vkcAZHdO8koCVfhGulaXvxhceW+y9rmNDepobl25qLu1RfrfPT0FzlZLVQy8tbazZ2Wz5Ah0TuhxaT/6oUDc61tE6OK2d8VV+kyMUzJiXk9LhnkGfLJT2M8Q2+PDDKXFAaKmVjeSZTDOQzAbiwcdxQEpK6mxnY47naJeTqoHF1O93nRSjcWO93MR0LKsN6ZeKLlJGclURHYqoCd8bxxH+BVItuJb1hU01/rqBoiqGNbd42DzHcBLl0jn93UpnEVdU2uYY2sVMyX+GO/YWbxPFzPGXFzf1G7oQEliCWsqL3RWVlylpYKqOQukp9nac5uzk3Mg5bs1F3m6YVwZVvorXTmprpRm+GE8pNIel7jmQPeSt1dd6LE1HDLVW9kse6SF7XFpGY6QegrLs2G7RWU/fVJSR0gz2S2JmWf+KAg6Wkq6uvN+vRa6qczYijZvbTsO/Zb0k8558h0LNU34q0g3Crd2p4rUntTu1AQiKb8VqT2p3anitSe1O7UBByeYepWqh3UcPwLBOFKR/k99u3rHfiKpoiaKOmY4ReSHEcUBO5jpCZjpCgfGur9jZ2J411fsbOxAT2Y6QtCR09igvGur9jZ2J411eefebOxATFYf9jlB47BVTj4HrKlW4lqapwpn0rQJDskgbxmuduFaQD607fv4oCFRTfitSe1O7U8VqT2p3agIRaHj++anPFak9qd2p4q0Z41Tu1AR1g9Jt3fZO5WbMdKh6i2QWGPwnBKZHN3bLuG9cPjZVnf3mzsQE9mOkJmOkKB8a6v2NnYnjXV+xs7EBPZjpC0cR0qC8a6v2NnYnjXV55ikZ2IDmxZlsQ9GZ4KGGeW9TEDhiXNlUBHyXDYHHNcnitSe1O7UBCIpvxWpPandqeK1J7U7tQEItHcFOeK1J7U7tTxWpPandqA5cNn/AKOHxFSGY6QoSa4S2B3g+nibI0DMOcN+9bPGur56NnYgJ7MdITMdIUD411fsbOxPGur9jZ2ICezHSFtJ45HPdvUH411fsbOxPGur9jZ2IDArD/tkv4hWxTTMPUtY0VckzmukG0QDwzWpwtSAZmrd2oDrbi6bvjFNxmz86tlI6to5KV0bTU3etyqeSHKQShjndLeTDh/7UVxXvDtM68VRNQ/6w/8AcrEjwxTQve+CunjMpzk5OZzQ7dlvAO/duVYvDKPmjFqMS32uZIJLvKYpc84wG7OyebhwyWJC5gq4gXAeWMhmpVuHKJo2W1JAbuyHMpG+YYt1Ho3ZL3owVDpoCyUxAP3zsPHLMbs1VJyHQ1PQO1ffsHRinwpbYTuLaKIHr2RmutTcTVROXerN/uX3+x4pqmWaka2jZl3uzLd/KFxKlozHSEzHSFA+NdX7GzsTxrq/Y2diAnsx0hR+JfRD9/2v6rB8a6v2NnYt8NzfiB3gyoiEbTvLm8UBEZkbz2LdnmpvxVoyd9U7tTxWpOaqd2oCERTfitSe1O7U8VqT2p3agIRS2FOM/UuXxWpPa3dq46hwwvkKYCXluO1zICZzHSEzHSFA+NdX7GzsTxrq/Y2diAnsx0hMx0hQPjXV+xs7E8a6v2NnYgJ0nPcBz71XcReln/CFy+NlYOFGzsXNBbo7/H4UqJDG524tbwQEOim/Fak9qd2p4rUntTu1AQiHgpvxWpPandqeK1J7U7tQEEc9k5q20ZApIcz/ALtR/ipSuOXfbu1Y7sS1FMTSspWERnZBIQE7mOkJmOkKB8a6v2NnYnjXV+xs7EBPZjpCZjpCgfGur9jZ2J411fsbOxAS9wINBPn93uVVZ5oUozENRXPFFJTNaJfJJA4LI8VKRu7vt3agIRTeFfq0nxqEU3hX6tJ8aAlUREAREQBVi9elpetWdVi9elpetAYyIiAIiIBzjrCt0H0LfhVR5x1hW6D6FvwoDciIgCIiAxbz6Ol+Aqsjh81Zrz6Ol+Aqsjh80AREQBERASWFfrsnwFTygcK/XZPgKnkAREJDRtOOQHElAFwuqs5RDCzaOflHmC2ukkrCWQktj+0/p6lzRRMhbsMbkgKVpRhebtbKt9DLUQQSvdPHFEZDkWkDyRx3lRsN7t0DSbRhqt5Zw3MFsfDn1ue1oy+ateKPrsfwFRqqngo1kjbDRS0JmmuMjTV1cnKShvBu7INB58gpJbJ4GTt2XcRwcOIXHFO+J/e9Ud/2X8zlQqc60k8w9S1WknmHqQFmsfoyLqWWsSx+jIupZaAIiIAtk3mO+Aretk3mO+AoCpfad8Z/dE+074z+6IAiIgCyLP6Wh61jrIs/paHrQFnG4nrWqDifiKIAiIgCiMV/UovjUuonFf1KL40BCoiIAiIgCnML+jXfiFQanML+jXfiFASiIiAIiIAqrcvSc3xK1Kq3L0nN8SA4UREARFo5waC5xyA4lAUXTof+j7cOmpd+w/xVZZ5g6l9DxXhOnx3Tw0slS+nEM2ccwZtZ58d2YXINX5xjBixWOHB1F/8AToD5y2WWnmjqoYmyPhla9rHP2Q7I8M8jl2KTdjm7yMLI7FDE8jc81W2B8tkK3SaALkPosRwO+KAj+q4JNA2Im/R3akd1hw/oqqTRTCZRGh5LpJZC973F0jz9olfQNAQ/6Xrz0UzR2u/8FiP0GYub5lRSO/8AkhH9FZdGOBrxgmpqq29GPZmY1jRE7ayyPEqhUtd9H/RkmfuyVaAzbv5+Kst7cHWqRzTmCBkfmq0zzQgNRmBkiIgCIiAlMLfTy/CP3U4oPC308vwj91OIAiIgCIiAr+JfSI/D/qo9SGJfSI/D/qo9AEREAWjuBK1Wj/NKAtNq9HQ/AshY9q9HQ/AshAEREAWyf6GT4FvWyf6GT4EBUW8Pmf3Wq0bw+Z/daoAiIgCy7F6Xi61iLLsXpeLrQFinqIqWnfUzvDWRtLnuPMBvKxLFiG34ggdNRF7Sw5PilZsubmMwcjzEbwVi43bUvw5K2CJ72GRnfLYxm7ktobeXScs1suVsNaymxThKVhnjjADWuyZUxeoff0Hm4IDiuD5cLYmN9cA+juPJw1JPnRPGYaR0t3kELJr8C2e5XM3GR8rWSkOqaZj8o5nDgXDn/quGks0805xRjSdjeSG1BSF38KmHSfWd7+bmW6jx1DPWRctbZYaGpfydLWybmyO5sx9kHmJ4oDCrKOgxVfw2y02xDStfT1tWBkyRuRHJAfaIPPzZLWN8FTQeI2ImCSWGLYG1wqIeAcPfluPQVkzQyYNuL6+NxNqqn5zsy+rSE+cP5CePQevdj6QrablR0tZb5xFVwu26SoG/I9B6WngQgIi4C1aO6VlHYbdytfcHlsL55My8gcXvO/IDm7FB1llqZ7rRwVV2fNdqyoby87Ms4YRvcGD7I5lPQ3nDmL6EWPFkEdPVsI26eZ+ydofbjduzHQRvWkc2AsAMdJTTiWqkAAYJjNPJ0DiTl+iAwa2xR4exRQW+nulZUsq6ac1MdTMXtybsZHLm3uK3Q4ZrGU4s0t6kda2SF0dGG5HI79guzzLAeA+XBc1rprhXXGXEt6jDKidgZDADnyEQ3hvWc8ypJAaRxsiYI42BrWjJrQNwCn8MejCf/SKtzST07zKRtxniAN7VY8KvZJattjswZNxQEmiIgCIiADzh1qp1v16b4yrYPOHWqnW/XpvjKA40REAREQHJS/WovxArY3gOpVOl+tRfiBWxvAdSAIiIAiIgMHEfot/xBV1vAdSsWI/Rb/iCrreA6kAREQBERAS2FfpZuoKaULhX6WbqCmkAREQBERAV3EXpL+4FgrOxF6S/uBYKAIiIAtHc3WtVo7m60BbKD6lF+GFyOG00t6QuOg+pRfhhb5Zo4W7Uh6h0oDrzdjtXSpd0zvP/AHisdXq56FMTVFwmnpainMb5C5hc/I5ErhGgzFx/4ikHXKf8EBW7DiCmstLJSz26eUumLw+PYyyIHS4HmWNia9T32PYMBhp4gXNjLgXOdluJy3DLo3q2/wCgrGPNV0Hzmd/7quKr0HYvZTSF1RRHyD5srv6tXLieMFMLJ8oYcsj0LsBaQG2umaOanYP+6F8uj0LYs2mhz6fZz3kSL6jbiIaaOiefLija058+Q4riVMhERAFmYe9LD4VhrMw96WHwoCyIiIAiIgDuB6lCYr86BTbuB6lCYr86BARSIiAIiIA7gepWDDnolnxqvu4HqVgw36JZ8aAkEREAREQGn2h81Uqj63L8at32x1FVGo+ty/GgNqIiAIiIDlofSEH4itD/ADiqvQ+kIPxFaH+cUBUlN4V+rSfGoTgpvCv1aT40BKoiIAiIgCrF69LS9as6rF69LS9aAxkREAREQDnHWFboPoW/CqjmMwPerdB9C34UBuREQBERAYt59HS/AVWRw+as159HS/AVWRw+aAIiIAiIgJLCv12T4Cp5QOFfrsnwFTc88cDc3neeAHEoDWSVkLDJI7IBcAZLWnblBZFzM53da1ip3zvE9WPhj5gshAaNaGjZaMgOAWqIgIHFH12P4Co1SOKPrsfwn91HIAtssUczNiRuYW5EBjtlkpXCKc5sPmydHWuZ5BjJB5lq5rXtLXtBB4grHe2SjByzdEebnagLdY/RkXUstYdhkZJaonMdmCNyzEAREQBbJvMd8BW9bJvMd8BQFS+074z+6J9p3xn90QBERAFkWf0tD1rHWRZ/S0PWgLQOJ+Iog4n4iiAIiIAonFf1KL41LEgcVE4r+pRfGgIVEBB4IgCIiAKcwv6Nd+IVBqcwv6Nd+IUBKIiIAiIgCqty9JzfErUSBxVVuXpOb4kBwoi2ySMiYZJHZAIDV72RtL3uyA4lY4a+vIc8FsQ4N53IyN9Y4TTjJg8xnT7ysnhwQGsQDZIw0ZAPGQVti+ib1KpR/Ss+MK2xfRN6kBuREQBCARkRmERARd+jkorbK+EF0Zy2mc7d/EKBhkZLGHscCD0Kz330XJ1D91UnQPidy1Kd586M8Hf+KAyEXHBUMnbm3cR5zTxC5EAREQEphb6eX4R+6nFB4W+nl+EfupxAEREAREQFfxL6RH4f9VHqQxL6RH4f9VHoAiIgC0f5pWq0f5pQFptXo6H4FkLHtXo6H4FkIAiIgC2T/QyfAt62T/QyfAgKi3h8z+61WjSAPmf3WqAIiIAsuxel4utYiyrCQbvFkeBQEvd8R2qylsNZK4ySAlsUcZe7ZHFxA5hzlRWDrzabVbKt1xuUcThUOmla5wbGxrz5JZ/KePWTw4LkpzDh3FM77pCHR3N45Cudv2Hfcu6Bzjm3rFu+H7Phq6NvFXbI57c9/lbTM+83Hi4fyE83MfcdwGfjSjmuFHTXKng78paeTlKija76ZmXEZecRxA51niO0Yis4ja1k1LPHuA4Zf0IUVTVTcGVMcDnl9nqnfwJc8xSuPBpPqHmPMuWptV0w9cJLrhulFTTVJ2qmhDw3J3rx57szzj5oDfaqyot8pwxiRwla8FtJUyDdOz1Hfzgbj08elYV6wHG6GOip8Q10NEH5ikY5vkj1A4jaDfnmOYhbrrUYgrKZ1becPRC2ty5akcdqcN55AQchl0DflnvWLfbPO+gp323Fld3rMAWhsjSdk9DiM0BBy2i10l+fhd4ZW0rozNGyUl76U7vIJO/I8Rvz4rOoLBZrY7boLbDE4/aazf2rfbbVQWqN0VFDkXHOR7jm556STvJWSgCIiAKXw3BJBb3TUvAyeVH09SiFPYY9GH8RAZ8M8c7dph6weIW9cU1Nm/l4HbMg7HdaQVIlcYnt2Xji0oDlREQAecOtVOt+vTfGVbB5w61U6369N8ZQHGiIgCIiA5KX61F+IFbG8B1KpUpHfcQ/nCtreA6kAREQBERAYOI/Rb/iCrreA6lYsR+i3/EFXW8B1IAiIgCIiAlsK/SzdQU0oTChBlmI6AptAEREAREQFdxF6S/uBYKzsRekv7gWCgCIiALR3N1rVcVVUCIBjBtPJ8loQFsgqGQUERIzcWDZaOdboadzn8vU73czeZq47TTFtJFPO7akMY39HUstAEREAXFXfVJPgP7LlXFXfVJPgP7ICps80LZPTtm8oHZePNcOZb2eatUBww1DtvkKgAP5jzO6lzLZNAyduy8b+YjiFxxzvhfyFSd/2X8xQHOszD3pYfCsNZmHvSw+FAWREzBRAEREAdwPUoTFfnQKbdwPUoTFfnQICKREQBERAHcD1KwYb9Es+NV93A9SsGG/RLPjQEgiIgCIiAfbHUVUaj63L8atoILgR71UqggVcvxoDaiIgCIiA5aH0hB+IrQ/ziqvQ+kIPxFaH+cUBUSRlxU3hQ500m77fFZQslqz30aj7xK60TMgth5Jrhm4DpQE4irHhq7e1lPDV29rKAs6KseGrt7WU8NXb2soCy78+H/gq1eiBdputDersB9bKlbfQUdwo2VdZTh8rh5b+lAQOY6QmY6QrJ4EtfsYTwJa/YwgK3mOkLQuAGeasvgS1+xhPAlr9jCArW8OHWFb4RlE0HoWIbJa8ie8xuG5QrrzdGvcxtWcgcgEBZ0VY8NXb2sp4au3tZQFnRVjw1dvaynhq7e1lATt59HS/AVWAR0rPobhW1tYykq5y+N5ye084Ut4EtXsYQFbzHSEzHSFZPAlr9jCeBLX7GEBW8x0habTelWXwJa/YwuGa2Wza5Cnog6Tn6B1oCOw7Uthrnxhu1I5m5gU7BSkO5eoO089jepRVxoobHAKqgbsTSOyfJ0hYfhq6+1lAWdFWPDV29rKeGrt7WUBZ0IzGWarHhq7e1lPDV29rKAyMVHKsjHSw/uowEDg7tU3Z42XindNc28q9jsmk8wWX4EtfsYQFbzHSEzHSFZPAlr9jCeBLX7GEBW8x0hbZSOTO/mVm8CWv2MI2x2okA0Y39KA4LRBJDbIpaYHIjymdPUs+Cdkzc2E9BB5ioGuuFbQ1klHRzlkbD5LRzLEmuF2LuVgrC145+lAW1FU4MR3V7uSlqi144grl8NXb2soCzOGe79Vtk3RP8n7BVb8NXb2srQXm7F4Dqs7JORHSEBjBw2nZ7vLP7rXMdIVjFltTmh3egzLQT1rXwJa/YwgK3mOkJmOkKyeBLX7GE8CWv2MICtFw5ismzZm7QnLnU54EtfsQ7Fw19voqGifWUkGxIze1w5kBJc560VYF6uxGZqynhq7e1lAWdFWPDV29rKeGrt7WUBZsvfx4qKxUcqOLd9oqO8NXb2srLs0j7xVOhuZ5VrG5tB5igIoED7QWuY6QrH4EtfsYWvgS1+xhAVvMdITMdIVk8CWv2MJ4EtfsYQFbzHSpzC3o527P+IVkeBbWP8Agwo28TTWmqFLbX8kxzcy1vSgJ0DILVVjwzdvaynhq6+1lAWdFWPDV29rKg8Q4+uLo5bNZ7g99Y9rmMewZta/InZJ9bIHcgPoIewuIa4E84B4Kq3Xdcps/WVFw/dbo6/0z7K+eOVr/wDaTkMi3M5l54n57819ThorbNRMrKuAOkeM3OPFxQFffMyJhe93Dh71xRxuqXiepGQHmRn9yrLFh+3Sv5eooh/K3oXP4EtfsYQFbzHSEzHSFZPAlr9jCeBLX7GEBW4yOWZv+2P3Vtbm2NvTlwWK+zWxjHPbSAFrSQfeoXw1dcyBVHIHIICzoqx4au3tZTw1dvaygLOirHhq7e1lPDV29rKAnL76Mk6h+6q4I2clJUFfWV9YykrZi+J+e0086lTZLXn9TCAqs1O155WJ4a8cCOfrSCq2zyUw2Xj9VavAlr9jC45sO2eYZOohmOB6EBX8x0hMx0hTjLVboHclU0Yy+y/pXP4EtR4UYQEfhXfUSkb/ACR+6nR0KHvDGWeJsltHJOecnEc4WB4au3tZQFnRVjw1dvaynhq7e1lAWdaEb+CrPhq7e1lPDV2GZNWckBzYkyFxG/8A3awMx0hTVpp4brSmpuMfKyB2QcehZXgS1+xhAVvMdITMdIVk8CWv2MJ4EtfsYQFaJGXMfmtCQGnNys3gS1+xhaeA7Udxoxl70By2oEW6HPnjCyFXKu519LVSU1NUFscbsmNHMFx+Grt7WUBZ0VY8NXb2sp4au3tZQFnOfMFsmIMEhHqKt+Grt7WVqy83R8jY31RIcciOkIDDBGee1zrdmOkKxiyWrIZUYUFcbYL9fpcN0Z7xigja+aYH+JKDzM93SUBw5jpCZjpCybJFTUFYcNYhgBqGNLqepO4VDBz/ABDnC0jjqcSvcMMUUNPStJb3/VMLtsj1GAjMe8kBAQuKLnPbbaJaeZsW3K2N9Q5pcIWncXkDoXNbcOTYRrKbEVjrp6yANzuEcj9szA7zI3oI6BzKTq8E4hp4HvZcaS4tLcn0s9JyYeOcBwcf1UZhq+Q4Ze63yxOhozLybGynyqKQ/wC7d/KeY8EBcCLViW0ZZsnpqhm4jnH9CsC3Vz7XO3CeJJuWErS2jqZR9Oz1HfzAdo39Kr12dd8EVj7xZ5Hutc79qsgZv5AnjI0er0jm4rXEl4prjY3SXO6N5DLbjmY/e13MWnpQEw+FmFp/At0aJbNV+RA+TeKdx/3bv5TzHm4LmigxRhsd72mFlyoQP4UUs2xLGOZocdzh1qLorxWSaPe+sbnd3u4ziRuRc3fs5j1iMt3SVjYPuWIqbD1PFXVj9rZJa15zc1hObWk85AyCAsD24rxCzvetp22umcCJRHPtzOHQCBk3r4rbiGjpqC3UlDSxhkUQDWNHMAsTw1dvaysyzOdeHyMuZ5URjNoPMgIkEDdtBa5jpCsngS1exhPAlr9jCAreY6QmY6QrJ4EtfsYTwJa/YwgK3mOkKewxuthJ53rl8CWr2MKNu1TUWqs7zt0nJR7OeyOlAT44Ljnp2TgZ7nDzXDiFXPDV29rKeGrt7WUBYIqh8bxBVDJ32X8zlzqrS3W5TM2JKkkLhF9vVGdmWrc6Pmf0daAt4GbgPeqlXDKumy9dcpvl12NtlYeGYIUzT2q3VFOyeanDnvbm53SUBXQ4ZbyFrmOkKyeBLX7GE8CWv2MICt5jpCZjpCsngS1+xhPAlr9jCArtI4Csi6OUCtrfNHUsKa02yCB00VIA9jSWu6CoUXu6nPKrPFAWhFWPDV29rKeGrt7WUBZ1o4HmVZ8NXb2sp4au3tZQEviH0U/MfaCrwIyG9SNtram41gpK+TlInAksKlDZLUDuowgK3mOkJmOkKyeBLX7GE8CWv2MICt5jpC0zzzAVl8CWv2MJ4EtfsYQGBhTMyTZjmCm1C3los7WOtg5LlPPy51heGrt7WUBZ0VY8NXb2sp4au3tZQFnRVjw1dvayhvV2A+tlAcmIt1y3+oFhZjpCnLXS090pBVXCLlJSSC49A4LI8CWv2MICt5jpCZjpCsngS1+xhcE1strnchT0QLuc9CArlRU7B5KEbTzwHR1pBTiI7bnbTyc3OVmgw7aYRn3mC4+c7LiuQWS15H/YwgOag30cJA/3Y3rmVbqLrcYah8MNSWsY4tY3oAWzw1dvaygLOirHhq7e1lPDV29rKAs64a0HvSX4D+yr3hq7e1lbobtc5ahkMtSS17snDpCAwQQRmTl1LcHDLeVZTZLUDkKMJ4EtfsYQFbzHSFtlZFMzYkAIVm8CWv2MJ4EtfsYQFTZK+leIp3bTD5r+j3FSeHTtXdoG/wAlTDrFaXtLX0IIPEELAutLFh6kNZRRbADsmvHFiAmst+0Scytw3jequL3dHAObWEjmIWvhq7e1lAWdFWPDV29rKeGrt7WUBZcjxy/8FDYtOUlOMslhm9XfL64c/es2yjwxygun8YxjyCeZAROY6QmY6QrJ4EtfsYTwJa/YwgK3mOkJmOkKyeBLX7GE8CWv2MICtF2YOXDpVhw4D4JZ8a5PAtqJ30QUZdKqptla6jt8pjiAzDQgJ9FWPDV29rKeGrt7WUBZ0IzGSrHhq7e1lPDV29rKAswB2wfcVUqk/wC1yb8vLK5nXq7AH/aypmC0W2anjmkpQXPbm49JQFezHSEzHSFZPAlr9jCeBLX7GEBW8x0hMx0hWTwJa/YwngS1+xhAV+gI8IQEfeK1E7/MzWFU2u301NJUQUwa+NubD0FQwvN2cMzWOQFoUDiv65F8KnlA4r+uRfCgI1ERAEREAdwPUrJYfRkfwqtu4HqVksPoyP4UBmIiIAiIgNH+YepVF/0z/iVuf5h6lUX/AEz/AIkBoiIgCIiAyLR6Ti+L/FWhvAdSq9o9JxfF/irQ3gOpAEQkAZk5ALHc+SsOxCS2Mec7pQCWeSZ5gpTw86TmC5YII4GbLBvPEniVrHGyJgjjbkAtyAi8VfVY/wAQKDU5ir6rH+IFBoAiIgCIiAm8KfU5PjUqorCn1OT41KoAiIgCDzh1og84daAq939KzdYWOsi7+lZusLHQHHPTsnG/c4cHDiFsjqHxO5Gq3H7L+YrnW2SJkrCyRuYKA3IPPb8QWM18tE7k5jtRnzX8461ktILmkHMFwQFui+jb8A/Zblti+jb8A/ZbkAREQBYl79FTdSy1iXv0VN1ICtN4DqRG8B1IgCIiAKTwr9ek/DUYpPCv16T8NATreA6kRvAdSIAiIgDuB6lAYo9JN/DCn3cD1KAxR6Sb+GEBV7vUVNwvtNhSKt7zZVRue+p+04D7DObaP7LSSCrwRcxRVtS+W2VDsqaoldm6F/qOPQeYrNvNnprzS8hMS17HB0MzNzo3jg4Fa2G6x4mpJ8J4spmd9xs2ZWkeTOzme3/1dxQGPiqomgsru9pnMdLIyMPZxAc4AkfIrXEFlt1lnsdsttOI42Vb3bt5cdg5knnPvULiSWuw22LC1zD5WGqhNvqiPpGCRubXH1gO0b1O4/robfdrLU1kgjgbJMZZnbmtOwAMzzcSgMuZ7YY3SbBPuaOKsljge+hiqKnztgbLeZqrFPcKCtj5SjrIpWkbjHID+yt1p9HRfAEBkIiIAiIgNs/0D/gP7KojifiKt0/0D/gP7KojifiKAIiIAiIgMqzelIus/srMqzZvSkXWf2VmQBERAaPYyRpY9uYPMVj5y0JyOb4unnaslCARkQgIfE72yU0b2HMFx3/JQ6ksWwyQRRy03m7Z2o/koqGeOdu0w9YPMgN6IiAI7gepEdwPUgJ7C/o8/GpJRuF/R5+NSSAIiIAjuB6kR3A9SAqty9IzfGuFc1y9IzfGuFAEREAWsf1iP41otY/rEfxoC3M8wdSjcR2Sa5Rx1ttm5GupjtU02XHpYelpXNdr1TWakbLK10kkhDYIIxm+R3QAsBlmxLfW98327uoYjvFHROyIH8z+JPVkgN1MbRj21mnuVOWVFNKG1EIdk+GQcd/QRnv5wUudTVPr4sH4flFJsQCSaoDBnHHnkGsB5zlx5lDWplxjgkvVnPL11tnfT1TdvMVkLTuzPO7LIg9Kmaynp8V2+DEVgm2KyDyqd53b/tRPHQeBHMUBj1lJfMJubdaO5VNdStP+2U852nhvrsPSOhYuP7BBiOwOxFh4RzSyQZSRg+TVReqf5hzHmKnMP32C/wBG55hMU0TjHU07+MbxxBULdZfEGR0zWk2mrm/iNH/CyH7Q/lJ49BQEBg/GcNtoGW7EEz3Up8mnrJW57HMYpfVcOGZ3FZL49E1lqG3iM0JkJ2oWRTGQZ/yRgkA9QXHimChst8p7nbJY3m4uDKmgG/lR96B0jn5iFmQWm100vLU9ugY8/aZEAUBhTuuWMq2KtuNO6mt0DtqCjf50ruZ7xzDob2qV4cERAFKYT+mn+FRalMJ/TT/CgJxvAdSI3gOpEAREQGj/ADSq/if0t/cVgf5pVfxP6W/uIDAREQBCA4bLhmDxBREBjSxyUbXPhzdHzs6OpXC1yxzUML43ZjYVXk8w9SslLTvZSxTUxydsDNvM5AZqLjgqWTZtyLXDzmlciAIiIDirvqcnwFVNnA/EVbK76nJ8BVTZwPxFAaoiIAiIgMuxelGfCVZVWrF6UZ8JVlQBERAEREBD4t8yLrKh1MYt8yLrKh0AREQBHcD1IjuB6kBYMN+jx8R/dSCj8OkNtwc45AOOZK53PlrTsREti5387upAbpJnzvMFMeHnP6FyQwxwN2WDrPStY42RMEcbcgFuQBHcD1IjuB6kBU6z65L+IVxrkrPrkv4hXGgCIiALfS/XIvjC2LfS/XIvjCAtqIiAIiIAo/EwBtDwR9r+qkFH4l9EP+L+qAq5Y+hcXxguiPFnO3qXPHIyVoex2YPOtVjvifSvM1OM2nz4/wCoQGQi2xSsmZtxuzC3IApbCnGfqUSpbCnGfqQE0iIgCIiAHh81XMReln/CFYzw+armIvSz/hCAwkREAREQGj/NKtlF9Uh/DCqb/NKtlF9Uh/DCA5UREAWBiW6VNnss1wpKflHxjdmCQ0Z73EDeQOO7es9CA4FrgCCN4KArlyttzpLOMQWu7S10hj26pm3myojIB8hueTSOLcuo555iLt1dS3KjZW0cofG8Zgj9j0FTLpX4QqXUj2gWqpd/Bd7NIT5p/kceHQevdB3bR3HW18lbab5UUDJjtyQwAFpeeLt/DPd89/OgLrT1O27kZm7Mg4g8/vChsV/XIvhU1UU7J2jM5OHmuHEKvYkne2vip6nc/Z3O5nIDEREQBERAHcD1KyWH0ZH8KrRIy6wrJYSBbI8+hAZqIiAIiEgbygNH+YepVF/0z/iVuf5p6lUX/TP+JAaIiIAiIgMi0ek4vi/xVmL2xs23nIAbyqvbpmQ3CJ8hyG128VYo4ZKkiWoGTR5sf+KAASVpzeC2LmHO5c7WtaNloyA4ALXhwRAEREBF4q+qx/iBQanMVfVY/wAQKDzGeSAIiIAiIgJvCn1OT41KqKwp9Tk+NSqAIiIAg84daIPOHWgKvd/Ss3WFjrIu/pWbrCx0AREQGjmhwLXDMHiFj7MlDI0szdEXDMc7Vk8EGRc34ggLbTvZJCx7HZgsH7LesURSUrRLTjNuwC5ny5lkRSsmYHsOYQG5ERAFiXv0VN1LLWJe/RU3UgK03gOpEbwHUiAIiIApPCv16T8NRik8K/XpPw0BOt4DqRG8B1IgCIiAO4HqVWx5daW0VLKip2iXNDYo2DN0jjwaBzlWhxACq0VPHecYVt8qhtCgd3rSMPBjg0F7us5gdQQERT2PHd7Z3xPXQWmN29kLY+VkA/mPAHqzURe7PiSjxFSUIvMNTVxxOnp6hkWw+IDIZPy3Frjuy9ykpqi84wqpqll3noqKGd8UMVMQ18pa4tLnHozByAWRZ7Gy1SS1MtdPVTzZB89S7N2yODc+hASFiudsxpbWvrqJvfFLKBUU8jczDKP/AFdx5wuTEmJ7NYZaehudNLM6pDixkVOZNzcsyQObeO1QV7kksNdHiS1yRicZNqKdzw3vmP1R/MOYqTvFDT4ys9PfrDUNFVADJRynmP2mO9xyyI5svcgMMjRNfXucW0cUztxcM6eXPrGy79VnVlI2xRQUWE8TV0lVK0d70JkbMzLpcXDMN95Kj7dNRYjtvK11sYJGOdHPDNGCY3tORHarfhix2e00LX223RQukaNt0bMiUBn0oqBTRirLTLsDlNjhtZb8lyIiAIiIDbP9A/4D+yqI4n4irdP9A/4D+yqI4n4igCIiAIiIDKs3pSLrP7KzKs2b0pF1n9lZkAREQBERAROKvoI/jP7KvzUxLuWgOy8dhU/ir6CP4z+yhkBxQVIlJjeNl44tK5Vxz07Jxnnk4ea4cy2Q1D2v5CpGTuZ3M5Ac6O4HqRHcD1ICewv6PPxqSUbhf0efjUkgCIiAI7gepFoSCDkgKtcvSM3xrhXNcvSM3xrhQBERAFrH9Yj+NaLWP6xH8aAlLJEy7YnrrrUbxQuFLTtPBnkhzndZ2h2KPraugxA2a6Ynu4gt0NQ+KGhbJs8psuyzflvcSRuas6aWbC17lubqd77fXBpqXRtLjBIBltEDfskZZnmyC46i66N6as8MxtpJ6t53Gmh5SRxPuA4+8oDS3XK6inEOFMGiKlb5rqmTktv3hoBPao4X2owzf5K2rtslGyfyq2kJDmu5uWjI45faHHLes+44hxm2glvcFBR0NLAwvEVaS6SQD4SA3Po3rlxi6OuwxS3h8HJzNnp5ImPG9pe9rSz5hxCA3X+hqIZo8ZYZykkDQaqFh3VMXSP5gOHTwXJdqm33/Cz6iLZlgqGcCOIPEFYrbHim3Okstiq4orfM7ajmec5KYHzmtHP7uhZdTaqay4ZNtpC4sj+085lxJzJPvJQFXs+GrXZpDUUzHvkc0NEkzy9zWjg0E8B7lILQcB1LVAEREAUphP6af4VFqUwn9NP8KAnG8B1ItGkZZe5aoAiIgNH+aVX8T+lv7isD/NKr+J/S39xAYCIiAIiIDSTzD1K1UH1OH4FVZPMPUrVQfU4fgQG6emEvlsOy8cHBaQ1LtvkKkbL+Y8zlzLZNBHOzZeOojiEBvRY7JpKZwiqd7T5sn+KyAQRmCgOKu+pyfAVU2cD8RVsrfqkvwFVNnA/EUBqiIgCIiAy7F6UZ8JVlVasJBubCPVKsoIPBAEREAREzHYgIfFvmRdZUOpjFvmRdZUOgCIiALbK9kbC57shktJ544G5vO88GjiVxNgkmPLVXN5rOhAWDDbJKy3h0oLY9s5N53b+dTAAaNloyA4AKPw36PHxH91IIAiIgCO4HqRHcD1ICp1n1yX8QrjXJWECrlJ+8K4+KAIiIAt9L9ci+MLYt9L9ci+MIC2oiIAiIgCj8S+iH/F/VSCj8S+iH/F/VAV9ERAcEsD4X98U399nMVyQzxzs2mHrB5lvXDNTua/l6bc77TeZyA5lLYU4z9ShYKhk43biOLTzKawpxn6kBNIiIAiIgB4fNVzEXpZ/whWM8Pmq5iL0s/wCEIDCREQBERAaP80q2UX1SH8MKpv8ANKtlF9Uh/DCA5UREBtnnhpoXVFRIGMY0ue5xyAHSomkuV7xG3vizMZSUZ8yqqI9p8o6WszGQ6CePQtuKmG43C2YdkH8Crnc6pHrMjbtbJ9xOQK5rzWXCW6wYdtUwp9uEyz1AaCWRggZNB3ZknieGSAwcY0VfQ4XrZ668sqoRARJT1dO0CToa0sAIJOQG47+ZVe34vveGqKK1V9jq60sYDFNG4Ehh4NcTxcN4z58gVcLlhqGWnMtTda2dkB5RsM0oLS8cCd2Zyz4Z5Z78tyiGeaEBb9ocHOA+agMX07J6mJjhmNncRzLA5SbhyjuvNTWGGiWmkMvlHb50BXYppYHinqgT6kmXHrWRv9U9itklJTSsLJIWkH3Lga1lG4RTsBYfNflw9xQFa3+qexN/qnsVt5GE8I29i15CH7tvYgKhsuyI2T2cVZLEQLbGS4DyecrK5GMnfE3sVcvLntucrGPIAO4BAWXbZ6w7U22esO1VHbm++cm3N985AW7bZ6w7U22+uO1VHbm++cm3N985AWzyciNocOlVOQOErjsne7oQSTAj+K7j0q1RRRmNpMTfN6EBVN/qnsTf6p7FbuQh+7b2JyEP3bexAVHf6p7FsnnbA3MtcSfNaBvKtk5gi8hkIc88GgLSGgia7lpmNc88+XDqQFZsdPI+6w1FUM3bXkty3NVtD2gecO1Yt2jjZb5SxgB2DvAVaEkx/wB87tQFv22esO1NtnrDtVR25vvnJtzffOQFu22esO1NtvrjtVR25vvnLTbm++PagJrFLtqkjy+85ioTI7vJPYpPDJ5WseJCXDY4O5lOchD923sQFR3+qexN/qnsVu5CH7tvYnIQ/dt7EBUd/qnsTf6p7FbuQh+7b2JyEP3bexAReFSBRyZnLyxxUoHj1h2qCxNnHVxtiOz5J4KO25vvXdqAt+2z1h2pts9YdqqO3N985Nub75yAt22z1h2o1wLhvG48c1Udub75y0fJMGk8q7h0oDnvAd4VmyaSMxwHuWOAQeB7OCslnYx9tjc9gJy4kLKEMXAxDsQFS3+qexN/qnsVu5CH7tvYnIQ/dt7EBUSCeY9iNDttvknzhzK3chD923sWyWKIRuAjHmHfkgN0T28m3Nw8wc/uXDLGYXmopXDP7TM9xVY5SYud/FPnHn96125vvnIC1wVUM7NpjxnzjPgt+2z1h2qlzRztdy9PKQ/nGe4rdT1b527pXBw85pO8IC4lzSPPHasa8lptUwaRnlwBVb25vvnLItD5HXSJjnkgngUBjNzyHknh0Jv9U9itvIwknOJvHoWvIQ/dt7EBUd/qnsTf6p7FbuQh+7b2JyEP3bexAVDI7/JPu3KTwturZCdw2OdTnIQ/dt7FF4o/h0cTohsku5kBKh7QPOHam2z1h2r5/T4qpai5G3B0zc3ujjnc3+HI9uW01p5yM1Jbc33zkBbttnrDtUdV4tsFFcmWmevaJnkDdvDSeAJ4AnmVNv1XdqqtpcNWirMc9aXF83PFE3LacPfvA+a33+nwzhXDxwvBQPqqisadiBpzllf9453Nkd+fMgL+XN5njtVYkrYLHi6otFSdiO4uE9LIeDn7ID2Z9O7P5+5RNrmr7Rh6OS+1hdJBBnO8EngP1WjqPE+JMNOu7aFjKVkglgge3/aHNG/lAfskcQOdAbblSvwbeDKc/BdfMXbWX1edxzIP8rjv9x+SybvcIbbbJq6aXYDIyWuI58t2XSpLC+JLXiy1uw/iFsTpnM2SH7hOzme339PQVk+J2GrLs3C8XKWWGmO1E2tnzjjy4HLnI5s0BVLthaz2zA0t0qaEvuEtM0tnncXyNmIGWyXZ7PlZbhkuUWS5Uks0dlubqWmrHB9TG1mbmu5yw/ZLuftVjjEuNLpDWvpDHaqN+3TiVuTqmQcH5czRzdPFT/IQ/dt7EBSaG3UtrpG0VFAWxsG4byfeSTxJ6Vb7U8d4RAkDyBxXPyEP3TexVe5PeLlM1ryBtcAUBadtnrDtTbZ6w7VUdub75ybc33zkBbttnrDtTbZ6w7VUdub75ybc33zkBbJnNML8nDzDz+5VHeXE5Hj0LfHJKJWZyk+WOdWpkcbmDOMEkdCAqe/1T2Jv9U9it3IQ/dt7E5CH7tvYgKjv9U9ib/VPYrdyEP3bexOQh+7b2ICtWYnwpFmCN53nqVlLm5Ehwz5t6xL1GxltkcxgB3bwPeq42WbzuVPagLfts9YdqbbPWHaqjtzfentTbm++cgLdts9YdqbbPXHaqjtzffOTbm++cgJjFJ2oIwDn5Z4dShgCBlkexSeGP4k8gl8ryRx61N8hD923sQFR3+qexbZoWTs2JGEjm3cFcOQh+7b2JyEP3bexAUlkstK4Q1OZb9mTL91zEEnNrTkR0K3Ppqd7Sx0LSDzELHEDaA+VGHxE8ct7UBw4Z8m3naOXl86kdtnrDtVfxC/KuHIPyaY8xsrB25vvnIC3bbPWHam2z1h2qo7c33zk25vvnIC3FzD9sdq25g79pvDpVT25vvnLQvlaPpXdqA5rkD4Rm3Hz+hcO/wBU9is1rijfb4XPYCSzeSFkchD923sQFR3+qexN/qnsVu5CH7tvYnIQ/dt7EBUd/qnsWsYPLxnZPn9CtvIQ/dt7Fj1z44onxQwhzyzMADh70BkNc0NALm8OlRl5r6GwiJ9HaGz1NTLycMcIa0uOWe8nLmGagKZksTSTO4ucfKOaxMQW+4XGnhlt9U1lTTVDZqd0uZbtDmOXMRmEBYm2S43eVtyxjUQxwQHbjoYn/wANpHBz3HziOxatq2YvuUUlMP8Aoyik2xK7d3zKOGz/ACN4585yy4b6tLaL5fniTFt6M8YOYoqYFkOfv53fMqUjDomCOJ+y1oyDW7gEBcC5pGW2O1YOISPBEhBHUCq/tzffOWVY3vddYmvcTnxBKAw2AgZ7J7Frv9U9itohhJ+iHYteQh+7b2ICo7/VPYm/1T2K3chD923sTkIfu29iAqO/1T2KUwmCJ5s2/Z59ymuQh+7b2KJxQBHDCY/Jzdv2UBLBzc8i4Zda122esO1VHbm++cm3N985AW7bZ6w7U22esO1VHbm++cm3N985AW1zmkZBw7VAYm33XMDMbPMsHbm++d2qcw01kltLpG7RD+JQEFv9U9ib/VPYrbyMRG+Mdi15CH7tvYgKjv8AVPYm/wBU9it3IQ/dt7E5CH7tvYgKe/a2Dm08OhWqhINFD5QHkdK5hBDmP4TePQqtWvkFdMGSEDb3DNAWkOaDveD81rts9YdqqO3N985Nub75yAtr+SkaWPIIPvWPtvoTmDtxde9qrW3N985aF82X0pPzQFpqnxy0cj2PBzjOWRVVYCAQQeJ5lsgbUQVcctO9xaZBtRk8VbqfvaeMPYwe8EbwgKrv9U9ib/VPYrdyEP3bexOQh+7b2ICo7/VPYtHAn7JPyVv5CH7tvYnIxDcIm9iArliBFzaTztPHcrIHMH2h2rAxAxsdsc9jQ07Q3hV8STEfTO7UBb9tnrDtTbZ6w7VUdub75ybc33zkBbttnrDtWjnNPBw7VUtub75ybc33zkBL4qG1HDs9J4KHGfO09ilcMZyPlEnlbhltKYEMWW+IdiAqW/1T2LinqTGeSiYXyHg0Dh1q1yFszzDSRNOXnSZbguSCgpoG+TEC4+c4jeUBUIKYtdy02bpDz5cOpcpBIPknsVu5CH7tvYnIQ/dt7EBg4cIFuGZy8o8Vn7bPWHaq9iFzmXHKNxaNgbgsLbm++cgLdts9YdqbbPWHaqjtzffOTbm++cgLdts9Ydq0L28A4dqqW3N985aGSUbjK7jzFAb6vM1spyP0h5lxgEDzT2K1UUUTqOIujBOwN+S5eQh+7b2ICo7/AFT2Jv8AVPYrdyEP3bexOQh+7b2ICo7/AFT2LfTfW4swfPHMrXyEP3bexcVbFG2lkLYwDsnm9yA5i9oJ8odqB7edw7VUGyTZfSu7VrtzffOQFu22esO1NtnrDtVR25vvnJtzffOQFuL28zh2rAxJvtDsuO1wHWoDbm++csuwOe+6NZI4uGzwKAwsnHi0j35LUZ5eaexW0wxZ/RDLqWvIQ/dt7EBUd/qnsTf6p7FbuQh+7b2JyEP3bexAUuopnl3LwZh4924qXwZUiUTh7dl2WRaelThhiyzMTexQWMIHB8EtK7k3jnbz9aAn9tnrDtTbZ6w7VTKesllJjfI5rx5zSVy7c33zkBbttnrDtTbZ6w7VUdub75ybc33zkBbdpue9w681XsRb7s8gZ+SOCwjJMBnyzu1T+HmtktbHSNDjtcSgIDf6p7E3+qexW7kIfu29ichD923sQFR3+qexaODstwPYrfyEP3bexQ2IrzX0NdHbrFao6qYQunnY45ZMGQyHvPN1ICJcDkQGnsVro3NFJFm4fRjnXFaK+33igiuVG0FkjSd4yLSOIPQQVTb/AIhZSW6vuVvqWzGn2gGsfn5fMEBar1iejtUzKCGN1TWS/RUsO9x959Ue8rnst7pL3RCrgzY4EtlhefKjeOLT71VbfT0GA8POvd05SarkANTKBnJLIeDR7szkBwWBY6W6zXWqxJcGNpXVgblSRHzQOBcedyAuGJo5Im098pGcpJQSmR0bd5fGWkPA9+W8dSXGNt8oKfEmHKljqiFhfTOz8mVpy2o3dAOQ6iAebJVEVF9xHeJ7Faak0sVLs99VTsi85jMBjT+53KNw9fLngDEMthvryaWR23JKNzW5ndKOhp4OHMUB9EiutJeLHJWUj8wYyHMPnMcOLSOkL5veK2/1d0nbZ6ipMULhGeQZ5IdkCRnlvO9XLxTs9fcfCUFRUQmocDMaWpLGy7uJy5/eMj71K+FMIYZAtHflNTcmM+S294z5zz5n370BAqbwr9Wk+NQim8K/VpPjQEqtHsbI0seMweIWqIDGDn0J2JCXRHg71VkggjMHMFaOaHAtcMweIXBk+hdnmXRE8PVQGQqxevS0vWrM1zXtDmnMHgVWb16Wl60BjIiIAiIgHOOsK3QfQt+FVHnHWFboPoW/CgNy4p6hwdyMA2nn9OtaSzvkdyFNvd9p/M1b4IGQNybvJ4uPEoDSCnEWb3HaefOcVyIiAxbz6Ol+Aqsjh81Zrz6Ol+Aqsjh80AREQBERASWFfrsnwFTygcK/XZPgKnkAREQBERAQOKPrsfwFRqksUfXY/gKjUAREQBaSeYeparSTzD1ICzWP0ZF1LLWJY/RkXUstAEREAWybzHfAVvWybzHfAUBUvtO+M/uifad8Z/dEAXDPTFzhPC7ZkHP0+4rmRAcdPUiYFrhsvb5zDzLMs/paHrWFUU/KESxHZkbwd/RZGH6gy3aJkjdl7TvBQFtHE/EUQcT8RRAEREAUNjMTOtTRTkCQ57BPDPmUyq5jm/2m3QQUtTVgzOcdiCNpfI7qa3MlAQuHLZa7/guOwyMMVTSECfMDbiqQdoyfNxLs+cFbYMLYkvZEOI6wUsEQyLKKQh1Q71i77LfcsLBd+sjsRXK43GsMMzm/wXy/wmGFvEEHLy2nPPa3gEZc6ncVNqcR4UkkwzcGv2wHNdDJumaD5TA4cMxmMwgKtZryLVi2GruVU2ohoeUt761pzaQ8sc1xPSCwNPvKm8aUlRabhHjWkAkhjiEddHlvEWee23qz3jnC4bMyxXawiloqRjactMclOW5FhG4tI6QsaLDV4qmRWu93s1Fupj/BgAydIM93KH7WXBATI5Grp94D45GcCNxBC59GFbNSz1eFu+BPT0vl07wczC0n6Jx93Ee7qUbiBlwbZJmWgEShnkhm45c4HQcuCkMLYhw7asNQ0mEKTl6ioJMdMD5Zfnk50h5sjxJQGRRYcs9ZertZquijkhZMyWLIZGJz25uAI4dPzWZRaPsKUM4qWW4yPb5pnldJl8nErJw5aai2U0k9wlbJWVUnK1UjRuLssgB7gAAOpSKAAADIDIDgAiIgCqty9JzfErUqrcvSc3xIDhREQBERAax/Ss+MK2xfRN6lUo/pWfGFbYvom9SA3IiIAiIgMS++i5OofuqyzzQrNffRcnUP3VZZ5oQGqIiAIiICUwt9PL8I/dTig8LfTy/CP3U4gCIiAIQCMiERAVbE8clHc+UgBcws8pnRv5ljRSsmZtxuzCksS+kR+H/VREsD4Xmel4/aZzFAc6LZBOydubdxHFp4hb0AWj/NK1Wj/NKAtNq9HQ/AshY9q9HQ/AshAERcM9Q4O5CDe8/ogNZ6gtdyMI2pDwHQtvICGnkJO04s8px51vp6dsDeObj5zjzrWf6GT4EBUW8Pmf3Wq0bw+Z/daoAiIgCy7F6Xi61iLLsXpeLrQFlHD5og4fNEAREQBRGK/oYPiUuojFf0MHxICGREQBERAFPYY9GH8RQKnsMejD+IgJJERAEREAHnDrVTrfr03xlWwecOtVOt+vTfGUBxoiIAiIgOSl+tRfiBWWWmIPL052X5bxzOVapfrUX4gVsbwHUgOKnqRNmxw2Xji0rlXHPTMm8oHZeODgtkNS5r+QqRk7mdzFAc6IiAwcR+i3/EFXW8B1KxYj9Fv+IKut4DqQBERAERbJpo4G7Tz1DpQExhdzWSTOcQAAMyVJ7UtacoyWRc7ud3UoTCcMtVPLJUjJgy2Y/8VYwABkAgNscbImBkbcgOZbkRAEREBXcRekv7gWCs7EXpL+4FgoAiIgC0dzda1WjubrQFsoPqUX4YXKuKg+pRfhhcqAIiIAuKu+qSfAf2XKuKu+qSfAf2QFTZ5oWq0Z5oWqAIiIAszD3pYfCsNZmHvSw+FAWRERAEREAdwPUoTFfnQKbdwPUoTFfnQICFqKYTZPYdl7fNcEgqC88jMNmQcR0rlXHUU7ZwDnk4ea4cyA5EXDBUO2uQqBk8cD0rmQB3A9SsGG/RLPjVfdwPUrBhv0Sz40BIIiIAoOV4w5iiS51oDqa5iOLljxhe3PZaf5Tmfms67YitlmLYqmVz5n/R08LS+R/UAqziS93Squ9vfU4amYyFzpmU00gPLgZZ7gdzhxAOfBATdZgt9TcJJKS8y01HUnarKSJuXKO6Q77OfPlx9youL7Naay7usWD4wzajMNybA0CJjcvJJPrg5e/fvX0C0Yztl1uItrKeohc9hdA6phLBLlx2c9+5UtsHiXiB9hnZlR1kzn0NQfWO8xuPOegniEBJUNRS47w3Labq0w1UQEdXG05GKQcHt93OCsDC90lr6aakqJWyyUUxhfURnNk2X2gf3963XXDNJdKrvvvqeBz4+Sn5CTZ5aPPPZcs2ioaS3UzKOhgbHGwZNY0ZAICLvVSLXiChuVrlJr5JBE6mYM+XiJ8oOHNlxB5lI6QGxRSWmuAHKm4thAIz22OY7ab2DP5KMs96tGD7pXDEUR74lJlp6zZLnTMJ3RjoI4ZDisuI3HEVwivl4p+QjhB7yoycy3P7b/5stwHNv6UBz0GHrYyuijgbPCx0nlRU9ZLGw/3WuDf0Vvgttvoo+96SiijYPstYB81XqH0hB+IrQ/zigKkpvCv1aT41CKbwr9Wk+NASqIiAIQCMiERAY7mPo3cpECYz5zejqVfu0jJbnK9jswSrQvmOlbGfiHdWSU9CJzVvf5Dn7Ibs7OZ/7wQE8i+dR6en/wC9wwP7tX/9KuVunmkPn4akHVUg/wDqKA+gIqE3TvbPtYfnHVM3/Ba/6drT/wDAKo/9iNQF84EZ9IVmjlkqo2xU5yaB5T/8F85wjjOjx3FMKWCSDvd7eVY8glwdnlvHUV9MpWMjp2MY0ABvAIDdFEyFmwwf+K3IiAIiIDFvPo6X4CqyOHzVmvPo6X4CqyOHzQBERAEREBJYV+uyfAVPKBwr9dk+AqezGeSAIiIAiIgIHFH12P4Co1SWKPrsfwFRqAIiIAtJPMPUtVpJ5h6kBZrH6Mi6llrEsnoyPqWWCDvCAIiIAtk3mO+Aretk3mO+AoCpfad8Z/dE+074z+6IAiIgC5LdTia7QOa7Ze05tcFxrIs/paHrQFip6gve6GYbMgO8dPvC5lxT07Z8yHbLg7yXjiFugMxjHLtAcOOR4+9Ab0W2aWOnidPM8NYxpc5xO4AcSoKGPEmJ2G6R3B1upctqjiawbcnQ9+fAH1ehAZF/rLjVVkeHLJNyU8zNuep2c+Qizyz+I8AsK7S4YwPTsp4IXy1c5zcGN5SeY5+c48cuvIBcuD7wy5Xqv76Y1lVssa9odmPIza4NPOM9/wDfCw8RWjEUVfUOt9pp5HVM4c2vmnyDWZNGyWgF27I5Abj0jPcBBUNkirbhW19ys0bIamoE0NPUbL3RvyyJ3ZgZ5A5Lloal+DLtmABaax/8RvNTSn7Xua7n6CpSHBsUsed6vFVUSHjyMzoGN6msIOXxFx96j73ZJ7DFtOqX1drl/h1cVU7bfEHbtoOO8t6QeHFAb79h+utNzfiXDVIZ2Tj/AG6jYci88z2/zdI51gy3jFbYHXk4WkhoYRnMyc5Tkc5DR0cVz0dxxPhOA0cNC660bN1OGyhs0Y5mna3OA6c8+HFa1N6xhiWHvSK3GzwPBE0skgfNl0Ny3DrQGdS1UFbTR1dNIHxyMDmOHOCpjB9st1JSzVVLRRRySyEyPYwAu6yoWgoqe20UVvpW5RwsDWAnmCsWF/RrvxCgJRERAEREAVVuXpOb4lalVbl6Tm+JAcKIiAIiIDWP6VnxhW2L6JvUqkz6ZnxhW2L6JvUgNyIiAIiIDEvvouTqH7qss80KzX30XJ1D91WWeaEBqiIgCIiAlMLfTy/CP3U4oPC308vwj91OIAiIgCIiAr+JfSI/D/qo9SGJfSI/D/qo9AcM9MXO5aA7Lx+q1p6kS5seNl485pXKuKopmzZPadl7fNcEByrR/mlcVPUOc8wTt2ZBzdI6Vyu80oC02r0dD8CyFj2r0dD8C1nqHuk72pt7/tO5mhAa1FQ8v73phm88TzNW6CnZA3IbyfOceJWsEDIGbLd5O9zjxJW9AFsn+hk+Bb1sn+hk+BAVFvD5n91qtG8Pmf3WqAIiIAsuxel4utYiy7F6Xi60BZRw+aIOHzRAEREAURiv6GD4lLqHxX9DB8SAh0REAREQBT2GPRh/EUCp7DHow/iICSREQBERAB5w61U6369N8ZVsHnDrVTrfr03xlAcaIiAIiIDkpfrUX4gVsbwHUqnS/WovxArY3gOpAFtlhZMzYeOr3LciAx2yyUjuTqCSz7MnR1rIBBGYOYK0c1r2lrhmDxBXyLFGk7GVuxHXW623QQw09XJFExsLDkGuIHEHoQH1DEfot/xBV1vAdS+a3/Sxj91tcH38nyh/w8Y/Zqgm6U8b5DO8E/8AyMf4ID7Oi+NDStjYf/ZQfOMLezS5jhp9Jsy6DTtP9EB9dnqWxHk2N2nng0LSGmO1y1Qdp/6BcNhqTcbPSXWWNrZamljkk2RzuaCf3WZwQEthX6WbqCmlCYUIMsxHQFNoAiIgCIiAruIvSX9wLBWdiL0l/cCwUAREQBaO5utarR3N1oC2UH1KL8MLlXDQkCiiJ+7C5kAREQBcVd9Uk+A/suVcVd9Uk+A/sgKmzzQtVozzQtUAREQBZmHvSw+FYazMPelh8KAsiJmM8kQBERAHcD1KExX50Cm3cD1KExX50CAikREBsngZOzZduI4HoXHDO+J/e9Ud/wBl/M5c62zQsnYWSDqPQgNzuB6lYMN+iWfGq5CySOLYkk2iOB9yseG/RLPjQEgsHENzltdsdPSxcpPI5sdOwfae45D5c/UFi3KS4X6vksNrqn00MIHftWzzgSMxGz+bLeTzZjpUTcXsw5eILbT1TqmlppG1b4i8vkpxvY4nPeWkOLhz5tPuQElT01swRb/CFxc+rr6l4D5Gt2pZ5DwY0cw93AAZnpWySivd3r6W834UtDBRycpFE1xdICQR5TyQBuO8ZfNSF3t9TdHUt0s9XCJYdoxulbtsc1wyPA8eGR/xWFVWG1U8RumNrqypy3f7SQ2FufMGcD88ygOW709oxVTilorrF3xC7lKeaGUF0TxwO79VBwTUeNrZU2K9xiOsppNioY0+Ux482Rp6DxB+SmYLTg3FFM6S0Qxwyw+SyopoeRlhPNxAOXPkRkfeqmLdVVtZJUPrXU90oJnQSVUIGT8gCM2ncWuBDsjwz9yA5vFnHjx4NdeaRkLRkK1kZMrh8J3A+/MrSy1VxjqaixXrJ1VSEfxWjdNGfNf7ju3jpC1kqtIlTnTSXe3Qxndy9PSu5QD+84tz+S5bTZ6a0RObE98ksjtqeeV20+R3SSgMl8cbyC+NpLTm0kZ5LciIDlofSEH4itD/ADiqtQekIPjVpf5xQFa8EXP2V3YpGyystULori4ROc7NodzhS+Q6AoDFe+riB9VASvhm3e1M7U8M272pnaqwBnv39q1yHv7UBZvDNu9qZ2p4Zt3tTO1VnIe/tWhb0E9qAs/hm3e1M7V8i1iqSpra6gqqaEvjJl2XDgc9j/BXUjIEAKvaYB/0TanfHkgPkD7dXRt2n0zgOpS0OjnFc8LZhDTxlwz2JpiCOvJpWQ50jbrbAzg65xB46RvU1im63anvXelLcJIYhA1wEbW7ySd+8FckljLKPOSl1Fju1HUyUdRTNMkTtlxicXN+RIH7Lb4LuHsr1YCXue6aaZz3vdtPe/LMn5ICDwK4lSy6BLVccrmRSOyJh5ujb/xX2Bl2tzGBnfTMwN+ZVA0CE5XFoPM0n9VNPA5Z+XSgLN4Zt3tTO1PDNu9qZ2qs5D39qZD39qAs3hm3e1M7U8M272pnaqzkPf2pkPf2oCwV9fSVlI+mpp2vke3JrQeKhxaLmP8AhHdiWgZXOL4lZwAQCQgKx4IufsjuxPBFz9kd2K0ZDoCZDoCAq/gi5+yO7E8EXP2R3YrRkOgJkOgICCssMtrqHTXBvJMc3IOdzlSYvFuAy76Z2rFxUf8AY2D/ANIoIDPfv7UBZ/DNu9qZ2p4Zt3tTO1VnIe/tTIe/tQFm8M272pnanhi3Hd32ztVZyHv7UyHv7UBJ3iOS6zsnt7eVa0ZOc3mKxPBFz9kd2KTwp9Sk+PcpQNGW8BAVjwRc/ZHdieCLn7I7sVoyHQEyHQEBV/BFz9kd2LR1nubmlvejt/uVpyHQEAG0N3OgI6311HR0bKapqAyRnnMPMufwxbQTlVsPzUDdx/0rN1hY2yP/AFSgLP4Zt3tTO1PDNu9qZ2qs5D39qZD39qAs3hm3e1M7Vtku9ucxwFU3MtyAB4qtEdH7o0ZPbv8AtBAZPgi5EkildkSSE8EXP2R3YrNGAY25j7A/Zbsh0BAVfwRc/ZHdieCLn7I7sVoyHQFoQ0DMgICseCLoeFG7sXLQUVXRV0dXVwOZGw+U88ArAySOVokheHNd5rmHMLHvfoqbqQGvhm25kirZvOfFaPvlrjGb62No97slSK2e63C5x4esBayUsD6mqeMxAzm3c7jzD5rKq8M4DssLZMSVUBe85d8XKrG093uLiAOoICXxzfaBmGpiyqYWuliEmR4sMjQ7/u5rkxzdqSnsUTBXGGnnqY4qiaMkFkbjkd44Z8M/eqriDBptlukrcMvfPRSMPfNvMhe17DxdGSdx58uBW7BN9o7xbzg29SNna6n/ANllfwqIeGR/mbwKAs9TQYdNDDBaatlHJTb6WaADNpPHP1gecHisWvrccVcTKShqbXM4HypWMfmB07OfH5qAtzKzDFy8WLtM58Tszbalx+kZ6hPrD9QpOsqLjR2uqqrbM5jo2tdIWHJ2xn5WROeW5AYF8sssEOd8ZUXKrl3QU7jvc7+RgOTfi5ulSN6pLpa9HRobsDPVvohTnM5mWVzdnL3kkqbjlwpheEVcbtueoaNhxcZZ5ucAZ5uPVwHuWyjt1xvlxjvl/h5JkJzoqHPPYPrv6Xe7mQEdT2a6sgYx9M4uDACcuJyW/wAEXP2R3YrRkOgJkOgICrmz3I7jSu7FJWaWO10hp7g4RPLsw1x4jpUqQBv2f0UBij0i38MICW8M272pnanhm3e1M7VWMh/6pWuQ9/agLN4Zt3tTO1PDNu9qZ2qs5D39qZD39qAs3hm289WztULV2+tqqySpp6dz2OObXDgQsIgZH/FWi1brdEcvs8yAgPBFz9kd2J4IufsjuxWcNGW8Ba5DoCAq/gi5+yO7E8EXP2R3YrRkOgJkOgICrstNyZIHupXZBwJOXABTou9tYAO+27h0rImAEL8h9g/sqgA7aOZ5ygLR4Zt3tTO1PDNu9qZ2qsbIWuQ9/agLN4Zt3tTO1PDNu9qZ2qs5D39qZD39qAn7lXU1dRvpaWZr5Heaxp3lRAtFzAy70d2LWyjK6RdZ/ZWfIdCAq/gi5+yO7E8EXP2R3YrRkOgJkOgICr+CLn7I7sTwRc/ZHditGQ6AmQ6AgISysda5XyXEckHDJhdzlSPhm3e1M7VhYrH8CP3OOXYobIe/tQFm8M272pnanhm3e1M7VWch7+1Mh7+1AWbwzbvamdqeGbd7UztVZyHv7VoQMj/igJO7wTXKrFRQM5RgbkXN6ehYvgi5+yO7FLYYANvOY+2pLIdAQFX8EXP2R3Yngi5+yO7FaMh0BMh0BAUHEVLeXVdLY6Rj4ZKsuL5mgbTI2jytn3ncFhVuGsF0UnelxtFPJMAC580Jlk6y7IntKtWKmz0l/t12FFPLDEyVkpp4S8tJAy3DemFGy1V4uFz70njhk2BGaiB0ZJA37nAFVTwinPJj6PK+30VqqKZjxHC2rd3uw5gBuy3cAeAzzU827WthJbURjM5nfxVNxNequjxE+2W20Gple0yOAmEYAzy5+K22O8PuwqIqihfTTU03JzROkDsjshw3jjuIVCpdfDNu9qZ2p4Zt3tTO1VnIe/tTIe/tQFm8M272pnatJLtbnxuYKpubm5AA8VWsh7+1I91RH8aA5xaLllupHLXwRc/ZHdiszB5IJ6FuyHQEBV/BFz9kd2J4IufsjuxWjIdATIdAQFX8EXP2R3Yue2UdTQ1zKusiMcbPOe7gFYch0BYGISfBEozQHL4Ytw4VbO1PDNu9qZ2qsAbh1dK1yHv7UBZvDNu9qZ2p4Zt3tTO1VnIe/tTIe/tQFm8M272pnasC9vbdWRx248qWHyw3mUORu3H9VK4TAE04HqoDD8EXP2R3Yngi5+yO7FZwARwC1yHQEBV/BFz9kd2J4IufsjuxWjIdATIdAQFX8EXP2R3YpOz1ENtozS18gjk2s9l3HJSjgAMwAq/if0tl/IgJcXi3AZd9M7U8M272pnaqxsrXIe/tQFm8M272pnanhm3e1M7VWch7+1Mh7+1AWYXm25gmrZuPSoSottfNUvnhpnOY92bXDnCwpBkw9StdB9ThH8iAr3gi5+yO7E8EXP2R3YrRkOgJkOgICr+CLn7I7sTwRc/ZHditGQ6AmQ6AgKzDa7hFOyaSmcGtcC4nmCmxebbkAKtnauat3UkuQ+wVUmjj8RQFo8M272pnanhm3e1M7VWch7+1Mh7+1AWbwzbvamdq+C40ulv8brkRVs8qtkd2uJX1TIe/tXwvGzNnFte08RUuQEnbrdT4tklt8FX5EOyZ3R8d/Ae7rWPecEYVoKSaelvFSaiJpLIe/s83Dmy/ouLRpcaK03K7uuNSIhOyHkS4HysmuBy/RZFNTw8i1zoWl3HMt3rnySOPNshBa7hl9UetfBdw9lepyWaeKB9WbbVGCMEvnbDmwAcTn7lyLgcj6vhG03PxWtw70duooxw6GgKRNouZ/wCFd2KUwWQ/CdvflxpWEdikyBluH6ICGsgNqfI64/wtvLY2udSHhm3e1M7VgYsH8OHPpKh8vee1AWfwzbvamdqeGbd7UztVZyHv7UyHv7UBZvDNu9qZ2p4Zt3tTO1VnIe/tWhAyP+KAkrtTT3Gr75oYzJHsgbTeGaxvBFz9kd2KYw56OA/mP7qQyHQEBV/BFz9kd2J4IufsjuxWjIdATIdAQFX8EXP2R3YtDZ7mf+EcrTkOgLQgAEgIDCprlQwQRxS1LQ9jAHNJ4HoXJ4Zt3tTO1VytzNZLlnnyh3rZkPf2oCzeGbd7UztTwzbvamdqrOQ9/amQ9/agLN4Zt3tTO1cdTdKCaF0UdU0ue0hrQeJVdyHv7VvpR/tcWXrhAcos9zAyNI7sTwRc/ZHdis5ALs8t3vWuQ6AgKv4IufsjuxPBFz9kd2K0ZDoCZDoCAq/gi5+yO7FkWqlnt1cKuujMcYGRc5WDIdAUfiUDwQ74v6oDl8L2zIjvxvatfDNu9qZ2qsZDj/Va5D39qAs3hm3e1M7U8M272pnaqzkPf2pkPf2oCzG8W08atnao++ZXZ8fg3+Lyfn7HMonIe/tUthTjP1IDB8EXP2R3Yngi5+yO7FaMh0BMh0BAVfwRc/ZHdieCbn7I7sVoyHQFi3m6UtktstyqvNjG5rRmXE8APeSgIB9qubGkvpHAKSslyoKSiFHUVcbZWuzcza3hYsVgqbzCbtjetfHCfKZQRzFkcTf5yCC4/PJRFdhXAOI53z4XrmQ1EQybUUFSc2H3jPI/MICcwXd6Kqoq5rZ2mVlxnEuZ35lxI/TJY+DLtZO852SzMFb3xIK8Seft7R4+7LLL3ZKj011vODcSyzVsJfNsjv8AiYN1RENwmYOkc4U/iS0OqzFjnCjhJMIwZoYzuqouj4hzdiAm3W6Clc4WHF1RQROJPIRtjkY0n1Q9p2eobljz1uDrFUNrrxd33Gv4RCZ3KSE9DGAZNz9wCwbZcaS70LK+jkJY8fNp5weghROF7vYcKS11NeKUur21jjCYqZz5Zo3b27wOsZkgIC7WWpbTuq8TXp7KXlo2gROcP4UTMyNo+t5RJ6OCr1gorpdnVmIBRvEdwrDNBmP92GtY0/MNz+awq5t7xfIHXiLvO3tILaEOzfL0coRuA/lCv9A1jKKCNjAGiMAADggK94IufsjuxPBFz9kd2K0ZDoCZDoCAq/gi5+yO7E8EXP2R3YrRkOgJkOgICtUtsrqeqjqJaZwYx2b3HmCmjdrYTn32ztXJcMvB8wy/3aqrR5P/AIoC4qBxX9ci+FTygcV/XIvhQEaiIgCIiAO4HqVf0wtzsFpeOZ8gPzDf8FYHcD1KE0vMzwrbX5cJnfsgPnLmNcQSN7XBzSDkQRwIPMUkec+Wnne45ZbcspcerMlarWOQU9TDVuhdIIZmvLGZZuAO8DMgKqBl4Zhttyuwp6mnhqAI3EtewPA9+9YtbHSQXu4U1DA2OKKqDWsY3JoPJsJyA4byVLvx0zk3NosP1DJCPJdM6NrfnsuJ/RQjGv2nyyv2pJHl8j+lx/8AV/RVeEsHFZyfRtATsprow88cZH/ez/cKdf8ATP8AiVd0CvyuVwjJ/wCHbl2qxP8Apn/EuJyNEREAREQGRaPScXxf4q0N4DqVXtHpOL4v8VaG8B1IAiIgCIiAi8VfVY/xAoNTmKvqsf4gUGgCIiAIiICbwp9Tk+NSqisKfU5PjUqgCIiAIPOHWiDzh1oCr3f0rN1hY6yLv6Vm6wsdAEREAQee34giDz2/EEBbovo2/AP2W5bYvo2/AP2W5AFE41q5qeyGlpyWvrJmUwk5mbbg0uPUCo6rvWJJ7vWXGzkS0Vte2OWlDd8xyzeQekZjsKkq27Ybu2GnV1fURuoZ48nbfP7svWz5uOaAw5Y2YBqWyQRkWmcgTNAz72fw2vhPP0HfzrHv+MamS1T3K22d89sj3T1mZBI4FzG5eU0c57FKYQbc6myche4nOZtFtOagfxHxc22OnL/x3rEx7eKy00MFktUUUHfYLBUyt8iIAcAOBcRwCAhNH9XT1dwu8rHtdI6eN7SOeIsGwerc5QwuVvguNwrMQwGe5vrXwx0+xtvMeZ5NjBzDZyPRmSTzrKZa58Jsp7tYInSupoeTqYSd88WeZ/vA7x8xzqyU8tnuNK3FVvomVEhpyYntYNsjjsZ8xz3ZICMwrBPhOxVFdiOoipKd0pkipdrNtO0/Zz59+/IdQUHS26O9VVZd7TA6ghklE1vMm5zZueQD7LXbs28+/pWwXmkv7XYmxXcYtiJx73tjXboSOYtO9z/l1Lmbgy1xYAqL/iCKfvwU004LqhwLCdpzABnkCBshATVDPRY+sctovMXIV1MQJWsOToZB5sjD0c47CsnR9XS1tbW2W7RsNTSN5KpA3tkBG5w9xHNzcFCR2OouFLR3amuMtFWilDJJ4gCXtI3gg8enPmKseALTRWeaWCkYc3Mzkkcc3SO6XHnKAnbdZrVa2/8AR9viiJG9zGDM/PispG8B1IgCIiAO4HqUBij0k38MKfdwPUoDFHpJv4YQEciIgCIiAO4HqVotPo6L4Aqu7gepWi0+jovgCAyEREAREQG2f6B/wH9lURxPxFW6f6B/wH9lURxPxFAEREAREQGVZvSkXWf2VmVZs3pSLrP7KzIAiIgCIiAicVfQR/Gf2UKprFX0Efxn9lCoAiIgCO4HqRHcD1ICewv6PPxqSUbhf0efjUkgCItskjImF8jsgEBuUZiG91VslpaKgpWSTVcjms5V5DRk0k55dSzqeSaYmRzdln2QeJWLfLHHeBDIKyWnmp3l0M0IaS0kZHc4EHd7kBTnUV6nxTLebrHTxBsJja2F5dnmc8zmuDDMgqbjd66LfFNXN2HDgdmJjD+rVzXPDd0nrpoK3F1bLEX5OYI4oyR0ZsaCueGmjtEDKehgAgjblsNG8e/3queRRIykWkcjJWh7HZgrVUKhax/WI/jWi1j+sR/GgLczzB1LVaM8wdS1QBERAFgYg9Ey9az1gYg9Ey9aArzeA6kRvAdSIAiIgClMJ/TT/CotSmE/pp/hQE43gOpEbwHUiAIiIDR/mlV/E/pb+4rA/wA0qv4n9Lf3EBgIiIAiIgNJPMPUrVQfU4fgVVk8w9StVB9Th+BAc6IiAIiIDirvqcnwFVNnA/EVbK76nJ8BVTZwPxFAaoiIAvh+kBuxjO4jpqXHt3/1X3BfFNJLdnG1ecuMuf6BARllJ8Is38xVggpbnXvey20Bn5PLlCJA3LPhx6lX7N6RZ1FT0VVeaGR8louYp+UA5QOgD88s8jv4cVVYzzBM1lPVW3R/XQ1sYZNNTStbHtZ5OeC1oz6d4UMBkMlrPVXW4Frrvc3VGwc2tEYY0HpyHOtFWTT6FEsH3nAT9vBltPRSMb2DL+il1B6NpBJgi3HogyPaVOLiVIfFvmRdZUOpjFvmRdZUOgCIiAI7gepEdwPUgLBhv0ePiP7qQUfhv0ePiP7qQQBERAEdwPUiO4HqQFTrPrkv4hXGuSs+uS/iFcaAIiIAt9L9ci+MLYt9L9ci+MIC2oiIAiIgCj8S+iH/ABf1Ugo/Evoh/wAX9UBX0REAREQBS2FOM/Uolc1Le5LPHydJTCepqpmxU8Ln7IceJJPuAKAtRIaC4ncOKqkdXfpjNji3zSzQNnfGKEHdJA07O00etmHH3hT1mvVJfaVz42Fkkbiyop5POjcOLSomxTixYokwrQz98UkrXTCMHM0jicy0/wApO8BAZk+NLO2igqaNzqmSqGdNTQjN7zz7ubLnJ4LBrL7R4gqbO5jXNjNxLaiGUZOikaxxa1w6dr+ilJLZh/C0dXiKO3tY4ML5nRtzJHEgdCiKTDtTiWKpv1cWUslY1jqSOB2fJFhzZI487uHy3IDJxi+llvltt95ds294kfKHnJj5G7JYHfLaOXPkoJtEb9jFmI7HSso6ClBa6p2Nk1Y4ZAeqOk/JWO0V1NiWCSw4ot0XfdORy8Ejc2v6Htz5j+iq+ke9vkxN4o1VaLZQNga90ueyahvqNPAAc/OgMbFd6ocSXOnorW2MCinD5bo92TWZedG0/azG48y1tF3gwlXl0dYyWzVUuRc1wIpJCfdwYf0W3DFksmJbw+dlqjltVHTCGn22fw3yZ5kgc+QGWfvW20W21yXq/UVHQwtoH1DI2xRsAZmIwHgAbuOaAy76yCwYop5LTKxzbk899UTTvBy+maOYcx6dxUjsM2tvYG1llnlvWFZ8OWyyFz6ON5e8AGSWQvdsjg3M8AOhZr3tjaXvOQCAP80q2UX1SH8MKpFzXM2mnMHnCttF9Uh/DCA5UREAREQHBcvqE34aqrPNCtVy+oTfhqqs80IC4qBxX9ci+FT2YUDiv65F8KAjUQEHeEQBEWjnBoLnHIDiUAdwPUtcQ4WkxzhqG3UVQ2OSF4e2SQHZPMRuWM50tYS2MlsXO7ncrXh5jIrVExgyAbuQHzWTQNipv0dzoHf/ACR4/wDUFwu0G4ybwnoj1TO/91X15EB8eOhHGw4NpT1T/wDgn+hPGvPHT/8AscL7CiAoujbAd6wXV1Nwu/J7MkIYGxu2jxzzWTttkkc9hzBPFXB+9hB6FSZ4JIah8lL0nNnMUBzouOCojnGTdzhxaeIXIgCIiAyLR6Ti+L/FWhvAdSq9o9JxfF/irQ3gOpAEREAREJA3lAReKvqsf4gUGpzFX1WP8QKDQBERAEREBN4U+pyfGpVRWFPqcnxqVzGeSAIiIAg84daIPOHWgKvd/Ss3WFjrIu/pWbrCx0AREQBB57fiCIPPb8QQFui+jb8A/Zblti+jb8A/ZR+JL5PZ4oIKKk5aqq5eSpmOdst2ss8yeYZIDEpc8K4h7wEgfS3Wdz4o/tRS5Zu3c7Txz5j1rMbhOw01e67Ohy2XGQRvd/DjceLw3gD71Xb43FOH7nR3OtqI6qUHZhmDNlmbvOhd0A5eS7pG9TluxNXTXFttxBZTRCqB7zc6QPDyOLHZbg7LflvzQGySsu+KJHR2apkoqFo3VgYNuc82wDwb7zvPNu3nZMyHFFiqcMYnhAqomgTBhy2vVlYebp9x3JTuODa8W+oefBtVJlSvJ3U7z/uz/Kebo4dC34ytc1TQeFbbMIq2kO1TyHg4c7HdLT/4oCtUNRU22uOG7xIDURs2qeYjIVMfDaH8w4OHMd/AhcEFwOFL1K63kVFPUfxKu3xvHKRH71jSd4PO35jfuMtQ1+HsbUopLpRMFTAQZaWfc+J/S08cuOThxCjcX23ClhtrKehYynuHK8pQNp27Ur5PeOJB4HPdkgOV9/0VvqfD0z6MVIGe3JTETD+6W7WfyWPca+px05tLHSSU9qjkDpDM3ZfUkHMADmbmM9/FZtPTRyxR1NXRRNnLAX5NByOW/esjhwQAANAa0ZADcFIYbi5WrkaHlpDMw4cyj1J4V+vSfhoCWhqXscIKobLvsu5nLnWySKOaPk5G5ghcTXy0Z2JiXR/ZfzjrQGQiAhw2mnMHgQiAO4HqUBij0k38MKfdwPUoDFHpJv4YQEciIgCIiAO4HqVotPo6L4Aqu7gepWi0+jovgCAyEREAREQG2f6B/wAB/ZVEcT8RVun+gf8AAf2VRHE/EUAREQBERAZVm9KRdZ/ZWZVmzelIus/srMgCIiAIiICJxV9BH8Z/ZQqmsVfQR/Gf2UKgCIiAI7gepEdwPUgJ7C/o8/GpJRuF/R5+NZ1RUMgbvGbj5rRxKA1mmZAzbeeodK4o4JKh/L1W4fZj6FrBTvc/vipObzwHM1c6AI7gepEdwPUgKrcvSM3xrhXNcvSM3xrhQHBJDJA4zUozz86Pp6lyQzxzs22HrB4hb1wz0ztvvimOy/n6HdaA5lrH9Yj+NcUFS2bNpGy8ec08y5Y/rEfxoC3M8wdS1WjPMHUtUAREQBYGIPRMvWs9YGIPRMvWgK83gOpFoOA6lqgCIiAKUwn9NP8ACotSmE/pp/hQE43gOpEbwHUiAIiIDR/mlV/E/pb+4rA/zSq/if0t/cQGAiIgCIiA0k8w9StVB9Th+BVWTzD1K1UJAo4SfUQHOicUQBEQkDigOKu+pyfAVU2cD8RVsrfqkvwFVJhG8fzFAbkRcEtQ97+Qphm7ndzNQG6epLHcjC3akPAdHvKr180WWDEVe66XGoqWTSAcpyD2gE9O9pVip6dlO3dvcfOceJXIgKxZNB+Ezc2AVtd5p4ys/o0KwnQXhbmrKr5uH+CkbF6UZ8JVlBB4ICjnQThk8LhVDqIW06BcOHhd60dRb/gr0iAjrPbYcL22C00+06nhbste7iOtSIIcNppzB4EIQCMiMwVjlklEduIF0fOznb1ICPxb5kXWVDqWxTIyWGF8bswc1E8UAREQBHcD1IjuB6kBYMN+jx8R/dSCj8N+jx8R/dSCAIiIAjuB6kWhIyI9yAqlZ9cl/EK41yVn1yX8QrjQBERAFvpfrkXxhbFvpfrkXxhAW1EJA3lEAREQBR+JfRD/AIv6qQUfiX0Q/wCL+qAr6IiAIiIAtKKCoprvDiJsPLQ0jXtniHFrXZfxAOcjLh0Eo5zWNL3uAAGZJ5lhUN/r7haLhUUFDLHbi3YdcQ4h3ve1uWZYOc9BOXBAWe6Yffcqpt+w5c20080YZNM1u02WM8Dln5w5iuN7rRgejFHbaV9VXVBzbE05yzv53OPMOkncOboWNaceWC20NPbpqOSnMQDJWxRExwjcA7a4bJzGR7edc98hmsd48cqRhmp3wiOujaM3Bg4Pb1c45wgOS2Xe8w1ngjF8MA76bnTSwjyHHniOfOObpC4oozgerFO5zjaqmXKJxOferzwaehhPDoO7nCkqyktuJrTyTniSGZodHJG7eDxDgeYgrBoLmIQ7C2L+Tc9zS2KaUDYqmfPdtdIQDFlvp5GQ3umuMVJWUzv9nne4Br8/sO6WlQl4xjhqrm8H40s4hlYAXR1VNykZPS12RB6elTT8JYJs7DW1zAYmMIaKupdIxgIyOQcSOHzVbtj5KiaeMskfRskyt76hvlGPm478hzE8yAVWL6i7Q+C8FW98cfmOrZoSyOIfyg+cejmXNaLVTWahZQ0uZDcy57jve47y4+8lZIAAyAyCIAhAIyIzBREBjSQyU2clNvb9qMn9lcbZPHPRQuYf92MxzhVZ/mlWaCl2qeGaB2w8RjfzHrQGWi4oanadyUzdh45unqXKgCIiA4Ll9Qm/DVVZ5oVquX1Cb8NVVnmhATnjTSZ58g/sXDVU7sSubU0vkBnkkP5yoapngpKd9VUSBkcbS57idwA4rKwXi+1VTm0bo5oX1D/4BlDfLOWeWQJLT7nAFAZnitW/fs7U8Vq379nap5bJ6hkDc3byeDRxKAgpMNVUTC99SwAe9cDcKXGsO3JM1see5pO8qwR08kz+Wqv7rOYLnIzGQOSAgG4UqwA1szMujNc8F3gs48HTRuc+MZEt4KXyIO5Vm9elpetASfjTS/cSdieNNL9xJ2KDRATnjTS/cSdieNNL9xJ2KDQ55bkBNnFNIRlyD9/DcsY4Zq5SXidnlHMDPgowDMjduz4K3QAck34UBX5sHVkh22VDGvHBwW2LD9eH8jUysa/mOe4qyrbLEyZmw8dXuQEH4rVv37O1PFat+/Z2qWD5aM7E3lR8z+cda52ua8bTSCDzhAQcVlntcguE0rXNi3uDTvWR41Un3D+xZd43W2UfyFVho50BO+NNL9xJ2J400v3EnYoNEBOeNNL9xJ2LTxqpPuH9ihEQEvPOzETBSUrSxzPKJfzrh8Vqz2hnatcLfXJB/IVOAEHNAQfitW/fs7U8Vq379nap5EBA+K1b9+ztTxWrfv2dqnkQENTVDcNsNJVAvMh2gWLkGKaQbhA/d7li4o31kfwn91GgZICd8aaX7iTsTxppfuJOxQaICc8aaX7iTsWnjXSDyuQk3e5Qi2yABhy6EBKyWee7SG4wStayXeA47wtvirWffs7VKWTfa4h7lloCB8Vq379nanitW/fs7VOuc1jS97gABmSeZYlrv9nvT5WWuuZMYXZSBp4f+CAjPFat+/Z2rXxYrGHa5VmTd5APQp1xAGbjuHOVFVuL8KRcrRy4jo2vLS0jvhuYPRx4oCKr9K1ot9VJTst9VPHSgCsqYY82Qcw2ism63ez4ktRppI5CyQB0U0fFjuIc08xCr2Ca2ntkkmDrmyF8cznuo6gAbNSwne13S4c/SFxupJ8D3ZlskJdaqp+VHK4/QP8AuyejoPyQE9Y8WUd8jnwdieDaqo48nbQyFRHzSN9/T0FY0t4ZTF+C8TiR4eNq21v2ntHDfzPbu/dYV8tDrgxlbQy8lW0x26Wccx6D0g8CFkQ956RMOOpa+I09ZTvAkDT5dNMODgejnHSDl0oCQsuKKW8xS4SxTDt1LY8s3NyFTHzPb7+kDgVulwzW3GHwNUYprH0ZO6INDZCOh0g3kdQB96rcUDL419mxBCYrhQuGckLi13ukY4b8j/4LOtdlvtTcI6OsxtcJKdxyMYbGx2XRttaHfqgNtrwi2tuFRhy4vhq32/LkazPNxYeALhvDxwPTx51K0Wjynt0jpqKngZI/z5AM3O6yd5U/bLVb7PT96W6mbGwOJOQ3uPSTzn3rJQED4rVv37O1PFat+/Z2qeRAQHirWffs9+9clPC7DcnfdW4PEg2Whm9TRAKisWb6KIgZeWgNfGmkH+4f2IcUUbhsup3kHiCFBjhvWqAkziaGjJfDTyOj4lmXDqXNFi6imZtsheR1KGXBLTOa/lqY5O528xQFiOKqTngf2LhqKaTEbxXUrgxrRskP4qFhqGz+SRk4cWlWHCxytzsxn/EKAxfFat+/Z2p4rVv37O1Tw4IgIHxWrfv2dqeK1b9+ztU8iAgPFWtO7vhnasmO+01tYKCSN5dEMnEDcpUgk5qq3P0nN8SAlvGql+4f2LXxppfuJOxQaICc8aaX7iTsTxppfuJOxQaICbdialmaYRC/Nw2eHSsUYXrCMxUMGe8b1Hxbpm+94/dWyMDkwSM9yAg/Fat+/Z2rXxWrfv2dqnhw3ogIHxWrfv2dqeK1b9+ztU8iAg4rPPaJBcZ5GuZHxa07yuY4ppDwhfn1LLvvouTqH7qsNB3FAToxTSD/AHEnYtfGml+4k7FBogJzxppfuJOxaeNVL9w/sUIiAl6mVuI2CGlGwYztOL+jguLxWrfv2dq1wt9PL8I/dTqAgfFat+/Z2p4rVv37O1TyICB8Vq379nahwtVnhMwdORU8uCad4f3vTjaeTmT6qAiRdo8NDwZLG6WV3lDY4Ae9b4MQ0rDyssL3PPE5cFiX2mbDcdonacY/KcetYiAnPGml+4k7E8aaX7iTsUGiAnPGml+4k7Fo7FVIG/QSe/coRaO4EoCUfYqm4vNfFI1rZfKAJ3haeK1b9+ztUtavR0PwLIQED4rVv37O1PFat+/Z2qeRAVybB1ZIQ9lQxrxwdmlPYqxkmVRKxr4/KIz4j3KxrhrYGTU0gfxDfJcOZAYDcVUmWQgk3buC18aaX7iTsVbhndC/kKncSTsv5nLIQE5400v3EnYnjTS/cSdig0QE341Un3D+xbJ7pDe4zbKeNzXycHOG5Q56llWAZXaIZ86A5/FWsHCdm/3rXxWrfv2dqnRx5/mtUBA+K1b9+ztTxWrfv2dqnkQED4rVv37O1clNGcNEzVfliXc0MU0ofFgzhgGf2kBv8aaT2d4+S18aaX7iTsUEG9JWqAnPGml+4k7E8aaX7iTsUGiAmzimkO4wP7Fw1NC/EMvhCleGt83J/HNRSnsMZ+DDkftoDC8Vqz79natfFat+/Z2qdAOeZK1QED4rVv37O1PFat+/Z2qeRAQBwrWkZcuzf71ksxBTUUYo3xPLohkXAblLDzh1qp1o/wBtm+NAS4xVSZboH9i18aaX7iTsUHkBwRATnjTS/cSdi08aaThyD+xQiEZoCaOIqWqZ3qyF+cg2WkjgSsYYVrACeXZv38Vg0payqjL9wDxvVkDpK3yYyWxDi7ncgIJ+HLjUPMNPOzZHnPzP6LliwhVQt2WSsHTv4qwMYyNoYxuQHMtUBA+K1b9+ztWnitWe0M7VPrQtJ50BBx2yWxu8I1Lw5jdxDTv3rIGKqTLdBJ2LmxFn4Kfn6wVebwHUgJzxppfuJOxPGml+4k7FBogJzxppfuJOxaeNVL9w/sUItN4PDqQEhWRvvz+VtQ2DHvkY/cHZ9C0hw7Uzt2o6hnvGfBc+FBlLNn0BSs1MS7lqd2y8djvcUBD+K1b9+ztTxWrfv2dqmYKkSkse3ZeOLSuVAQPitW/fs7VocLVnPOztU+hG9AQ8FwjsMYoKhhe8b82cN63+NVL9w/sWDiMZ3Lj9gb1hICc8aaX7iTsTxppfuJOxQaICc8aaX7iTsWnjTRk74H9ihFo7m60BJyYeqqpxq2TsDZDtAE8M08Vq379napejBdRRfhj9lzDhvQEF4rVv37O1PFat+/Z2qeRAQPitW/fs7Ubh2qpXCpkmaRGdojPoU8uKu+qSfAf2QEf41UZO3yEnYtfGml+4k7FAtG5bhwQE5400v3EnYnjTS/cSdig0QE341Un3D+xcdRcor9GbZTsLHuOYL+CiCAVmYd3XZvUgOU4WrPaGdqeKtb9+ztUvNdLbTVjKGorYmTy/RxF42j8lkICB8Vq379nauC4WbwXSurbhcIoomDynOcrG+WOIZySNaOlxyVbxDFHDiqku95by9sLQyPyvIglz3OcOBB4Z8yA0o7HFfLf3xSVsM0ErS3aDubgQuLDNRVYEqGYRxBKJYJxlbKnmc37p38wHDpHUsq6Ur8HXF+IbdCXW+pcDXwM4RO+9aOjp7Vsx7QUV+oYIZjtMeA6KRh3tPEOaeYjigMasulNg6p8H1VFyllrCWR5gEUzz9g/yHm6OHQtLJi2HD9wbhu6bbqGc5W6ok+zn/unH9j8ljWG5NvdPUYNxTEH1EceRLhuqYuAePf09BUS+3tt0xwPiUmaCUE2+ped8jR9knme3/wAUBahSXmyTPjwvNT96SuLhTVQOUJPHZI5vco+8177E6GPFc3hSjrpRHKJY2jkJTw2R6p4c5CwKdmO7UwUltv8AS1EI3MNfTuc9o6M2uGfzW6nscs1c27X6vdW1Tfoy9oayL4GjcOvigJanosH007ZxaHyOYc4xM8vDOoE7lnzW2W+u8I0r2sY7cGu3FRTuB6lYcOeiWfGgMHxWrfv2dqeK1b9+ztU8iAgfFat+/Z2rQ4WrOednap9EBAHCtbw74Zn7ysmPEdLTMFK6F5MXkkgc6lQAHcOIVRqfrcvxoCXmxFQztyfTyZjgQN4XG3F8NMRHUwSEfZky/dRa0cxr2lr25g8QUBODFVIRmIH9i18aaX7iTsVbLZaI7TM3x87edq5opY5mB8bgQUBOPxDTVrTRRxODpRsgkcFjeK1YNxqI/kVhUAIr4PxFanOGfmhAfLbxBiC5mno7y4UtNdOUibRtaC9rAzPacfWzI3Dh7+aYwVge4mqhrLjVQltLNtbbPKfJv2ssy0Foz35bTlpiuo5THVpt+WfJ0c836tarHh18/e74oGb3P3vPBqAlZ6nkzycbdp54NHMtIaYtdy07tqQ8/MOpbqemZAN29x85x4lciAIiIAqxevS0vWrOqxevS0vWgMZERAEREA5x1hW6D6Fvwqo846wrdB9C34UBuREQAgOGRGYWM6GWkJkpwXM+1H/gslEBhXOeOe1yvjP2DmOhVwcPmrBf6ZwoJp6U7L9g5jmcq1T1AlzY4bLxxaUByoiIAiIgJLCv12T4Cp5QOFfrsnwFTyAIiIAiIgIHFH12P4Co1SWKPrsfwFRqAIiIAtJPMPUtVpJ5h6kBZrH6Mi6llrEsfoyLqWWgIXHMNXLa2SMY+SmjmDq6GJ2T5IucD98ufJbK21Q1VDTYiwUYmywRDkGx7mTRfdn+nQVLXC426205qLlVxwx5b3SOACrFnxDa7JcnTWmflLPUTbMpAI70mO/PI/Yd+iAkaaOpxfnV3eGWmt0fm0snkumI4l/8o4Zc+W9c0eKMINhFFDLG2nd5DXiAiEnhkHZbK249bM+zxvET5aNs7XXCOE+VJDvzA6RnkSOcAhZctLabvZTTNhjkpJqfJrQPJLSN2SA+fY4wbDZ2+GLOx0dFyu3PHDxpn57poxzAc4G7JSthu9Fje0TYdvzGGpYzZmDeEjT5srPcePuK24XvclFXvwXfc35B3eM8m8Tx+qf5h+oUJerBJhG+RR0dU6mhlkJtlZlmIHHjC7pYebNASEYxXh0+B6ixVNya07NNWU5b5bebbzPkkcM1n2il8VqetxdiupjhlmY0PZHvbGxueywc7nEn5kgBcLMSY+jj73ksVBJIOE4qi1h95GRI6lsjtNbcaplxxPWNqpYztQQMZlFCekDnPvP6IDSzx1dwrZ8T3KIxzVQDYYTxihG9rT7+c+9TVn9LQ9ax1kWf0tD1oC0DifiKIOJ+IogCIiAKJxX9Si+NSyicV/UovjQEKiIgCIiA4qimbNk8HZePNcFNYSqXCgdBUt2Xcodk8zlFKaw5EyW1ua8f7w5e5ASyLHbLJSHk5yXM+y//ABWQCHDMHMIAiIgCqty9JzfErUqrcvSc3xIDhREQBERAax/Ss+MK2xfRN6lUo/pWfGFbYvom9SA3IiIAiIgMS++i5OofuqyzzQrNffRcnUP3VZZ5oQGqIiAIiICUwt9PL8I/dTig8LfTy/CP3U4gCISAMyVjukfVu5OE5MHnP6epAayTPmeYKY/E/mC5IYGQN2WDrJ4laxxsiYGRtyAW5AV/EvpEfh/1UepDEvpEfh/1UegCIiALR/mlarR/mlAWm1ejofgWQse1ejofgWQgCIiALZP9DJ8C3rZP9DJ8CAp7omTRlkjcwSf3XE2SSjdyU5Loz5r+jrXO3h8z+6PY17S14zB5kBqCCMwUWP5dCed0X6tXO1zXtDmnMHgUBqsuxel4utYiy7F6Xi60BZRw+aIOHzRAEREAURiv6GD4lLqIxX9DB8SAhkREAREQBT2GPRh/EUCp7DHow/iICSREQBERAB5w61U6369N8ZVsHnDrVTrfr03xlAcaIiALSSRkTS97sgFtmnZC3N288wHOuOOB8z+Wqh8LOhAbqNklZWROmGzGJBkz1utXRgDWhrRkAOAVTpfrUXxhW1vAdSAIiIAiIgMHEfot/wAQVdbwHUrFiP0W/wCIKut4DqQBERAEREBLYV+lm6gppQuFfpZuoKaQHFUUzZhtNOy8ea8cy0gqXF/IVDdmQdjupcy2TwMnbsu3EcCOIQG9FwQzyRP73quP2X8xXOgK7iL0l/cCwVnYi9Jf3AsFAEREAWjubrWq0dzdaAtlB9Si/DC5VxUH1KL8MLlQBERAFxV31ST4D+y5VxV31ST4D+yAqbPNC1WjPNC1QBERAFlWNsjriWxPDXFhDXEcDksVZeHyBdQScgG8SgOXD1Fa7hbqrD9wicK9jgK98jyZHv8Asyhx35c7ctw4cy2i94jpiMMCkMtxD9mOrew8kYvvXe/m2entS+19smro7hYK+CS505IZGyTMTt4uiJG7PLeOcFTVtu1PeLW26W4bW005Mduc1w4td0EHcUBE1eG8J0mzPiyvbUzuP0tbPkM/5W55Ae4LHumEIaW3PrMIvLonMJlt5kL4qhh4gZ55HoIW/B9DbbvTS3W7QNqLiZHMrTUR74nA+YAc8mjm6eK1YWYEurWAOFqrZMh0Usp/Zp/QoDiwZiSAxx4er5zJHKw94yzcXNHGJ+f228PeFg4kZNhCrjp6lzjapCTTzZEimPOx3Q3oPDmWRjTDsFvqTfYS5tJM8Oq+SG+CT7M7f6rfUYwnt8cFNiOhmJLf4dbSwmSKYczvJzLT7igIFz3YovND4vbR71qWyy3FrSGNYD5TGu+0XDdkNwzzKysa1kV7u1NheiaHvgmbUVc4GfIBpzAB5nH9ly3HFF4urTSYZt8kAdufXVkRYGj+Vh3k9YAW20Wels9OYoC573uLpppDm+Rx4klAZaIiAO4HqVgw36JZ8ar7uB6lYMN+iWfGgJBERAEREA+2Ooqo1H1uX41bvtjqKqNR9bl+NAbUREAXBLTPjfy9IcnfaZzOXOiAWmpZPXwgDJwk8pp4hW1/nFVKCmE1wgex2y8SbnBWU1j4zsVELtocS0bigKtiTD14qb9BiK0Mp5ZIaV8DoZ5HMzBcDmCAd+7oUhhy8VNup5G3uyVdN5e+RrBKzrzjzIHWAoi/3bE1JiptBRV0VPBJTB1MJ4NpszwTttzBBBA2T81N4exDe2UrzdLAXhrsjJQyh469l2yezNATFFdrZchnQV8UvSGPBI6xxCyFW6y1vxVcY6mG2Chponh5qnxbNRKQeAHFrfed56Bz2MOaBlmgNUWm23pTbb0oDVVi9elpetWbaaedVm9elpetAYyIiAIiIBzjrCt0H0LfhVR5x1hW2FwELcz9lAb0Wm23pTbb0oDVFptt6U229KAxrz6Ol+AqqT0zZhtA7Lx5rgrXeCDbpSPUKrI4fNAcMNS4O5CpGy/mPM5cy2TQxzt2XjqPQuJk76ZwhqTuO5sn+KAyEREBJYV+uyfAVPKAwturZM/UKnttvSgNUWm23pTbb0oDVFptt6U229KAgsUfXY/gKjVJYo+ux/AVGoAiIgC0k8w9S1WknmHqQFmsfoyLqWy+3c2qCNlNAZqqofydLAD57ss9/QAAST0Bb7IQLZFmeZYdIRUY7nM//DW5gpgf53HbP/daEBhyWizWQC/44r21dU538MSNzYwn7MbOfr4pZaE3q6XC4TWaWmoa2nYww1LQHPcMxtbI4bslxVs1xpMUVU8uGqmunJa23PDRyMbNkZ+UdzTnnmeKy2YbvF0HfGKb9IwO4UlFJybG/wB7i4oDfh+aSx1IwhdagyNLSbfNJ/vIxxYTzub+o6iuIRDBta+B8uVtq3Hkcxup5D9nP1TzdBWJinDUtntxr6O4VElNC4PeyaUudBkfpWOO8FvEjnAKkKS5Ut8sdVasVxxMlhhLa1rjk1zct0g6AePuPUgK3fbOy9UjomzGKaOTbpp2cY3g7iFhXK93jFFrGFZ7JsVGQFbVTM/hR5Hc5nrE5ZjoXNhKpqKi3yNe98sMU7mUlTI3J00Q4OIPZ78s1KoDbBHyMLIdsu2WgbR4lbkRAFkWf0tD1rHWRZ/S0PWgLQOJ+IotNoAnM86bbelAaotNtvSm23pQGqicV/UovjUrtt6VE4r+pRfGgIZERAEREAU5hf0a78QqDU5hf0a78QoCTc1rhsuGYPMVjuZLRHaiBdHzt5wsjbb0ptN6UBpHKyVgfG7MFbljSQuhfy9Id/2o+Yrlgqop25g5EcWniEByKq3L0nN8StO0086q1y9JzfEgOFERAEREBrH9Kz4wrbF9E3qVSj+lZ8YVsjcBG3M8yA3otNtvSm23pQGqLTbb0ptt6UBi330XJ1D91WWeaFZb4QbXLkeYfuq03zQgNUREAREQEphb6eX4R+6m3Oaxpc45AcSVBYalZFLK55y8kfupZrHVTuUqNzfss6etAP4la7M5ti/Vy52tawbLQABzBNpo3D9k229KA1RabbelNpvSgIDEvpEfh/1UepDEvpEfh/1UegCIiALR/mlarR/mlAWm1ejofgWQse1kC3Q5n7C59tvSgNUWm23pTbb0oDVbJ/oZPgW7bb0rbMQYJMvUQFRbw+Z/darRvD5n91qgBAIyIWM9klG7lIQXRnzmdHUslEBtjlZMwPjdmCs2xel4utRkkD4Hmel5/OZ0qQw5PHPdYnMPPvB5kBaBw+aLQOA3E86bbelAaotNtvSm23pQGqiMV/QwfEpbbb0qJxX9DB8SAhkREAREQBT2GPRh/EUCp7DBHgw/iICSRabbelNtvSgNUWm23pTbb0oDUecOtVOt+vTfGVaw4FwAPOqpW/XZvjKA41xT1PJnkom7ch4NHN1rbJPJK4w0vEec88AuSCBkDd29x85x4lAbYaYtdy0ztp55+jqXKiIDkpfrUX4gVsbwHUqnS/WovxArWHNAGZ5kBqi0229KbbelAaotNtvSm23pQGFiP0W/4gq63gOpWHERBtT8vWCrzeA6kAREQBERAS2FfpZuoKaUJhX6WbqCmttvSgNUWm23pTbb0oDSWJkzNh4/8FwMlfSPENSc2nzH/wCKyNtvStHiOVpjeMweZAV7EXpH+4FhLlxC+SiumzIS6LZGTvVXECHDMHMHgUAREQBaO5utarR3N1oC2UH1KL8MLlXDQuAo4sz/ALsLl229KA1RabbelNtvSgNVxV31ST4D+y5NtvSuKtINJJkfsH9kBVGeaFqtGeaFqgCIiA2VNTBR076upkDI42Fz3HgAEw3YJr7UsvGIi+OmLdqC37RaNnmdL0kj7PAc+ajsWguoKeN+XJOuNOKnPhyXKN2s/dlu+anr7R19ZUUbIKN9TStnzraeJwDpG7Jy4kAjPLMZoDmuzqO+RUtLhmmLzSVbHxVEUQELA0+UNrcCMsx5Oa5KyPxUur79FIRQ1TgK+PmifwEo6BzO92/mWVHDiG5AN8m2U4GTWsDXzEfqxvy2vkuOvw1X96vNtv1Q+Qt3xVbhJHIPVII3A9IQHHf6GptVc3FlnbtAACvgaPpo/WH8zePvG5SMkduv9sLHbE9NUR8RvDgVA4Iv8kbvF+5QujZtOZR8ocy0t3OhJ6W8x529SyKAswxiXxegeHUtaHzQRh2ZgcPOGXM08R78wgNtvusWHKefD2LalpihjJpaiXeJ4eGz73Dhlz7lGUkFTBb2NMEkVIZiaGKcZPZGeY9G/PIcQFbqmloqssdU00chjdtRl7M9k9IUVivzoEBFIiIAiIgDuB6lYMN+iWfGq+7gepWDDhAtLPjQEgi0229KbbelAaotNtvSm23pQGv2x1FVGo+ty/GraHAuGR6VUqj63L8aA2oiIAiIgOWh9IQfiK0PALjmFV6H0hB+IrQ/zigKrfDh/EuHGx1Mk0daX5QU8QBniqG8wHuPPwIPQVmQVVZhylgp5ImmWaIOmaT5r8t47VMtttDFWOr46OITPGT5RGNpw6M1EYqy78i3fZQGvjTW+zs7U8aa32dnao1EBJeNNb7OztTxprfZ2dqjUOeW5ASXjVWA76eP5lc0NngvLBc55C18u9zW8AoU7wd3arLYvRsfUgMfxUo/aH9ieKlH7Q/sUqiAivFSj9of2J4qUftD+xSqHPmKAiThWiAz75ect/ALgdiesY4xtp2ZN3cVNkZAkDLIFVJ/0z/iQEj401vs7O1PGmt9nZ2qNRASXjTW+zs7U8aa32dnao1EBKR3qouj/B08TWsl8lxad+S5xhSj9of2KMtHpOL4v8VaG8B1ICK8VKP2h/YtJMIUMrCx8zyDzZKWRAQLcK09CdmSokdETudlvb1rJGFaJwzFQ8g8CpUgOGy4Zg8QVjFslAdqPN0R4t52oCPnpm4baKylcZHPOzk/oXF41VmX1dnasjE0jJKKN8bswXjLJQgG/M86Ak/Gmt9nZ2p401vs7O1RqICS8aa32dnanjTW+zs7VGogJenp24laaqqJjMZ2QGcCFyDClGf+If2LTCufecnx71KgZICL8VKP2h/YnipR+0P7FKogIrxUo/aH9ieKdG47PfD9+7gpVB5w60BBy3qotMjrZBC1zYTkC47yoq93O9zVcN6szIWVdOC3ZkJ2ZYzxYej3HmWReAfC0xz5wsOOo5aUtjbmxvF/vQGr9IeOahve9Lg+GGXgZqiqBjHv8neVGXivY0A4mi8L3GozbS0mZDczzNaNzR0uK5MV1VZTUEQo6owcrVRxSztaCY2udkXDPdzrnY7CGAiXCWSsuU483a5Wol938o7AgM+73SusuAWWiq2JquWlbSsBcTykjhs9nE9QWtTNS174H11sjkfCwRtc5x3jdxHA7wDkVFUlNdLrcRiDEWy2VoIpKRjs2U7Tx387jzn5BSIz225esEBNDClHlmJ3jMZ5AcM1r4qUftD+xScZzY0n1B+y3ICK8VKP2h/YnipR+0P7FKogIk4UpBv74f2LbLZae0sNyhkc50QzDXcFMLEvfoqbqQEZ41Vx397M3+9PGmt9nZ2qNbwHUiAkvGmt9nZ2p401vs7O1RqICS8aq32dnat8E7sTvNJVNEYjG0CzioogFSWFfr0mX3aAyRhSjI+sP7E8VKP2h/YpRvBaoCK8VKP2h/YnipR+0P7FKogIrxUox/xD+xcM1VJht/eNIBI142s38VNO4dSgcUekm/hhAa+NNb7OztTxprfZ2dqjUQEl401vs7O1cU+IK17uWip2NkHA58etYSIDNgxpWuJilpWNkHFpPHqWZHYqe5N8ITTOa6XeWjgFA1NM2oado5Eea4cQrLZp3xUMMFVlnsjZfzFAcXipR+0P7E8VKP2h/YpQDIcVqgIrxUo/aH9ieKlH7Q/sUqiAiXYXpIhyonfmwbQ3dCx/GqsAy72j3bhvU5P9A/4D+yqGR2jnwzQEn401p/4ZnanjTW+zs7VGogJLxprfZ2dqeNNb7OztUaiAk47vPeHi21ETWsk85zTvC5/FSjaN9Q/sUfZvSkXWf2VlPDggIvxUoz/xD+xPFSj9of2KUGeW9bKqqpqKnfV1c7Yoo2l0kj3ZBoHEkoCO8VKP2h/YqNjzSXg/B1dS2+38rdXvqxFXmhkY4UY22MO3v84GQHYG8gOPMs3FOm7R7XW2psjLpXxx1LzRyXKmpnhlM542Q8vA8kZkZEr5bbcOWzRpia2XKuww3wvhWfvm9wUMOYvVCYnQx3FjRukkYXbb8vKzbnzBAfdH0Zw9lWg8o+Q5bD+DQqLpD023Cvt9fg/AlWae7yPdR0txfFlA2qDWvdAHnhIWO3HIgE85GSz9N9yxLfMJ2m8YBlkq7fPOX17bfIGzzQuidsGNx3bnljiOcDJVzR5ovdJSW/F2kKgab+A2WsjjkJi5duYZNs8OU2NnMjnHuCAn9DmIMc01lrBiKKs72krTJa4rtKH1UMTmgmN7h5wD9rZJ35ZDflmbh401vs7O1RqICS8aa32dnahxXW5Zd7s3e9Rq0c3dx3c6AmYKKPETe/6lxY4eTkzhkt/ipR+0P7Fvwx6POXrqSQEV4qUftD+xPFSj9of2KVRARXipR+0P7FocKURGXfD+xSy25dI6kBCPvtTbnm3wxNc2E7LXHiQtPGmt9nZ2rDufpGbL11woCS8aa32dnanjTW+zs7VGogJLxprfZ2dq1GKKyZ3JOp2APOyTnwUYQDuKRAiojzP2kBNDCtGRn3w/fv4LXxUo/aH9ilGDyQfctUBFeKlH7Q/sTxUo/aH9ilUQEV4qUftD+xYtZY4rC03q2ykzR/Yfwcp9YGIPRMvWgIyDGVVOMhTMDx5zc+C5PGmt9nZ2qHmphKBLG7ZkA3OCU9SXu5GduzIOI6epATHjTW+zs7U8aa32dnao1EBJeNNb7OztW+CQ4ncYqsCMQjMFnOopSmE/pp8/VQHP4qUZ4VD+xPFSj9of2KUb+nMtUBFeKlH7Q/sTxUo/aH9ilUQEUcKUY3mof2LgqK+TDjzbqZoe3ztp/FTb/NKr2Jh/0rkfUQHIMVVpGYp2dqeNNb7OztUbkBwRASXjTW+zs7U8aa32dnao1bJp44G7Tz1DnKAlH4trImGR0EYAGeZKNw/DeWCq74kjbL5TiBx6vcoV0MlS3lanc37Mf+KuVBl3jC0D7AQEfHhCgjaGRzPAHuW7xUo/aH9ilAMufqWqAivFSj9of2IcKUftD+xSqHpQES7DdLStNS2dxdGNoAjcSFjNxXWvGYpmdHFTNYCKSTa47B3qpx8D8RQEp401vs7O1PGmt9nZ2qNRASXjTW+zs7U8aa32dnao1aHPP9kBKxXSW+PFtqWMYx+8uad+5c4wnR5Zd8P7FH2EZXNvwlWUICK8VKP2h/YnipR+0P7FKogIrxUo/aH9ieKlHz1L+xSq0I35negIedrcMt2qT+IZvO2+bJcXjTW+zs7Vy4rzEUIPSVEICS8aa32dnanjTW+zs7VGogJLxprfZ2dqeNNaN5pmdqjUdwPUgJeO2w4ij7+q3FrnDZLWjdkFxHCdPQnabPI6HnGW9qzsN+jx8R/dSHHigIlmF6GRoeypeQeBWvipR+0P7FmvhkpXmWmGbD50f+C5opWTM22Hr9yAjPFSj9of2J4qUfDvh/YpVaO4HqQEG7ENVRvNHHC0tiOyCTxAWnjVWnhTs7VgVoJrJQPvCtg4cEBJeNNb7OztTxprfZ2dqjUQEl401vs7O1atxFV1LxSyQMAkOySDwzUYt9L9bi+MICX8VKIbu+H9i18VKP2h/YpTI5+/mK1QEV4qUftD+xPFSj9of2KVRAQtdge2XGjkoaqV5jlYWuHuWIxuJcHUAJhjubIvIimdNybyOA2gQQT7xx6FYpZ2ROaw5lzjkAFhYnLvAsgZlnnuz6UBX6rEWIK2N0t4qYqOnaM3Q0kxBI/mlIBA+EN6yuTA92rKiWruNPFLHb5NkUjZ5HO2yM9qRu0SQ07sunInnUbhq3Wq82ePEWJal0zmOcZY6p4bDC5riD5IyGQyzBdmfetbvfKzE7Da8Ol0FE47NRcC0tL287YgeOfDb4dGfEAa0lwN+iucrWBsVRczJSTxu3tLGtaHtPW0qQtFU60l84hE1TKc5qqZ2b3/AD5h7huWPS00FHTspaaMMjjaGsaBwC5EBJDFNbz0zO1clODifa78PJ8h5uxzqJUthMn/AGgHoQHL4qUftD+xPFSj9of2KVRARXipR+0P7E8VKP2h/YpVEBE+KlHwNQ/ryXDNcZbDJ4MpYw9jRnm7ips8Pmq7iL0s/wCEIDl8aa32dnanjTW+zs7VGogJLxprfZ2dqHFNaN5p2dqjUQEkcV1rQT3sztXOzDVLUtFU+dwMo2iAOdQrh5JVso8+9IfwwgI/xUo/aH9ieKlH7Q/sUqiAivFSj9of2J4qUftD+xSqICIkw7TUTTWRzuLohtNB4FcHjVXO397s7VL3HIUE4/8ARqqs80IC4qBxX9ci+FTygcV/XIvhQEaiIgCIiAO4HqVksPoyP4VW3cD1KyWH0ZH8KAzEREAREQGj/MPUqi/6Z/xK3P8AMPUqi/6Z/wASA0REQBERAZFo9JxfF/irQ3gOpVe0ek4vi/xVobwHUgCIiAIiICDxbDJTU7JqVuYMnlx9PUomGZk7Nth6weZT2Kvqsf4gVdmp3tdy9Mcn87eZyA5kXHBUMnbuGTh5zTxC5EAREQE3hT6nJ8alVFYU+pyfGpVAEREATg4Z9KcOKx3OfWSiOMkRg+U7pQFXvTn1l3nijJEYcNpw5/ctGMbG0MYMgOAWRdGNjuczGDIAjILgQHDcKCludHJQVse3FI3J7c1wWnD9nsjdm3UTWE+c873HrJ3rNRAEHnt+IIg89vxBAW6L6NvwD9luW2L6NvwD9luQBERAFiXv0VN1LLWJe/RU3UgK03gOpEbwHUiAIiIApPCv16T8NRik8K/XpPw0BOt4DqRG8B1IgCIiAO4HqUBij0k38MKfdwPUoDFHpJv4YQEciIgCIiAO4HqVmtsTJbZEyRuY2FWXcD1K0Wn0dF8AQAOlozsyZuj5nc4XO1zXDaacweBC1IBGRGYKx3RS0jjJTjNn2o/8EBkItsUzJmbbD1+5bkBtn+gf8B/ZVEcT8RVun+gf8B/ZVEcT8RQBERAEREBlWb0pF1n9lZlRLxiePCkMVe2l74qZp209BSCQMNRO/PZZmdw4Ek8waePBV5mlTSXJWRG03GG8SPuLYn09twXWuoww+c0VvK8n5IzzmI2cxlsgkBAfWamojpKaSql82Nhc7qAzXw+76U8f6XmeK2GMOwQGW4Q1kMbp9oy2wskZyjzwDhOGEtGe4c6X7HOlqx4iqDfr4KOV9URTw1ELX2itg5o2Thu3FJkcjynEjdu3qDwnfqPBuPYKulpaqkpqGsa2qiqQf4VNVOLHDa4OayUN2ct2TgUBttVFParo634XsFJWVDLXIbxR1kxZFWwNOzLI9+/7TZAw9J5gFY8O0lTigswPbsSRz11tj7+wffD5bo4j51JUkA55DyCftNydlmMln3nQPimoqXWS2uts9rnD2Nr55pGVFPC9xeYtlu6Vu0SfKI4r6JgbAOHsAWeO1WShja9sYE9SIwHzHpcRx6uZAQmHsG1OBcH09jrLg2olNRJLKY27MbHPJcWMHMwZ5D3LmU1ir6CP4z+yhUAREQBHcD1IjuB6kBPYX9Hn41JKNwv6PPxqSQBERAEdwPUiO4HqQFVuXpGb41wrmuXpGb41woAiIgC1j+sR/GtFrH9Yj+NAW5nmDqWq0Z5g6lqgCIiALAxB6Jl61nrAxB6Jl60BXm8B1Ljnp2TtyduI81w4hcjeA6kQHBHO+F3I1XH7L+YrnW2SNkrdiRuYXCHy0R2ZM3R8zucIDIUphP6af4VFNcHDaacweBUrhP6af4UBON4DqRG8B1IgCIiA0f5pVfxP6W/uKwP80qv4n9Lf3EBgIi4Jah738hSjN32nczUBuqKkRERxt2nng0LSGmIdy07tqQ9g6lup6ZkA45uPnOPErkQGknmHqVqoPqcPwKqyeYepWqg+pw/AgOdERAEREBxV31OT4CqmzgfiKtld9Tk+Aqps4H4igNUREAREQGXYvSjPhKsqrVi9KM+EqyoAiIgCIiAh8W+ZF1lQ6mMW+ZF1lQ6AIiIAjuB6kR3A9SAsGG/R4+I/upBR+G/R4+I/upBAFwS072O5amOTudvM5c6IDjgqGzDLg4ec08y5HcD1LinphIeUY7ZeODgtIqkkmGobsvA+RQFZrPrkv4hXGuSs+uS/iFcaAIiIAt9L9ci+MLYt9L9ci+MIC2oiIAtlRO2BmZGZPmt6VrNMyFhkeeHN0rip4nvf31OPKPmt9UIDdTQOaTNNvkdx93uWJiX0Q/4v6qQUfiX0Q/4v6oCotw5ZhO6d1Htl0pk2JZHPY153lwaSQD1BZwAAyAREAREQBS2FOM/UolS2FOM/UgJpERAEREAPD5quYi9LP+EKxnh81XMReln/AAhAYSIiAIiIDR/mlWyi+qQ/hhVN/mlWyi+qQ/hhAcqIiAIiIDguX1Cb8NVVnmhWq5fUJvw1VWeaEBcVA4r+uRfCp7J3qFQOLPJq4i7d5POgI1FpyjPWCcoz1ggNUWnKM9YJyjPWCA1dwPUrJYfRkfwqsukZkfKCs1gzNricGnItQGYiZO9Qpk71CgCJk71CmTvUKA0f5h6lUX/TP+JW0tdkcm829VGR7BM/Nw85AEWnKM9YJyjPWCA1Racoz1gnKM9YIDJtHpOL4v8AFWhvAdSq1nc11ziyOflK0gOAy2CgCJk71CmTvUKAImTvUKZO9QoCLxV9Vj/ECg1OYqzFIwkZeWoLlGesEBxz03KkSRu2Xjg4f1SCpLncjMNmQc3T7wuTlGesFxzMhnbk52RHmuHEIDlRY8dUYncjUuH8r+lc3KM9YICdwp9Tk+NSqisJHbo5C0E+XzKVyd6hQBOHFPK9UrGkfJWPMEIIYPPeOf3BAaue6seYoiRG3znDn9y52MbHssYMgDuCRxiJgYyMgDgFqA4uHknigKvd/Ss3WFjrnvD2i6zZu5wsflGesEBqi05RnrBOUZ6wQGqDz2/EFpyjPWCB7C9oDh5wQFvi+jb8A/ZbltjDhG3yT5g/ZbsneoUARMneoUyd6hQBYl79FTdSy8neoViXwOFqmLmkbudAVpvAdSLa2RmQ8rmWvKM9YIDVFpyjPWCcoz1ggNVJ4V+vSfhqL5RnrBSeE3B1dJs7/IQE83gOpEAcBlsFMneoUARMneoUyd6hQB3A9SgMUekm/hhT5DiMtgqv4pIbcW7Ry8gICPRacoz1gnKM9YIDVFpyjPWCcoz1ggNXcD1K0Wn0dF8AVVL2kEhw96tNpzNuiIBPkDggMlEyd6hTJ3qFAcM1M4P5amdsv5xzOWsFS2bNjm7Lx5zSuXJ3qFcc9MJsnBpa8ea4cQgN0/0D/gP7KojifiKtHKzcm+CojIcGEhwG4jJVXlGBxGfOgNyLTlGesEMjA0vLhkOJKA1JDQXE5ADMnoQEEZg5g8CvkuNdJ93xdix2jGxWqSOZ0z+Shlc5vLOgbyj46gAfw4JW5Na8E5uyHuWLPjvG+FsD1LcPUUwtjAY2SyODqyzuaP4lI8O8lzmj6OQ7nNIO88QPp2L7PiC7UMMuFXQG4UdS2pp4apxbHPs55xOcPM2gSNrI5Zqt2a26T226hw3YsN42pKGLaBpZK60xwRA5nYnmG1M5oJyDoASOclQ2HNIOKsP37l8RT3uY28GW82OtihmlfSZNb35SOgY0zRtOW2zynt2j7gvp+kS24sxnaLLctHF4a+3tqW1VUyjub6V9XDsEs5OZgcCASHbBya/IAuAzDgKJFHi/CwqbTiiyQQw0/Jy3Szvv812pquhleYy8SVEbZGSAg5My2TwGeRIlNIGi+nwZbJIMN3GTwfeXig8DzgSCOSTzHQk+U3YcA/IbsmHoWTaNEuKcQYhhuWIYZLdbo62KrrIZ6zvisuUkRLomyv3tZGxx2gxpIz4ZZkG/4rwfY8aW9ltv9E6RkcvKwuY8tfE/ZLdprhvByc4ZjpKAw9Flxmu2jiyXKoqeXfNbYnGfPPlfJHl/Pj81PrDw9YLZhWw0WGbFRchRW+ljp6SFvCONjQ1rfkAAszJ3qFAROKvoI/jP7KFU1ivyaeMu3ZvPHqUJyjPWCA1Racoz1gnKM9YIDVHcD1LTlGesFoZGEZbQQFgwv6PPxqSUbhffbzkM/L5lJZO9QoAiZO9Qpk71CgCO4HqTJ3qFaOa88Gn3oCrXL0jN8a4Vy3NzW3GYOOXlrh5RnrBAaotOUZ6wTlGesEBqtY/rEfxrbyjPWC1ic11RHkftIC3s8wdS1WjQ7ZHkngtcneoUARMneoUyd6hQBYGIPRMvWs/J3qFYOIWuFplJGWZQFdbwHUi2iRgHnBa8oz1ggNUIBGRGYK05RnrBOUZ6wQHA6OWkPKU4Lmfaj6OpTWDpWTPnfGcwWqM5RnrBZ+FqdxqZ56R2T9ne3mcgLE3gOpFxwT8r5BYWvHFpXJk71CgCJk71CmTvUKA0f5pVexOQLtmT9hWGQ7LC5wyHSVVcUOdW3Yh3kRBo387kBhOlkrHGKmOTB50nT7guaKGOBmxG3IfutGOhY0NYQAOAC3coz1ggNUWnKM9YJyjPWCASeYepWqg+pw/Aqm97CwgOHBW2ga40ULg05bCA5kTJ3qFMneoUARMneoUyd6hQHFXfU5PgKqbOB+Iq2VocaSXyT5hVRa9ozBdzlAb0WnKM9YJyjPWCA1Racoz1gnKM9YIDMsXpRnwlWVVmwODrqwNOfkngrNk71SgCJk71CmTvUKAImTvUK0IJ4tOSAiMW+ZF1lQ6l8WZtjh2zlmTxUPyjPWCA1Racoz1gnKM9YIDVHcD1LTlGesFoZGEZbQQFiw36PHxH91IKPw3mbaHNGY2jwUhk71CgCJk71CmTvUKALZPBHOwteOojiFvyd6hQh2R8k8EBS6qaWlrpY6ne0yHZk/xXICCMwVur+TNVMyQDIyHcViZvpDnE7bj5284QGSixJr/ZKeQxT3WnY4cWvlAIWw4ow4ON9pB11Df8UBnLfS/XIvjCjfGnDP8A8MND/wDzTP8AFclJiXDrqyLZvlI7yx5tQ0/1QF7WjnNY0uccgOJWKL9ZnHJtzgPVKFvkD62Xkg13Jt3uPrIBE11XJ3xIMmA/w2nn96yEDSBkGEAJk71CgCj8S+iH/F/VSGTvUKj8TeTaHbW7yufrQFfRacoz1gnKM9YIDVFpyjPWCcoz1ggNVLYU4z9SiOUZ6wUvhLyzPs79yAmkTJ3qFMneoUARMneoUyd6hQA8Pmq5iL0s/wCEKxlrj9gqt4jcG3d4ccvJCAw0WnKM9YJyjPWCA1Racoz1gnKM9YIA/wA0q2UX1SH8MKpPkZs+crbRB3ecR2c/4Y4IDlRMneoUyd6hQBEyd6hTJ3qFAcFy+oTfhqqs80K1XIHvCYlp+jVUbIzLzggMkXi5Dcap3uUlZImXSB0txbyrmuybtHgFChvTv/opzCv1WQfzoDL8D232Fvange2+wt7VlIgMXwPbfYW9qeB7b7C3tWUiAxfBFr4d5N7VD3Gtq6KukpaSYxxsPktHMrERnvVYvXpaXrQGnha5+2OTwtc/bHLHRAZHha5+2OQ3e5jeax3YsdCAdxQGQLvczudVHsU4y0217GuNE0kjMnNVsA5jM57wrbB9E0/yoDg8D232Fvange2+wt7VlIgMXwPbfYW9qeB7b7C3tWUiAj6+go6OjfU01MGSMbm1wPBQ4u9zP/GOU9efRsw/kKrDeCAyfC1z9scnha5+2OWOiAyPC1z9scnha5+2OWOiAk7LLJdKh0VwcZWtbmGu6VJ+B7XzUTT81FYW+uSDpYVPgZIDF8D232Fvange2+wt7VlIgMN9jtUjdh9A0g+9cTLPQ07hG+hDmE5NdnvHWpFRWNK+ot2HZp6V5Y9xbGHj7O0QM/1QERibF2H8N1zaJt+paXNpLo3TAb/muK3Yvbd2ufa79DUtad5gla/LryWNfprZhN1LQ01ufLLO05NhYC95G8knnUdbRW1uKH3c22enhNGIncu0AlwcSMt/vVWsFE8k3NebvUSGmhrHBo+kfl+gXNHcrhCwRx1TgAuFFQqZHha5+2OWj7vc2tJ78dwXAtJPMPUgLBb6GkrKNlRU07XyPHlOJ4rn8D2zh3k3rzWljA8GRbuZZaAxfA9t9hb2p4HtvsLe1ZSIDF8D232FvatH2m2hrnCjaCGkg58FlrZL5rvgKArXha5AlratwAcQE8LXP2xyx/tO+M/uiAyPC1z9scnha5+2OWOiAyDd7mP+Md2Llt9dWVldHS1U5fG8+W086wlkWf0tD1oCeNntmZyom8elPA9t9hb2rKHE/EUQGL4HtvsLe1PA9t9hb2rKRAYvge2ewt7VhXxsVqgZLbWck5zsnFql1EYr+pRfGgI7wtc/bHJ4WuftjljogMjwtc/bHJ4WuftjljogMg3e6DhVuKkrLDFc6R1RcI+VeHZBzuhQhz5lO4WOVud+IUBleB7b7C3tTwPbfYW9qygMkQGL4HtvsLe1PA9t9hb2rKRAYos9t4d4ty596hay4VtNWSU1NOWRsOTWjmCsiqly9JzfEgN/ha5+2OTwtc/bHLHRAZHha5+2OTwtc/bHLHRAZDbrcXSNa6qcQXAEFTrbTa3tDnUbcyN+9VuP6VnxhW2MAxtJ6EBG3lljsVoqbzWUBMVLA6V7Yxm4hozyA5yeAC+F4gvOMtLmIKN9Hg1stqtTq9l4tcE0jRIDybWt2yW5VLG7TmObmA5rh9oOH3TFtywzRWiSkxTdYKWnrAYA6aUM2i7dkM+feuvuL7DJFNPhyplvFBdKSpbI50T3M8J0kTgRPFsnZkmawDPI7wOCAnWT1mL8IU+EKK+w1V5Y6Got1zJ5B+IqKJ4MlNI9mRimI8l4bkNoA5bDi1RVLQ0pidROkkuVPcIJqF1JVv2H3ej37VuqMiNmtp8zycoyc9o373Eiw43wfh2Kww6SsD8pV2WueyrrZKDypaSoAyFdEB9rP6Ro84Z5hYHgSXSEK6ro7LHJenRxm80MU2xFdGAfwLhTv4NlG7yhkeLSgM2yXSx4lsVFhN+JSLxTxOqcGYqfEDJOI/JLZW7gZmAiOaLydtpJ8na3S2iSn0k2NtyfieChtdLUzsko7Lb6l1RHSSlv8d0cjmtIie87TYy3Nu85jb5OOQwfokp7ZaosXYwtzBfS3bqGwTkxGQ5DlXMHk8qQBtO5ypcZnzdyAyvC1z9scnha5+2OWOOCIDI8LXP2xyeFrn7Y5Y6ICVsr3XSV8dxPKtYM2h3MVI+B7b7C3tUbhb6eX4R+6nEBi+B7b7C3tTwPbfYW9qykQGL4HtvsLe1aeB7Wf+Bb2rLOeW5aDq3dBQEFeJ5bbVint7jEwtzLWrF8LXP2xyyMS+kR+H/VR6AyPC1z9scnha5+2OWOiAyDd7mBn345aG73LInvw58y4DnzFbXNGSAsdHbqGppI6iopg+R7c3uJ4lcvge2+wt7VutQzt0PwLIQGL4HtvsLe1PA9t9hb2rKRAYvge2+wt7VtktNuZE6RlG0ENzBzWYtk+6CQfyICstu9y4CrduWvha5+2OWM0DL5n91qgMjwtc/bHJ4WuftjljogMjwtc/bHLntlXU19eykrJjJG4+U086wFlWAuF3iQE4bPa+Ao2n5p4HtvsLe1ZIGfatUBi+B7b7C3tTwPbfYW9qykQGL4HtvsLe1YN9YLVFFJbW8kXnJxHOphQ+LBnDAP5kBFzV1wmyeKxzXgeS8cy2OxFcaSB89wr+TZGM3SO3DJaAZKExExtwxDbbPUDOB/KSvZzPLRuBQdDL/0nUm1kysrHjmfHRSOB+YapG34pmulN33Q3Fz2ZkHySCCOIIO8FQ899r2XOW02iyiYU7Wl5MoYBnwyXJhe3VtBT1D66Nsb6iqfKIw7a2AebNVZRNsk23K71btuoqXNjB8mM8/WpqyU8FwoTUV8QleHZBx6FCqewx6MP4ioVOfwPbD/AMC3tWvge2+wt7VlZAIgMXwPbfYW9qeB7b7C3tWUiAxW2e2bQBoW8elQlTc66CqfDBUlrGOya3oCso84daqdaP8AbZfjQHJ4Wuftjk8LXP2xyx0QGR4Wuftjlobvc8/rbjkuBaEZ8DkgMuC5189QyJ9U4tc/Jw6QVOeB7YQP9iad3Sq5SbquI5f7wK2t4DqQGL4HtvsLe1PA9t9hb2rKRAYvge2+wt7UFntgO+iHaspEBGXalpqChdV0UIjlDhk4FRQu9zIz78cpnEQytTx/MFXm8B1IDI8LXP2xyeFrn7Y5Y6IDI8LXP2xyeGLmDuq3HLisdaEdB48UBL2Vxur5G3EctsAbG1zLP8D2w/8AAt7VgYV+lm6gprggMXwPbfYW9qeB7b7C3tWUiAxfA9t9hb2p4HtnsLe1ZSICAu1TPb6zvahkMUeQIa1Y3ha5+2OXNiPfc8/5BuWCgMjwtc/bHJ4WuftjljogMjwtc/bHLQ3e5j/jHb1wLR3N1oCyU1st89PHLNTBznMBc7PiVv8AA9t9hb2rkoRnRxH/ANGFzIDr9jyy2+HGVyY6lH1yQjM8xcSFEG2Wxo2nUrQBxJKtWlSHkcc1v8zg7tChMNQU9xxSKGqZtMgpDOGEbnO2tkZ9Sqll4KPkR/eVpDdoxMA6dtaTW+gjhdNFTtDg0lrgVZbji6jniqbfFbZiMnxbZ2QM94z48FXnsMdCY3HMiLIn5I0l0CeSEbdrkAHNrHda+64Kv90q8JW6d1c8u7zjDiechoH9F8CaAAvtOi+blsFUf8rS3sKoVLR4Wuftjk8LXP2xyx0QGR4Wuftjlz2qqqLhXClrZDJGRva5YCy8PD/pZvUgJoWi2ce8m9q18D232FvasrIIgMXwPbfYW9qeB7b7C3tWUiAxfBFtAy7xb2qOvmVqdEbd/C2/O2edTbuB6lCYr86BAYXha5+2OTwtc/bHLHRAZHha5+2OTwtc/bHLHRAc5u90H/FuUraKanuNA2qrohLIXZFxUG7gepWDDfolnxoDm8D232Fvange2+wt7VlIgMXwPbfYW9qeB7b7C3tWUiAxRZ7XwNE33b1BS3S4RzPijqXNa12TR0BWb7Y6iqlUfW5fjQHN4Wuftjk8LXP2xyx0QGR4Wuftjk8LXP2xyx0QGVTXKvqKqOnnqC5j35OB5wpt1otYOXeTe1V635+EIST/ALzcrU5wByLUBUVN4V+rSfGoRTeFfq0nxoCVREQBERAFWL16Wl61Z1WL16Wl60BjIiIAiIgHOOsK3QfQt+FVHnHWFboPoW/CgNyIiAIiIDFvPo6X4CqyOHzVmvPo6X4CqyOHzQBERAEREBJYV+uyfAVPKBwr9dk+AqeQBERAFG4ttdTecP1Fvow0yvAMYccgSHA8fkpJEBQcQwYguOIrdNW2QUzKYuc+TvhrgQRllkN60xJc6q1W4T0Yj5R8zI2mUEtbtHLMgEZ9qlNJNwltVDLcIAC+KBxbtcM81Ay4fulyhiZcr+ZYg9sjo20zWkkbxvVUslOSNYLjfqK+Utru0tJKyrjkcx9PE5haWbPHNxzz2v0UwoWZ8dzxfTCleHNt0EnLPHAOfsgNz6d2amkfULoFpJ5h6lqtJPMPUqFSzWP0ZF1LLWJY/RkXUstAEREAWybzHfAVvWybzHfAUBUvtO+M/uifad8Z/dEAREQBZFn9LQ9ax1kWf0tD1oC0DifiKIOJ+IogCIiAKJxX9Si+NSyicV/UovjQEKiIgCIiAKcwv6Nd+IVBqcwv6Nd+IUBKIiIAiIgCqty9JzfErUqrcvSc3xIDhREQBEVVxNpAkpLjcbNYpaCKaz0sVVcZ7pM6OMRvJDWt2QSc8jm7LJpyzQEriTE89jqaK22y0mtuFwlc2jgfOIYhsN2nPklIOw0DoDic9zSsiXTfTU2jirxfUYcqaeutkzae7Wuc7RoJS4NL5HMB2oRmHcowEFpDtwzIqGKL3bseYSna2hdFc7W5tUbfUtcdrIEOyDfpo3sLgC3Nrs/cqhozxbf6K7z2rvhtVcrS3KCCYAOv1me3lGwTMAyZVRsLiwji1pBG7IAXy9TVml61urYbXDBibD5IuFjmfylNcaZ438m77TJGeVHKMi1245bwsXC1TZsX2am0eYhvkj9qR02Dr5OMqiCSPjTyH76I+SR9pvHnUXVVfiZXW3FGGry0WaRwkwzdzBJIxkTj/FttUIwXBuefJvyzY4bJ98hacJ4p0tXye5Wx9to8PS3BtXJIyjdtuqWvzEkDvJIdkCHOy3kncd6AzNFN2xRYseyYKq8LvhiquW8O0TYzyFPUDLKpgdlsuimBzLdxa4cF9Bwlowwdgm51V3w/bnRz1ZO258hcI2557LAdzW578gp6OJsYG7N2yAXkbytyAxL76Lk6h+6rLPNCs199FydQ/dVlnmhAaoiIAiIgJTC308vwj91OKDwt9PL8I/dTiAIiIAiIgK/iX0iPw/6qPUhiX0iPw/6qPQBERAFo/wA0rVaP80oC02r0dD8CyFj2r0dD8CyEAREQBbJ/oZPgW9bJ/oZPgQFRbw+Z/darRvD5n91qgCIiALLsXpeLrWIsuxel4utAWUcPmiDh80QBERAFEYr+hg+JS6iMV/QwfEgIZRWILZdZ7hR3aziF01LtgsnJAcHDLmUqmYzyzQETYbdd4rlVXW8MgY+drGtjgcSMhnv39a23me5z36mtFFc30rHwPkc+ONriSCAB5QO5aYpqZRWW+3NrnU8dRM4SyscGkANJG88N6RUVlssvhuvvj5THGWtkqagENB5gqpZKN4N+Hau4m4XC03CuNQaSWMRyujDSQ6MO35ADiVdMMejD+IqXhiKWeetvs0Lo+/Zg6ON/EMa0NaT0ZgZ5K6YY9GH8RUKkkiIgCIiADzh1qp1v16b4yrYPOHWqnW/XpvjKA40REAREQHJS/WovxArY3gOpVOl+tRfiBWxvAdSAIiIAiIgMHEfot/xBV1vAdSsWI/Rb/iCrreA6kAREQBERAS2FfpZuoKaULhX6WbqCmkAREQBERAV3EXpL+4FgrOxF6S/uBYKAIiIAtHc3WtVo7m60BbKD6lF+GFyrioPqUX4YXKgPjOmRmxjqfLnijP8A3c1VrdU1VovQvNJDHITSuhcyR5buLmuzzAPR+qtemgg44ly+4j/bL+iqaJ4YBLnyyTPaGmSQvLWnMDM8M1k27D89+iqGxXIQcmAAOR2s8x1hbrDQQXW4uo55XMDYS/NpHHMDn+ak62ps+DbdPyExlqJWksiLwXOOW7hwHvXOKzzZxb8D5lbal1Zb4Kp4AMkLXOA6SN6+z6H37WCYc+aaQfqvjVDTNo6OKkYcxHGGg9QX2PQ6MsFR/jv/AHXA5FqREQBZmHvSw+FYazMPelh8KAsiIiAIiIA7gepQmK/OgU27gepQmK/OgQEUiIgCIiAO4HqVgw36JZ8ar7uB6lYMN+iWfGgJBERAEREA+2Ooqo1H1uX41bvtjqKqNR9bl+NAbUREAREQHLQ+kIPxFaH+cVV6H0hB+IrQ/wA4oCpKbwr9Wk+NQZ2x/unflU3hdwbTSB3knb3bW5ASyLbyg+8Z2pyg+8Z2oDci28oPvGdqcoPvGdqA3KsXr0tL1qyFzR/vGdqrd6BN1lLWkjPiBuQGMiZP+7d2Jk/7t3YgCJk/7t3YmT/u3diAc46wrdB9C34VUQ1+Y8h3EfZVsikYImgSN3DpQHIi28oPvGdqcoPvGdqA3ItvKD7xnanKD7xnagMe8+jpfgKrA4KzXZzXW6bJwJ2NwBVZDXjeY3diA1RMn/du7Eyf927sQBEyf927sTJ/3buxASWFfrsnwFTygcLgtrHl4Lc2HLa3Kb5QfeN7UBvRbeUH3jO1cMtc1r+Ric17+gHh1oDmlmjhbtSOy6B0riYyepeJJSWNHmtHErSKIB/LTytc/mzO4Ll5QfeN7UBAYypKeukFJVxB8ckZD2HgQq94oWYDZDq0N9TwpPs9m3krLiYF1ZGWNLvIPm71G5P+7d2IDGgtNBSUgo6GnbCwHNojGWR6VuiqHxvFPVbnfZdzOXPk/wC7d2LZNAJ2bEkTvccuCA3rSTzD1LgjknpnCCpY4g+ZJs/uud4e5hyjdw6EBZrJ6Mi6llrDszg22RNLwDlvDjvCyuUHrt7UBuRbeUH3jO1OUH3jO1Ablsm3Mef5CteUH3jO1bXuY6N/8VueyQN6Aqf2nfGf3RNl4c4GN3nHm96ZP+7d2IAiZP8Au3diZP8Au3diALIs/paHrWOQ8jLk3diyLM1zbpC4sIAO8kIC0DifiKLaZGgnKRvHpTlB94ztQG5Ft5QfeM7U5QfeM7UBuUTiv6lF8ak+Vb94ztUXiny6OJsflEP37O9AQyJk/wC7d2Jk/wC7d2IAiZP+7d2Jk/7t3YgBOXMpzDHo534hUGWvPCN3YpvDBAoHNkIYeUOQcckBKotvKD7xnanKD7xnagNyLbyg+8Z2pyg+8Z2oDcqpdD/0nN8XFWkSNz3yN7VWLm13hKYtYSNo5EBAcCJk/wC7d2LEvl1FktU1zkpnSGNuUUWezyshOyxmfNtOIGfNmgKJiXFGO7XjWtjhFRLPb4RW0FngDRFdqAACdsRO81UZ8rYcfKBGW4u2JPF1mpcXWqj0l4Gggra6GkL6ZjjssuFM8eXTPz4Bw3DPzXAZ5ZFV2y2XS3izGNbi517ooZrJWyQUMclO5zOXYdl8ZjzAEYOYDznI4HPaAICycK4rkwhdW11TSmmtN8ufelTbid1lvBALoMzwjm2mvZnzvGXnhAUu22a62y6UtJhymrLhhu7MfWYfBqOSr7e7eKimgcd7J4XDyqd52JGbWRzY4LK0c4Yr7tc7TbMSXOmdHdq6pt+Hr1bXvjeKyGN9ZC/vc+XSzRiKqZMyU5tLNjMh4CtGO9GWkOa51TcDuidSXqqhqXxyz8i6z18bhs1sL9l3nNGy+PZcHbsxkXL7Ha8FYWo743GcuH7Ub/JRNp6q8w0LGTytyGbdve4NJAOzmeA45ICvaGMCYxwqy71GMY7dA25VvLttttc58McmWT5QXAZF5G0QAACfmr2xjI27LGBoHAAZLTlB94ztTlB94ztQG5Ft5QfeM7Vpyg+8b2oDHvvouTqH7qsAkAZb/cp27Tugt0lNO8Ozy5NwPH3KCDX5AiJ/5UBuHBEyeN3JO7Eyf927sQBEyf8Adu7Eyf8Adu7EBKYW+nl+EfupxQeF/JnlLxs+SPO3c6muUH3jO1AbkW3lB94ztTlB94ztQG5Ft5QfeM7UEjPtStHzQEBiU5XEfB/VYCz8SAuuIc0Z/wAPi3fzrAyf927sQBEyf927sTJ/3buxAFo45grXJ/3buxaOa/LdG73bkBabV6Oh+BZCxbY9rbdCNtoOxvBKyOUH3jO1AbkW3lB94ztTlB94ztQG5bJ/oZPgWvKD7xnatkz2mCT+I3e086AqbeHzP7rVaNa8DIxu4nmWuT/u3diAImT/ALt3YmT/ALt3YgCyrER4YiCxcn/du7Fl2IOF2ie8FrRxJG5AWQLVbNpozIkbx6Vryg+8Z2oDci28oPvGdqcoPvGdqA3KIxX9DB8SlOUb94ztUHiyofVRwxUJ2tl3lPbvAQETPUhjuSibtPP2RzdaQQOY7lZX7Tz+i3Q0wp25NifmeLiN5W/J/wB27sQHDXW6guUXIXCjinZnnsysDh+qx6XDOHKKYVFHYqSJ44PZTtB7clnZP+7d2Jk/7t3YgOCaGSJ/fNP/AHmdKsWEpmT2nbYf95vHQoTJ/wB27sUth+J0FCaiEhrtvy4yctoICaRcUNXFOzbjlZ7xnwW/lB94ztQG5Ft5QfeM7U5QfeM7UBuHnDrVTrvrs2/7fFWpsjS4ZyN49Kqtc2QV8v8ADcRt7iAgOMcETJ/3buxMn/du7EARMn/du7EO2P8Adu/KgOSl31cX4gVsbwHUqlSF3fUZMbt0g4hWoSNyGUjeHSgN6Lbyg+8Z2pyg+8Z2oDci28oPvGdq022kb5GbvegMTEfot/xBV1vAdSsGICDa3gODjtDc0qvgPyH8N3YgCJk/7t3YmT/u3diAImT/ALt3YhD/AFHdiAlsK/SzdQU0oTCx2ZJi/wAnhkXbs1M8o37xnagNyLbyg+8Z2pyg+8Z2oDci28oPvGdq05Rp3GRvagIDEXpLL+QLBWdiIF1xOyCRsDe3esHJ/wB27sQBEyf927sTJ/3buxAFo7m61rk/7t3Yha8kARO4+qgLXQfUovwwuVY9HIxlFEXSNAEYzzPBbTMazNrJGiPPe7PzkB8j0vRzy44qHNhcW8mwNcG5gjZz/qquYJhxhd+UrsOaaidltwQuIGQLmglBT0TfNggHU0IDrpLTxSbp4Guy4bbc1skpWR00ne9MG5sOewzLPsXZAMpxuDYh8guGup6SSlkDoYXeQfsjoQHVRsM2Q/hO/KvsWiimfTYJpuUaWl73uyI/mI/op3wZREeXbIz1wD/BaPglpDytJA7Z+1GG7svcgMhFtik5Zgexjsj/ACrdk/7t3YgCzMPelh8Kw8n/AHbuxZmHwW3VrnAtGzxO4ICyItvKD129qcoPvGdqA3ItvKD7xnanKD7xnagNzuB6lCYr86AKYMjeBkZ2qIxYM3QGM7Q59nfkgIlEyf8Adu7Eyf8Adu7EARMn/du7Eyf927sQGh4FWHDfolnxqvOa47+Tdw6FYMOkNtTGuIaQ7g4oCRRbeUH3jO1OUH3jO1AbkW3lB94ztTlB94ztQG77Y6iqjUfW5fjVrEjNrMyM3e9VSoa8VUp5N29+7cgNqJk/7t3YmT/u3diAImT/ALt3YmT/ALt3YgOSgOdwh/EVpf5xVWoA9tdCTGchJvJHAK0nYccxMz8yA15Jn3bPyBQeKSW1cTWHZGz9ncp5QOK/rkXwoCNzf98/8xTN/wB8/wDMURAM3/fP/MUzf98/8xREBo4vyP8AFf8AnKsljaHWyPba1xy4uaCVXHcD1KyWH0ZH8KAyuSZ92z8gTkmfds/IFuRAbeSZ92z8gTkmfds/IFuRAbCyMAnkmcN/khVN5dyr8pHjyvWKtzwNk7uZVF/0z/iQGmb/AL5/5imb/vn/AJiiIBm/75/5imb/AL5/5iiIDItJcblE1z3EbXAuzVmEbCM+TZ+QKs2j0nF8X+KtDeA6kBt5Jn3bPyBOSZ92z8gW5EBt5Jn3bPyBOSZ92z8gW5EBFYn8ilYWZNO3xaMlBue5o2nTvAHEl5UzjCeOCjjc87zIMgOJVfbDLUkSVQybzRj+qAGapqnbNPK9rOeQuO/qXLDCIG7Mb3jpO0d63gADIDIBEAzf98/8xTN/3z/zFEQE3hQF1JIX+Udvi8Z/upMxsO8xs/IFGYU+pyfGpVAbeSZ92z8gTkmfds/IFuRAbH08MjSx8LCD/IFjxt7xeI5Y2ujJ8l2wNyy1o5rX5NcMwSgKvdSfCc3JyOAzGQa7cuDN/wB8/wDMVpeOUobtMWguiLhmOdqMeyRoexwIPOEBrm/75/5imb/vn/mKIgGb/vn/AJijS8Pb/Ff5w+0UQee34ggLbHHGY2/w2eYPsDoWvJM+7Z+QJF9G34B+y3IDbyTPu2fkCckz7tn5AtyIDbyTPu2fkCxb01rbXM5rWg5cWtyWYsS9+ipupAVlpkyH8Z/D1itc3/fP/MUbwHUiAZv++f8AmKZv++f+YoiAZv8AvX/mKksLAurZGvJcNjg45qNUnhX69J+GgJsRsIz5Nn5AnJM+7Z+QLc3gOpEBt5Jn3bPyBOSZ92z8gW5EBtMbAM+TZ+QKBxPm24NaxxaNgbmnJWB3A9SgMUekm/hhAR2b/vn/AJimb/vn/mKIgGb/AL5/5imb/vn/AJiiIDRzpNkjlH/nKs9qYw2+IljSdjiW5qrVNRBSwOnqZmRsG4ue4AfqqledMl0rLn4PwtjS22ylpJTCJZ7c6pEzw4xkyOD28jHyoLA4B29pQE9pl0oXLCNbRYOwnRQvu1yBMT5GDKNu/LLPdtHI8dwyzKpd2xbiauwZcqbSDWzxW0udQX/Za0S2t7vMqo5ogNpgORO4bPFcmLbvY8WWOHFONbWy2YioLrS2y7v74JbSRufvkY4fYcHZh38wVYpKHGlDiaiorJgmmuF0e6aCqoamuLYp6WRrtx2cwIwNg7RBzJ3Z8ABNUWkHEOGLlcLvZ56OK7VxYMQUddQzmnrJmxtjZX0z4mOaS+NrNoDPMNAy3AqawjojxNpCp7lXYzvVTS2u8VfL1lDHCIzWv2IGNlyPlRFraePZPneU7huyvWiPA1dgrAlDhy/inkmpQeTZENpsDSSRG1x3uDQcs/dwCtfDggOOaNgheeTZ5h4NHQqlnJtH+K/j6xVvn+gf8B/ZVEcT8RQDN/3z/wAxTN/3z/zFEQDN/wB8/wDMUzf98/8AMURAZFqYJrhHFK4uac8w458ynoyaR4gqGtLCfIkLf0Kg7N6Ui6z+yskkbJWGORuYKAcmw/7tn5AnJM+7Z+QLgZI+jeIZnExnzHnm9xWTx4IDbyTPu2fkCckz7tn5AtyICIxQAynj2Bs+WfN3cyhs3/fP/MVNYq+gj+M/soVAM3/fP/MUzf8AfP8AzFEQDN/3z/zFCX5Z8q/8xRHcD1ICdw00PoC54Djt8XDNSPJM+7Z+QKPwv6PPxqSQG3kmfds/IE5Jn3bPyBbkQG3kmfds/IFoWMH+6Yf7gW9aO4HqQFWuRf4QmAkcBt8A5cOb/vn/AJiua5ekZvjXCgGb/vn/AJimb/vn/mKIgGb/AL5/5itYnSCeMcq7e7fm4rRax/WI/jQFtbGwtB5NnD1AnJM+7Z+QLVnmDqWqA28kz7tn5AnJM+7Z+QLciA28kz7tn5AsK/hrbVIWMa0g8WjJZ6wMQeiZetAV4OkIz5V/5imb/vn/AJijeA6kQDN/3z/zFaPkMbS987wBz7ZW2adkDc3byeDRxK42U75n8rVc3ms5ggNM6it4yyMi+M5uU3hJrWyTM2cw1u4O35KMUphP6af4UBNCNhGfJs/IE5Jn3bPyBbm8B1IgNvJM+7Z+QJyTPu2fkC3IgNpjYBnyTPyBV/EubbpssJaNjg05Kwv80qv4n9Lf3EBETRTQP74ppH/zs2jvXNDPy7BJHO/L4juW5Y80UlPJ3xTNzB89g5/egMjN/wB8/wDMUzf98/8AMVtilZMwSRnMFbkBo90gYTyr+HrlWqha11HECxpzZxLc1VZPMPUrVQfU4fgQHLyTPu2fkCckz7tn5AtyIDbyTPu2fkCckz7tn5AtyIDhq2NZSyODGg7B3hoVUa6Q5/xX8T9oq2V31OT4CqmzgfiKA1zf98/8xTN/3z/zFEQDN/3z/wAxTN/3z/zFEQGXYi7wo3aeSNk7nHMFWPko/u2fkCrli9KM+EqyoDbyTPu2fkCckz7tn5AtyIDbyTPu2fkCGOPnjZ+QLcmQPEICGxVk2OHZGzvPm7lEZv8AvX/mKmMW+ZF1lQ6AZv8Avn/mKZv++f8AmKIgGb/vn/mKFzwM+Vf+cojuB6kBP4daH24bbQ47R3uGaz+SZ92z8gWDhv0ePiP7qQQG3kmfds/IE5Jn3bPyBbkQG3kmfds/IFpIIYmF72MAA3+QEmmZC3aeeodK42wvnPLVI3fZZ0daAqdXy1bWSmR72xCQ7LA4jNbxtNGQleAOA2iuSr+ty/iFcaAZv++f+Ypm/wC+f+YoiAZv++f+YrfSl/fcQ5VxG2MwXFbFvpfrkXxhAWwsaf8Ads/IFpyTPu2fkC3IgMaWk5GTvimjZ/OzYG9ckJhnZtsjZ7xsDcuVcE0D2P74pvO+031kBy8kz7tn5AsDEjWttLnNaGkO4tGSzoKhlQzabxHEHmWFiX0Q/wCL+qAr+b/vn/mKZv8Avn/mKIgGb/vn/mKZv++f+YoiAZv+9f8AmKlsKjaM+35WQ3bW9RKlsKcZ+pATHJM+7Z+QJyTPu2fkC3IgNvJM+7Z+QJyTPu2fkC3IgNvJsA+jZ+QKvYh2hdnBjy0bPBpyVjPD5quYi9LP+EIDCzf98/8AMUzf98/8xREAzf8AfP8AzFM3/fP/ADFEQGji/LMSv/MVa6NjDSRExtzLBvLQVVH+aVbKL6pD+GEBv5Jn3bPyBOSZ92z8gW5EBt5Jn3bPyBOSZ92z8gW5EBj3BjG0MxDGgiPcQ1VZpfl9K/8AMVarl9Qm/DVVZ5oQFxUDiv65F8KnlA4r+uRfCgI1ERAEREAdwPUrJYfRkfwqtu4HqVksPoyP4UBmIiIAiIgNH+YepVF/0z/iVuf5h6lUX/TP+JAaIiIAiIgMi0ek4vi/xVobwHUqvaPScXxf4q0N4DqQBERAFxT1Ow7kYW7ch4Do95W2SeSZ/IUv95/MFyQU7IG5N3k+c48SgIjEdNsU7JpnbcheM3Hm6lEqcxV9Vj/ECg0AREQBERATeFPqcnxqVUVhT6nJ8alUAREQBB5w60QecOtAVe777rNn0hR74ZaV5mphm0+dH/gpC7+lZusLHQGyGeOdm3GesdC3rhmpnbXLU52X8/QVrBUiQ8nINl44tKA5UHnt+IIg89vxBAW6L6NvwD9luW2L6NvwD9luQBERAFiXv0VN1LLWJe/RU3UgK03gOpEbwHUiAIiIApPCv16T8NRik8K/XpPw0BOt4DqRG8B1IgCIiAO4HqUBij0k38MKfdwPUoDFHpJv4YQEciLZUCZ0EjKaQMkLCGOIzDXZbiQgN64LnWSW621FfDQy1L4IXSNpoSNuUgE7Lc8hmeG9fJrZiTGGBDXXKpqa253O30rW4is22ZOWO15Fwga45hjhmHtbuGW4blp4XxtcKelxFU3WutVTdNk2u6PuzpqIy55tgmpiAyNjx5Ic3eOnPiBww4i0m49xLaLxXU+G47bc6aDxbr3sfURUdQY6p9bHJTybJfURujpom7QZkHSuGRLo1Mx3ijwddayqxPaKYCjtAosX2KhpQyCooHSSPiuUEY3gbUjxKBnl/cBdCXe5U1XHUy8lJTU1VVNZia3UrdqoslwByjrogObPIOGWTm5FXrR1guDTZgSgvuPmTx3e38tRMvNEzkTWU+YDi0EH+HIACW7xnw5igIrD2jbGD8c2Sjktr7pbKYPjffJ5QYLhZntLooZ28JJ4nbIY4byPK4E5fYcO4MwthNj2YdskFLt+e6MEuPuzOZy93BZVntFvsFpprHaaYQ0tHAyGnibwYxoAaB1ALJQBERAbZ/oH/Af2VRHE/EVbp/oH/Af2VRHE/EUAREQBERAZVm9KRdZ/ZWZVmzelIus/srMgNHsbI0se3MHiCscOkoXBryXRHgfVWStHNDgWuGYPEIA1wcNppzB4FarHLJaMl0YLozxb6q5o5GStD2OzBQEXir6CP4z+yhVNYq+gj+M/soVAEREAR3A9SI7gepAT2F/R5+NSSjcL+jz8akkAREQBHcD1IjuB6kBVbl6Rm+NcK5rl6Rm+NcKAIiIAtY/rEfxrRax/WI/jQFuZ5g6lqtGeYOpaoAiIgCwMQeiZetZ6wMQeiZetAV5vAdS4p6nYdyMLdqQ8B0da2vqHyO5Cl4/afzNW+CnZA3Ju8nznHiUBpBTbB5WV2088SebqXKiIApTCf00/wqLUphP6af4UBON4DqRG8B1IgCIiA0f5pVfxP6W/uKwP80qv4n9Lf3EBgIiIDHlhfTvNRSt4+ezp965oZmTsD4z1joW5cEsD4Xmophv+0zmKA5pPMPUrVQfU4fgVRZOyeEubx5weIVuoPqcPwIDnREQBERAcVd9Tk+Aqps4H4irZXfU5PgKqbOB+IoDVERAEREBl2L0oz4SrKq1YvSjPhKsqAIiIAiIgIfFvmRdZUOpjFvmRdZUOgCIse53SjtFIa2ul2WAgAAZlxPAAc5QGQjuB6lFUuIaxtwhor1Z30Qq2F1G+RwO3l9k9Dst+SlHuDWFzjkAMyUBYcN+jx8R/dR100g0lvqXxRW98sUcvJum5QN2nZ5ENHPvzHNvBUNFdsQXPDE17t87qKggzML2/SVB2gAf5W7+srPk0dyVM0k9Nd+RhqjtzMER2wSdo5EOA4kneDlmUBZ6WpirKaOrgdmyVgew9IIzCT1DYBllm4+a0c64oxDbaWKgpWZ8nGGRt9wGQzXJBT8mTLKdp54noQGkNO4v5eoOb+YczVzO4HqRHcD1ICp1n1yX8QrjXJWfXJfxCuNAEREAW+l+uRfGFsW+l+uRfGEBbUREAREQHDPTuD++KY5SDiOZywb7Usns7xlsuDvKaeI3qUUViym5S1OljdsyNducOffwKAhEXFT1PKHkpm7Mg4tPP1LlQBERAFLYU4z9SiVLYU4z9SAmkREAREQA8Pmq5iL0s/wCEKxnh81XMReln/CEBhIiIAiIgNH+aVbKL6pD+GFU3+aVbKL6pD+GEByoiIAiIgOC5fUJvw1VWeaFarl9Qm/DVVZ5oQFwDs+brUDir65F8KlPDVq4d+hRt6ifd6hk1sbyzWNyc4cxQEYiyPA929jKeB7t7GUBjosjwPdvYynge7exlAYzjzZ5blZbD6Mj+FQQst1yLe8ype3V1HQUbKWrn2JGjJzTzICSRYnhu1e2hPDdq9tCAy0JyGeSxPDdq9tCeG7V7aEBkk+SQTnu4qpP+mf1qyG9Wo/8AGAnLcoJ1pur3l7aM5E7kBjosjwPdvYynge7exlAY6LI8D3b2Mp4Hu3sZQC0ek4vi/wAVaG8B1KuUNvrqOsZVVdOWRsOb3nmCmPDdqA+ujcgMvhxWO6WSrfyUByjHnP6fcFhuvttrXGNlblEPOd0rIZeLRG0MZVgAcAgMqOJkTAyNuQC3LE8N2r20J4btXtoQGLir6oz41CAgqZvM0V1gbBbncq9rsyBzBRws11G8UZQGOiyPA929jKeB7t7GUBjosjwPdvYynge7exlASWEye85M93lqVDiTkomyystED4bk8ROc7NoPOFmeGrV7YEBlosTw3avbQnhu1e2hAZaDzh1rE8N2r20IL3agQTWjcUBBXcjwrN1hY6zK6grq6ukq6WnL43nNjhwK4/A939jKAx1xz08c4zduI4OHELM8D3b2Mp4Hu3sZQEe2okp3clV8PsyDgetZAILm5H7QXO+yXR7Sx9DmDxBXALHeaJwcyjc6IOzc3nb1IC3RfRt+AfstywYL/Z5I2llc3c0AjoK3+G7V7aEBlosTw3avbQnhu1e2hAZROW8rFvfoqbqTw3avbQuC4XChraGSkpKgPkeMmtHOgIFvAdSLnbZruAB3meC18D3b2MoDHRZHge7exlPA929jKAx8wOJUnhX69J+GsTwNdvYysuyxyWmodPc28k1zcmk85QE63gOpFieG7UP+NCeG7V7aEBlosTw3avbQnhu1e2hAZbuB6lAYo9JN/DClDerUf+NCjbzFLdqptTbGcqwNyc4dKAgr265Ns9S6zFoqhA405cMxt5bl8odpNisd6oWUtdcaWSptTameruDjPSyyteY52SBuboiyQbDntGQJaCN4X2nwPdvYyvmuJ8CSWDGQNZcX2+KaWqr7dUOhEgO3Ae+6MN9VwibUZHi9uaA3XutocWVFDXRtjtGJ6ZhfZaqZwdBWMIBLGSt8maJ44gHPictxVctl2gFFNhq62Bow9cqvvC7WyaUcrYa158lv88EjiDHI3eCRu47OfhjCOk3EuCaWlwhZ7OMMRsL7Rh+50xkFVA8l7pZJfOie4ucW7O4bXDLyVL6OtAN1orhNiLG9pbNUR1vKWmnkqHTOpYgGlrJHnLli14c5pcM27RyyQG3AuiS+Ybxc7EV8v8NYILaKGCcQZVFXCDm3vh/B5aPJB3kjn5j9ls4bHbIWMYAAwZNA4KANluzhl3mVM0VyoaSkZT1NSGSMGTm9BQEgDmixBerUOFaE8N2r20IDLRYnhu1e2hPDdq9tCAyJ/oX/AAH9lUQ7yiMt+assl4tskbo2VgJc0gD3qCNlurs8qQ5E5goDgRZHge7exlPA929jKAx0WR4Hu3sZTwPdvYygN1m9KRdZ/ZWXPmCrtBQ1lBWsq6yAsjb5zjzKYF6tJOffoQGWDmixPDdqH/GhPDdq9tCAy1wPp3wuM1L/AHmcxXH4btXtoTw3avbQgMDElQyamjy3ODjm08RuUSpS/wAUd6jYbU/blYc3FvQo2Ogu7X8jUURa7mPMUBtRZHge7exlPA929jKAx0dwPUsjwPdvYyhs92y+plAS2F/R5+NSSibRUQWulNNcHiJ+3mGnoWX4btXtoQGWixPDdq9tCeG7V7aEBlraTu3lY3hu1e2hDerUeNYEBAXL0jN8a4VmVdtuFVVSVNNTF0b3Ztd0hcfge7exlAY6LI8D3b2Mp4Hu3sZQGOtY/rEfxrn8D3b2MrWOz3RsrZJKQgNOZKAszPMHUtViC9WsADvwJ4btXtoQGWixPDdq9tCG+WoDM1oQGXw4qJxHI+qtksUDsmA+W/8AoFvdfbdWOMcdbsxjzndK0uNTRVtudQW6QPkd5rAOKAgYYmRRhjAtyyBZrqOFGU8D3b2MoDHRZHge7exlPA929jKAx1KYT+mn+FYfge7exlZtkY6zySSXMckJBk0nnQE23gOpFieGrUN3foTw3avbQgMtFieG7V7aE8N2r20IDKf5pVexN6W/uKXN6tR3GtCi7vTT3Ot76t0fKx7OW0OlARyLI8DXYHPvI5p4Hu3sZQGOiyPA929jKeB7t7GUBgVVOcjPAcn5bxzOVstVS2Wjia5pa8M8ppUC6y3dzS3vM71LNrLa2njZNVCOaNuWY5igJMb0UdDiO2B3IVFWA7mPM5c3hu1e2hAZa0JyWL4btXtoTw1auPfoQHNWn/Y5M/UKqbOB+Iqxz3a2zwPhjqw5z2kNHSVCNst2aN1GeKA4EWR4Hu3sZTwPdvYygMdCclkeB7t7GVobNdjvNGdyA32H0m3fn5JVmVetlHU2+sFVXxGOMDIuKlvDdq9tCAy0WJ4btXtoTw3avbQgMtaEnP8A9XesXw3avbQnhu1e2hAYOLN8cO7nO5RCl704XZsbLX/FLM9vLmWB4Guw/wCDKAx1hX20m7UrWwzmKeGQS00w+w8cOsdKlfA929jKwrpUm0SNgq43GZ48iCJpc93U0b0BtpJqPHtlmsl4j5CupnATNafKhkHmyMPQeIPWFgW+suEQnw5fgG1sMbtl44VDMtz2/wBRzFYt2uFXFUR3imttXb6yHyYpqylcyOVvPG45cD+h3qcfb4tIVkbUwROpLhTOzYT59PJ0HpaewhAbbax7dCNPkCSaWFx6tthP6K5kSR04bE0FwaAASoHD9hqqfR/HhS9TthqO9TE9zN4bzAjp5lkG4Ynom/xIKOtA54ZDE4/J2Y/VASlPT8l5bztPPnOXKq9LpFttvJF7tdfRgHIvdT7bPkW5rNtuMsM3eIzW68MlDTk7Z4tPQRzICUR3A9SxPDdq9tCeGrWR9cCAr1YQKyUH7wrjWVUWu4VE75oaUuY95c09IW3wPdvYygMdFkeB7t7GU8D3b2MoDHW+mz78iyH2wuXwPdvYyt0NquUM7JpaYta1wLieYICyuOW/9FqN4WIb3avbAgvVqH/GBAZaLE8N2r20J4btXtoQGWo/Evoh/wAX9Vy+G7V7aFjXesp7nQmjt8glkJz2RxQFfnp46huR3Eea4cQtkdQ+Fwhq+J82QcCs8Wa7ZbqIrSSx3SVhZJQkg8QgOBE8EXqiGTqN74+nnaudlqukjdtlKSDzhAcGYzyUthTjP1LBNmux40ZWdZP+iOUN0/hcpubnzoCaRYnhu1e2hPDdq9tCAy0WJ4btXtoTw3avbQgMrPPdlz71XcReln/CFL+GrTuzrB7lF3WlqLnXurLfEZYyMg8cEBHosjwPdvYynge7exlAY6LI8D3b2Mp4Hu3sZQGM4jZO9Wyi+qQ/hhVt1lu5GQoypunu1thgZDLVBrmNycOgoDORYnhu1e2hPDdq9tCAy0WJ4btXtoTw3avbQgOS5fUJvw1VWeaFYqm6W6oppKeGpDnvZkxvSVCizXYDLvMoDADn0pDagbTOaTLeOtWLCZaaSQsO4v5lCkAjIjMHmKk8LxS0tPI+mG0zb8qPPh1ICcyPrntWuR9d3atsM0c7duM9Y5wtyAZH13dqZH13dqIgNMj6x7VWb0AbtMSOdWdVi9elpetAY2Q6AmQ6AiIBkOgJkOgIiAZDMbhxCtsOZhb5R83pVS5x1hW6D6FvwoDdkfXd2pkfXd2oiAZH13dqZH13dqJw4oDFvJItkwLjlsHPMqnuzrXGKPdED5TgPO9ys97e6uoJoojlGGnbd0+4KBjY1jAxoyA4IDRkccbQxjAAOAyW7IdAREAyHQFpst9Udi1RASOFd1bJlu8g8FP5H13dqgcK/XZPgKnkAyPru7UyPru7URAMj67u1Mj67u1EQEBijfWx57/IKjsh0BSWKPrsfwFRqAZDoCZDoCIgGQ6AtsjW7B3BblpJ5h6kBZrJn4LiAJG7mKysj657Vi2P0ZF1LLQDI+u7tTI+u7tREAyPru7VslJDHeUfMPOt62TeY74CgKXLS5yumpyGv2znu3HfzrWKoa53JTM2H9B51zfad8Z/dbJoI5m5Pb1HoQG/IdATIdAWOJZaU7FR5TOZ4/qsgEOG005g8CEAyHQFz2ZrRdocgOK4FkWf0tD1oCz7yT5R49K1yPru7UHE/EUQDI+u7tTI+u7tREBpkfXPaorFmbqKLaOfl86llE4r+pRfGgIXIdATIdAREAyHQEyHQERAMh0BTmFt1tdlu/iFQanML+jXfiFASmR9d3aqxpRsNwxRhiamw9DHLdKIirthmkLWGojO2xjiN+w4gNcOdriOdWCaZ8z+96c7/tO6FywwshZsMHWelAVPQlhfEuEsCttWJ4Iaad1fVVEVHTSl7aWKWZ8jYg48dkOyHMBkBuAVuyPru7URAMj6x7VVLmAbpMSPtK1qq3L0nN8SA4ch0BMh0BEQDIdATIdAREBrGByrN32wrbHmY2naPDpVSj+lZ8YVti+ib1IDdkfXd2pkfXd2oiAZH13dqZH13dqIgMO+D/ouXMk5gcetVpoGyNw7FZr76Lk6h+6rLPNCA1yHQEyHQERAMh0BMh0BEQEnhXyaiXZ3eSOHWpuSJsrdmQkjrULhb6eX4R+6nEBj7U9Gcnuc+PmdnvauZjhI3aZKSDzgrdx4rgfTvidytKculh4FAc+R9d3amR9c9q44Klk3k+a4cWniuRAV7Eu+5Anf/D/qsDIdAUhiX0iPw/6qPQDIdATIdAREAyHQFte1uWeyOxblo/zSgLTaszbocnEZM5isjI+u7tWPavR0PwLIQDI+u7tTI+u7tREAyPru7VsmJEEg2j5nSt62T/QyfAgKi0DLgOJ/da5DoC0bw+Z/dHODQXOOQHEoAdkDMgABY52q5+ywbMQO8+smbq524kRD/vLIa1rGhrRkBwCANjYxoaxgAHAALLsIAu8RAWKsuxel4utAWQZn7R49K1yPru7UHD5ogGR9d3amR9d3aiIBkfXd2qHxZ5UMAdv8rnUwojFf0MHxICF2W9AWuQ6AiIBkOgJkOgIiAZDoCnsL7rYQDl/E5lAqewx6MP4iAkcj657VrkfXd2oiAZH13dqZH13dqIgDcw4HaPHpVTrQDXTEj7ZVsHnDrVTrfr03xlAcEsEUzNiRgIXE18lIdicbcfNJlvHWshCA4ZEZhAaDYcNpuRB4EJst6AuB0UtKS+nG0znYebqXNFMyZu0w9Y6EBy0rW99xeSPpBzK2AEgHaPDpVUpfrUX4gVsbwHUgGR9d3amR9d3aiIBkfXd2rTI+ue1aogMDEY/6KeCc/KHFV1oGQ3DgrHiP0W/4gq63gOpAMh0BMh0BEQG0tAz8kH5LVoBHmjsWpOS27XlEBAS+FN0s2XQOCms3b8nE/NQmFngPmcASBlwCr+lTWV0GaFLVNdtJOk60WxkDSZIpaxjpN38gO1n8lwlUhBZk8IuLe0uryoqdCDlJ+CTb/BbcR3d9ks81czfLkGQtcdxe45NHaQuClhtWC7Q653CUyTyEGoqCNqSaQ8w5+O4AcF55a0Xd8tCVFRy4X0E4LrsS1MdRG4XKbKOBhY8HPZeGuPDmXZ/VP1majW00ZMxrA+kmrKWojraaCmOTZIXZkN3nc4DMb+BGStaOo2dxWdOnPLRJtV2NujRNMhf39vKnTl0b/wCfufYrrecSXq3PtkeFKmAVbeTbPJIwiNpIBLgDuOWZ596ya+wT0D4bvh07FTTRCN0ROTaiMfYd7+g8yzrNd6O90Ta6ieS0nJzXDJzHDi0jmIXFiC9TWeGEUlA6pnqJuShiDw0F2RO8ncNwKvSImCLzT4ko5J7dKY5dgsex4ydFJlwcOYgqq2O64wMTqR1/YaynIbVUlfStcWH3OZsktPEOOe5bL/Li+yY1bc/B9NHUVNPtupqeUltQxvnMJI3PAIIK3X67WnENdQ1uGdp1zbkZXDyRFFn5TJf1ybxz3jcgMuTE2OI4zTyYcpJHv3MmiqTsN97gRn8gtthsYtMcs1RPy9VUv26mcjLad7hzAcwUgiAZDoC2ua3duHFblo7m60Ba6HPvKLJxH8McCubI+u7tXFQfUovwwuVAMj67u1Mj67u1EQDI+u7tXDXZikk8onyDxPuXMuKu+qSfAf2QFTYBsjcFrkOgLRnmhaoBkOgJkOgIiAZDoCy8OgC7AgZeSsRZmHvSw+FAWPI+ue1Mj657VqiA0yJ4vPauF8EsJ5Slcf5mE7iudEBxxTtmacnuDhxaTwURize6DPf1qWnp2yeW07LhwcFB4nqXMlp4akbLuZ3MUBgZDoCZDoCIgGQ6AmQ6AiIDRzW5HyR2Kw4b3WhgBy8vmVfdwPUrBhv0Sz40BIZH13dqZH13dqIgGR9d3amR9d3aiIDQbQcPKPaqlUAd9y7vtq3fbHUVUaj63L8aA25DoCZDoCIgGQ6AmQ6AiEgDMnIIDkoQPCEG7/eKyT18MchYXOJHHZ3qp0cslZcYYqZ2ywSeVJ09StzII4RybG7kBVVN4V+rSfGoRTeFfq0nxoDPmpiX8vTu2X8/Q7rW6CoEp2Ht2Xji0rkXHPTtmGfBw81w5kByIuGKoc1/IVAydzHmcuZAFWL16Wl61Z1WL16Wl60BjIiIAiIgHOOsK3QfQt+FVHnHWFboPoW/CgNyIhIAzJQDhxWO9z61xiiJEY853T7gjnvrHGOI5RjzndPuXOxjY2hjBkAgMW7MZHa5GMbkAw5BVocPmrNefR0vwFVkcPmgCIiAIiICSwr9dk+AqeUDhX67J8BU8gCIiAIiICBxR9dj+AqNUlij67H8BUagCIiALSTzD1LVaSeYepAWax+jIupZaxLH6Mi6lloAiIgC2TeY74Ct62TeY74CgKl9p3xn90T7TvjP7ogBAcMiMwscxS0rtun8pn2o+jqWQiA2wzRzs243Z9PuWVZ/S0PWsGWmIdy1Odl/OOYrKsFQJbtC1zdl4O9pQFsHE/EUQcT8RRAEREAUTiv6lF8allE4r+pRfGgIVERAEROHFAFKYcnfNQup6c8JDtvHMoOSWSqcYac5N+09WLCcTIbW5jBkOUKAk4YWQM2GDrPSt6IgCIiAKq3L0nN8StSqty9JzfEgOFERAEREBrH9Kz4wrbF9E3qVSj+lZ8YVti+ib1IDciIgCIiAxL76Lk6h+6rLPNCs199FydQ/dVlnmhAaoiIAiIgJTC308vwj91OKDwt9PL8I/dTiAIiIDjnpmTeUCWuHBwWyOofG8Q1QyP2X8zlzrbJEyVpZI3MFAQGJPSI/D/qsBc+JHS0dzAeS6PY3HnG9Y7XNe0OacweBCA1REQBaP80rVaP80oC02r0dD8CyFj2r0dD8CyEAREQBbJ/oZPgW9cVXIyKmkfI7IBiAqW01jC5xyAJzJXBk+vOZzbEDuHO5I45Kw8pMNmME7LOnrWSAAMgMgEBo1oaNloyA4BaoiALLsXpeLrWIsuxel4utAWUcPmiDh80QBERAFEYr+hg+JS6iMV/QwfEgIZERAEREAU9hj0YfxFAqewx6MP4iAkkREAREQAecOtVOt+vTfGVbB5w61U6369N8ZQHGiIgC4ZqYl3LQO2XjsK5kQGluqRJVxxyDZeHjNpVxbwHUqeynZPUxZ7nCQZOHEK0xVD4iIKrj9l/MUBzogIO8FaOJG8dipkGqZjsWg4Z5rQ7zmOZVBhYj9Fv+IKutIIyVixFkLS8A8HBVeurqO20hr7lVw08DG5vmnlDGtHSc1RtRWWc6dOpVlwwWWc+e/JaFzSdnP5Lrnp/7qdqd6v7Z7fc9I0N8u0OY8FWRwkeT0HPIfqukOn/u8Om7GzZ7LoKwXSYWoXu2RcqvOSq2c952Dm3PL3rF3WtWFrylPL9OZsbbvZRvXcfxULZxh1zL4f35/Y9Vp8a4VobXWXy43uGnoqBu1WVM52GQt4ZknLd711+1z+6c6E9UK02nlKCpxHcsQUhqbRTUBIjki35Pc8ZgAlpHyXWzE2LdN2tvonw3hLAOllzn3KKCGWWkhZs3GHc6SKQZbsyD7wVTO6C6rGMNN+sO2OmnNhtGGMJw0FohqIc3yztLiRs/ZZmcs+xWt5qVeVq526+RI9rdn+kUdwUrbXKmFzcks5wsL55bf2yY1N3TTXP11caz4C0f3qnwBhxkfK3KotjBJVMhzyDWyjZye7gCRu4qga8WhTR0NGsGNbtimSO+W0BlPPdax88t1JObmPLs3Pk4uDubeDkDurmoZWO0e6XcTaLsX07aO6yQtayORwze+InaaOncdoe5RGvzgDHtu0iR48utZPW2KrY2KhfmdiieBvjI4Nz4g86ila6r1rBzq5k319P/AAejtL25oum7ypWunKNClHDg0l8aaT6+LlzXP9z4E3Zjj3uIblwceC7l9yJ1m8e6rWnyx2nG9vr48BY8kfSU81RGRHHV+S1j48+Y5nMc/Ec+fTinmfSVMVcyBjzDK17WyxbUbiCDk7PcR0hd7NEWPcDaz2iSKDwdHR19qkjdLSQgB1DUx745I+gZjMH5Kz0VundKopYkvDzJZ2tRjfbclZToqdKeU5eMH4Y8n+/Q9f6qjnErcWYOdHOJwHVFM14DKlvM4HgHe/nWkUF9xJdqapuNqdQ0lFLyrWSSAvlfkQOHADMr5rqpYwxBjDRDb7vYrlDPUUje9LjR1JIY6aNoaXtcPN2uOW8ZlfSHO0h3ZppqhtDbWHc6WCUyvy92YABW1ISU4po+cFzQla3E6UusW0RGL6mK6Y/pqamdtC3Uz3TvHAPfkA3ryBJ+S5GQxRuc+OJrS45uIbkSfeuSpstFYpzSUbSS4B0sjzm6Rx4uJ5ytq5HQEREAWjubrWq0dzdaAtlB9Si/DC5VxUH1KL8MLlQBERAFxV31ST4D+y5VxV31ST4D+yAqbPNC1WjPNC1QBERAFmYe9LD4VhrMw96WHwoCyIiIAiIgDuB6lBYwiZMIGSNzBU67gepQmK/OgQEFtTURydm+LmPO1c7HtkaHMdmDzha8eK4HwSQOMtMd32o+YoDnRbIZ2TtzbuI4tPELegDuB6lYMN+iWfGq+7gepWDDfolnxoCQREQBERAPtjqKqNR9bl+NW77Y6iqjUfW5fjQG1EXHPUMhGR3uPBo4lAbpJGRNL5HAAdK4NmWuObgWRdHO5bo6d8zhNVf3WcwXOgOS3MayugYxuQD9wCtL/OKq9D6Qg/EVof5xQFRLslN4WJ72kA9dY/itXc87Fy087MMtNNWN23SeUCzmCAmUUT400H3D08aaD7h6AlJoWTs2HjqPQuGOaSneIKk5g+ZJ09awfGmg+4etJMTW6VhY+neQUBLE8MlWb16Wl61kx4tpaR/JTQPLPsP/AKFbpLPUXiQ3Onla1ku8NdxCAi0Un4q13tMaeKtd7TGgIxFJ+Ktd7TGnirXe0xoCLBJcN/PwVvg+hb8Kg/FatG81DNy5n4roIGbMsLxsjIoCYJDRtOOQHElY+b605NJbEDvPO5RQxPS1btqWne2PmbznrXOMUUAGQp3gBASrGNY0NYMgOZaqJ8aaD7h6eNNB9w9AZl59HS/AVWRw+amZL1TXVht0ETmvlGy1zuAK4BhWuH/EsQEaik/FWu9pjTxVrvaY0BGIpPxVrvaY08Va72mNAbcLfXJN/wBgqeBJ49ihYKd2G3mqq3CQPGyGs45rl8aaH2d6AlkUT400H3D08aaD7h6AlkUT400H3D08aaD7h6AxsUHKsjP8hUcDnvUrNTvxI8VdG4MbH5JD+Oa2eKtcB9ZYUBGopPxVrvaY08Va72mNARi0k8w9SlPFWu9pjWjsJ1zhs98s3oCTshHgyLqWXmDwUPFeqa0sFtnjc58W5xbwK3eNVD7O9ASyKJ8aaD7h6eNNB9w9ASy2S+a74CozxpofZ3p400TxyYgfm4bIKAhftO+M/uikhhatcdttQzJxzHuzWvirXe0xoCMRSfirXe0xp4q13tMaAiySD/6u5cltpxNdoXtJa8Hc4LP8Va72mNaxWWotMoulRI1zYt7gBvQEvBUEyGCcbMgPyPUuZQ0+JLdUN3wPB4tcOIWyDGFIH971NO8P+y7mcgJxFE+NNB9w9PGmg+4egJUkjh/9RROK/qUXxrXxqofZ3rZU1DMTtFJSZsdHvJegIhFJeKtd7SxbZsN1UDNuSqj9w5ygI5zmsaXOOQHElcBMlacmEtj5zzuUmMH3KqcJKioY1gPkx9PWucYUrQMhURgBARjGMjaGMbkBzKdwv6Od8ZWL4q13tLFywVUeGo+8asbbnnaBb0ICZRRPjTQ+zvTxpoPuHoCWRRPjTQfcPTxpoPuHoCWPEDPJVS55+E5svWUqMVUAOfe71jy2GouchuEErWslObWniEBGjgik/FWu9pjTxVrvaY0BGIpPxVrvaY08Va72mNARsf0rPjCtsR/htHuUIMMVsZ5V1QzJnlHLoC5ximgDdjvZ+7cSgJZFE+NNB9w9PGmg+4egJZFE+NNB9w9PGmg+4egMq++i5Oofuq0zzVMy3envEZttPG5r5eDncAuHxVrm7u+GdaAjUUl4q1x/4li18Va72mNA
[...]
